CROSSWALK

In [1]:
import pandas as pd
import urllib
import os

In [2]:
# saving to thesis folder
path = '/Users/isabellagermani/Desktop/MS THSS/data'
url = 'https://www2.census.gov/geo/docs/maps-data/data/rel/2010_Census_Tract_to_2010_PUMA.txt'

name = 'crosswalk.csv'
full_path = os.path.join(path, name)

urllib.request.urlretrieve(url, full_path)

('/Users/isabellagermani/Desktop/MS THSS/data/crosswalk.csv',
 <http.client.HTTPMessage at 0x10e119950>)

In [3]:
crosswalk = pd.read_csv('https://www2.census.gov/geo/docs/maps-data/data/rel/2010_Census_Tract_to_2010_PUMA.txt', dtype=str)
crosswalk

      STATEFP COUNTYFP TRACTCE PUMA5CE
0          01      001  020100   02100
1          01      001  020200   02100
2          01      001  020300   02100
3          01      001  020400   02100
4          01      001  020500   02100
...       ...      ...     ...     ...
74086      78      030  960900   00100
74087      78      030  961000   00100
74088      78      030  961100   00100
74089      78      030  961200   00100
74090      78      030  990000   00100

[74091 rows x 4 columns]

In [4]:
# filtering for NYstate 
Crosswalk = crosswalk[crosswalk['STATEFP'] == '36'].copy()
Crosswalk

      STATEFP COUNTYFP TRACTCE PUMA5CE
43195      36      001  000100   02001
43196      36      001  000200   02001
43197      36      001  000300   02001
43198      36      001  000401   02001
43199      36      001  000403   02001
...       ...      ...     ...     ...
48109      36      123  150100   01400
48110      36      123  150200   01400
48111      36      123  150300   01400
48112      36      123  150400   01400
48113      36      123  150500   01400

[4919 rows x 4 columns]

In [5]:
# filtering for City counties
county = ('005', '047', '061', '081', '085')

CRosswalk = Crosswalk[Crosswalk['COUNTYFP'].isin(county)].copy()
CRosswalk

      STATEFP COUNTYFP TRACTCE PUMA5CE
43283      36      005  026701   03701
43284      36      005  026702   03701
43285      36      005  027300   03701
43286      36      005  027700   03701
43287      36      005  027900   03701
...       ...      ...     ...     ...
47145      36      085  030301   03903
47146      36      085  030302   03903
47147      36      085  031901   03903
47148      36      085  031902   03903
47149      36      085  032300   03903

[2168 rows x 4 columns]

In [6]:
# Full Fips tract code...
CRosswalk['tract_fips10'] = CRosswalk['STATEFP'] + CRosswalk['COUNTYFP'] + CRosswalk['TRACTCE'].copy()
CRosswalk

      STATEFP COUNTYFP TRACTCE PUMA5CE tract_fips10
43283      36      005  026701   03701  36005026701
43284      36      005  026702   03701  36005026702
43285      36      005  027300   03701  36005027300
43286      36      005  027700   03701  36005027700
43287      36      005  027900   03701  36005027900
...       ...      ...     ...     ...          ...
47145      36      085  030301   03903  36085030301
47146      36      085  030302   03903  36085030302
47147      36      085  031901   03903  36085031901
47148      36      085  031902   03903  36085031902
47149      36      085  032300   03903  36085032300

[2168 rows x 5 columns]

In [7]:
# getting rid of useless columns
CROsswalk = CRosswalk[['PUMA5CE','tract_fips10']].copy()
CROsswalk

      PUMA5CE tract_fips10
43283   03701  36005026701
43284   03701  36005026702
43285   03701  36005027300
43286   03701  36005027700
43287   03701  36005027900
...       ...          ...
47145   03903  36085030301
47146   03903  36085030302
47147   03903  36085031901
47148   03903  36085031902
47149   03903  36085032300

[2168 rows x 2 columns]

In [8]:
# dropping leading 0s from PUMA
CROsswalk['PUMA'] = CROsswalk['PUMA5CE'].astype(str).apply(lambda x: x[1:] if x.startswith('0') else x).copy()
CROsswalk['PUMA'].unique()

array(['3701', '3702', '3703', '3704', '3705', '3706', '3707', '3708',
       '3709', '3710', '4001', '4002', '4003', '4004', '4005', '4006',
       '4007', '4008', '4009', '4010', '4011', '4012', '4013', '4014',
       '4015', '4016', '4017', '4018', '3801', '3802', '3803', '3804',
       '3805', '3806', '3807', '3808', '3809', '3810', '4101', '4102',
       '4103', '4104', '4105', '4106', '4107', '4108', '4109', '4110',
       '4111', '4112', '4113', '4114', '3901', '3902', '3903'],
      dtype=object)

In [9]:
# dictionary for adding in SBA...
sba_to_puma = {
    301 : 3810, # sub-borough area to PUMA (2010)
    302 : 3809, # mn
    303 : 3807,  
    304 : 3808, 
    305 : 3806,
    306 : 3805,
    307 : 3802,
    308 : 3803,
    309 : 3804,
    310 : 3801,
    101 : 3710, # bx
    102 : 3705,
    103 : 3708,
    104 : 3707,
    105 : 3706,
    106 : 3701,
    107 : 3709,
    108 : 3703,
    109 : 3704,
    110 : 3702,
    201 : 4001, # bk
    202 : 4004,
    203 : 4003,
    204 : 4002,
    205 : 4008,
    206 : 4005,
    207 : 4012,
    208 : 4006,
    209 : 4011,
    210 : 4013,
    211 : 4017,
    212 : 4014,
    213 : 4018,
    214 : 4015,
    215 : 4016,
    216 : 4007,
    217 : 4010,
    218 : 4009,
    401 : 4101, # qns
    402 : 4109,
    403 : 4102,
    404 : 4107,
    405 : 4110,
    406 : 4108,
    407 : 4103,
    408 : 4106,
    409 : 4111,
    410 : 4113,
    411 : 4104,
    412 : 4112,
    413 : 4105,
    414 : 4114,
    501 : 3903, # si
    502 : 3902,
    503 : 3901  
}

In [10]:
# reversing it bc keys & values are in the wrong places
puma_2_sba = { v:k for (k,v) in sba_to_puma.items()}
puma_2_sba

{3810: 301,
 3809: 302,
 3807: 303,
 3808: 304,
 3806: 305,
 3805: 306,
 3802: 307,
 3803: 308,
 3804: 309,
 3801: 310,
 3710: 101,
 3705: 102,
 3708: 103,
 3707: 104,
 3706: 105,
 3701: 106,
 3709: 107,
 3703: 108,
 3704: 109,
 3702: 110,
 4001: 201,
 4004: 202,
 4003: 203,
 4002: 204,
 4008: 205,
 4005: 206,
 4012: 207,
 4006: 208,
 4011: 209,
 4013: 210,
 4017: 211,
 4014: 212,
 4018: 213,
 4015: 214,
 4016: 215,
 4007: 216,
 4010: 217,
 4009: 218,
 4101: 401,
 4109: 402,
 4102: 403,
 4107: 404,
 4110: 405,
 4108: 406,
 4103: 407,
 4106: 408,
 4111: 409,
 4113: 410,
 4104: 411,
 4112: 412,
 4105: 413,
 4114: 414,
 3903: 501,
 3902: 502,
 3901: 503}

In [11]:
# Adding SBA to crosswalk
# first changing puma column to be same type
CROsswalk['PUMA'] = CROsswalk['PUMA'].astype(int)

CROsswalk['SBA'] = CROsswalk['PUMA'].map(puma_2_sba).copy()
CROsswalk

      PUMA5CE tract_fips10  PUMA  SBA
43283   03701  36005026701  3701  106
43284   03701  36005026702  3701  106
43285   03701  36005027300  3701  106
43286   03701  36005027700  3701  106
43287   03701  36005027900  3701  106
...       ...          ...   ...  ...
47145   03903  36085030301  3903  501
47146   03903  36085030302  3903  501
47147   03903  36085031901  3903  501
47148   03903  36085031902  3903  501
47149   03903  36085032300  3903  501

[2168 rows x 4 columns]

In [12]:
# Lastly, dropping PUMA5CE

CROSSWALK = CROsswalk[['tract_fips10','PUMA','SBA']].copy()
CROSSWALK

      tract_fips10  PUMA  SBA
43283  36005026701  3701  106
43284  36005026702  3701  106
43285  36005027300  3701  106
43286  36005027700  3701  106
43287  36005027900  3701  106
...            ...   ...  ...
47145  36085030301  3903  501
47146  36085030302  3903  501
47147  36085031901  3903  501
47148  36085031902  3903  501
47149  36085032300  3903  501

[2168 rows x 3 columns]

In [13]:
# Exporting
CROSSWALK.to_csv('/Users/isabellagermani/Desktop/MS THSS/data/CROSSWALK.csv')