NYU Furman Neighborhood Indicators

In [1]:
import pandas as pd
import numpy as np

In [2]:
path = '/Users/isabellagermani/Desktop/MS THSS/data/furman_neighborhood_indicators.xlsx'
file = 2 # Data tab

furman = pd.read_excel(path,file)

In [3]:
display(furman.head(5))

,region_id,region_display,region_name,region_type,year,adlt_incar_rt,afford_le030_rct,afford_le080_rct,afford_le120_rct,crime_all_rt,...,unit_occ_own_pct,unit_occ_rent_sevcrowd_pct,unit_vac_rent_pct,units_cert,volume_1f,volume_4f,volume_al,volume_cn,volume_ot,voucher_pct
0,606,NYC,New York City,City,2000,1340.7,NaN,NaN,NaN,23.1,...,30.2%,NaN,NaN,13603.0,13586.0,13702.0,33454.0,4842.0,1324.0,NaN
1,606,NYC,New York City,City,2001,NaN,NaN,NaN,NaN,20.3,...,NaN,NaN,NaN,14289.0,13753.0,14165.0,34578.0,5284.0,1376.0,NaN
2,606,NYC,New York City,City,2002,NaN,NaN,NaN,NaN,19.3,...,NaN,NaN,NaN,15024.0,16933.0,17581.0,44954.0,8431.0,2009.0,NaN
3,606,NYC,New York City,City,2003,NaN,NaN,NaN,NaN,18.4,...,NaN,NaN,NaN,17192.0,15893.0,16812.0,44992.0,10421.0,1866.0,NaN
4,606,NYC,New York City,City,2004,NaN,NaN,NaN,NaN,17.7,...,NaN,NaN,NaN,19052.0,16641.0,17442.0,46592.0,10649.0,1860.0,NaN

In [4]:
# keeping only sub-borough area observations
furman['region_id'].unique()

vals_to_keep = 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 201, 202, 203, 204, 205, 206, 207, 208, 209, 210, 301, 302, 303, 304, 305, 306, 307, 308, 309, 310, 311, 312, 313, 314, 315, 316, 317, 318, 401, 402, 403, 404, 405, 406, 407, 408, 409, 410, 411, 412, 413, 414, 501, 502, 503

furman = furman[furman['region_id'].isin(vals_to_keep)].copy()
furman['region_id'].unique()

array([101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 201, 202, 203,
       204, 205, 206, 207, 208, 209, 210, 301, 302, 303, 304, 305, 306,
       307, 308, 309, 310, 311, 312, 313, 314, 315, 316, 317, 318, 401,
       402, 403, 404, 405, 406, 407, 408, 409, 410, 411, 412, 413, 414,
       501, 502, 503])

In [5]:
# Changing column names 
furman.rename(columns = {'region_id':'SBA'}, inplace = True)
furman.rename(columns = {'region_name':'SBA_name'}, inplace = True)
furman.rename(columns = {'afford_le030_rct':'aff_30'}, inplace = True)
furman.rename(columns = {'afford_le080_rct':'aff_80'}, inplace = True)
furman.rename(columns = {'afford_le120_rct':'aff_120'}, inplace = True)
furman.rename(columns = {'hh_inc_med_adj':'med_hous_inc'}, inplace = True)
furman.rename(columns = {'hp_first_fhava_pct':'FL_loans'}, inplace = True)
furman.rename(columns = {'hp_first_orig_lmi_app_pct':'FL_loans_2_LI'}, inplace = True)
furman.rename(columns = {'income_diversity_ratio':'inc_gap_ratio'}, inplace = True)
furman.rename(columns = {'lp_all':'mort_forc'}, inplace = True)
furman.rename(columns = {'pop_pov_pct':'pov_rate'}, inplace = True)
furman.rename(columns = {'pop_race_asian_pct':'asian'}, inplace = True)
furman.rename(columns = {'pop_race_black_pct':'black'}, inplace = True) 
furman.rename(columns = {'pop_race_div_idx':'prob_race'}, inplace = True)
furman.rename(columns = {'pop_race_hisp_pct':'hispan'}, inplace = True)
furman.rename(columns = {'pop_race_white_pct':'white'}, inplace = True)
furman.rename(columns = {'population_density':'pop_dens'}, inplace = True)
furman.rename(columns = {'priv_evic_amt_sought_med_adj':'priv_landL_amt'}, inplace = True)
furman.rename(columns = {'rent_gross_med_adj':'med_gro_rnt'}, inplace = True)
furman.rename(columns = {'unit_vac_rent_pct':'vac_rt'}, inplace = True)

In [6]:
# removing unnecessary columns
Furman = furman[['SBA','region_display','SBA_name','region_type','year','aff_30','aff_80','aff_120','med_hous_inc','FL_loans','FL_loans_2_LI','inc_gap_ratio','mort_forc','pov_rate','asian','black','prob_race','hispan','white','pop_dens','priv_landL_amt','med_gro_rnt','vac_rt']].copy()
Furman.head(5)

,SBA,region_display,SBA_name,region_type,year,aff_30,aff_80,aff_120,med_hous_inc,FL_loans,...,pov_rate,asian,black,prob_race,hispan,white,pop_dens,priv_landL_amt,med_gro_rnt,vac_rt
240,101,MN 01,Greenwich Village/Financial District,Sub-Borough Area,2000,NaN,NaN,NaN,"$130,660",NaN,...,9.9%,14.5%,3.1%,0.43,5.9%,73.6%,NaN,NaN,"$2,130",NaN
241,101,MN 01,Greenwich Village/Financial District,Sub-Borough Area,2001,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
242,101,MN 01,Greenwich Village/Financial District,Sub-Borough Area,2002,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
243,101,MN 01,Greenwich Village/Financial District,Sub-Borough Area,2003,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
244,101,MN 01,Greenwich Village/Financial District,Sub-Borough Area,2004,NaN,NaN,NaN,NaN,0.0%,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
# Only keeping Sub-borough area level observations
Furman['region_type'].unique()
Furman_SubBorough = Furman[Furman['region_type'] == 'Sub-Borough Area'].copy()

# Filtering years
Furman_SubBorough['year'].unique()
years = '2013-2017', '2017', '2017-2021'

Furman_SubBOROUGH = Furman_SubBorough[Furman_SubBorough['year'].isin(years)].copy()
Furman_SubBOROUGH

,SBA,region_display,SBA_name,region_type,year,aff_30,aff_80,aff_120,med_hous_inc,FL_loans,...,pov_rate,asian,black,prob_race,hispan,white,pop_dens,priv_landL_amt,med_gro_rnt,vac_rt
262,101,MN 01,Greenwich Village/Financial District,Sub-Borough Area,2013-2017,1.9%,12.4%,23.9%,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.2%
269,101,MN 01,Greenwich Village/Financial District,Sub-Borough Area,2017,NaN,NaN,NaN,"$180,320",0.0%,...,8.8%,16.5%,2.1%,0.45,5.7%,72.2%,51.6,"$8,507","$3,190",NaN
270,101,MN 01,Greenwich Village/Financial District,Sub-Borough Area,2017-2021,3.9%,13.2%,31.3%,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.6%
302,102,MN 02,Lower East Side/Chinatown,Sub-Borough Area,2013-2017,8.0%,26.2%,41.6%,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0%
309,102,MN 02,Lower East Side/Chinatown,Sub-Borough Area,2017,NaN,NaN,NaN,"$49,270",0.0%,...,27.3%,36.1%,6.5%,0.71,23.6%,31.0%,92.0,"$4,134","$1,390",NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2389,502,SI 02,Mid-Island,Sub-Borough Area,2017,NaN,NaN,NaN,"$101,420",5.7%,...,10.2%,15.5%,5.9%,0.55,12.5%,64.1%,6.2,"$3,680","$1,760",NaN
2390,502,SI 02,Mid-Island,Sub-Borough Area,2017-2021,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.7%
2422,503,SI 03,South Shore,Sub-Borough Area,2013-2017,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.8%
2429,503,SI 03,South Shore,Sub-Borough Area,2017,NaN,NaN,NaN,"$120,480",12.6%,...,6.6%,4.8%,1.4%,0.31,10.2%,82.5%,7.8,"$3,462","$1,730",NaN
2430,503,SI 03,South Shore,Sub-Borough Area,2017-2021,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.7%

In [8]:
FURMAN2017 = Furman_SubBOROUGH.copy()
FURMAN2017

,SBA,region_display,SBA_name,region_type,year,aff_30,aff_80,aff_120,med_hous_inc,FL_loans,...,pov_rate,asian,black,prob_race,hispan,white,pop_dens,priv_landL_amt,med_gro_rnt,vac_rt
262,101,MN 01,Greenwich Village/Financial District,Sub-Borough Area,2013-2017,1.9%,12.4%,23.9%,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.2%
269,101,MN 01,Greenwich Village/Financial District,Sub-Borough Area,2017,NaN,NaN,NaN,"$180,320",0.0%,...,8.8%,16.5%,2.1%,0.45,5.7%,72.2%,51.6,"$8,507","$3,190",NaN
270,101,MN 01,Greenwich Village/Financial District,Sub-Borough Area,2017-2021,3.9%,13.2%,31.3%,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.6%
302,102,MN 02,Lower East Side/Chinatown,Sub-Borough Area,2013-2017,8.0%,26.2%,41.6%,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0%
309,102,MN 02,Lower East Side/Chinatown,Sub-Borough Area,2017,NaN,NaN,NaN,"$49,270",0.0%,...,27.3%,36.1%,6.5%,0.71,23.6%,31.0%,92.0,"$4,134","$1,390",NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2389,502,SI 02,Mid-Island,Sub-Borough Area,2017,NaN,NaN,NaN,"$101,420",5.7%,...,10.2%,15.5%,5.9%,0.55,12.5%,64.1%,6.2,"$3,680","$1,760",NaN
2390,502,SI 02,Mid-Island,Sub-Borough Area,2017-2021,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.7%
2422,503,SI 03,South Shore,Sub-Borough Area,2013-2017,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.8%
2429,503,SI 03,South Shore,Sub-Borough Area,2017,NaN,NaN,NaN,"$120,480",12.6%,...,6.6%,4.8%,1.4%,0.31,10.2%,82.5%,7.8,"$3,462","$1,730",NaN
2430,503,SI 03,South Shore,Sub-Borough Area,2017-2021,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.7%

Crosswalking

In [9]:
# dict for INCORRECT borough numbers (FURMAN has incorrect numbers, NYCHVS is CORRECT)
inc_to_corr = {
    101 : 301, # INCORRECT region_id to CORRECT sub-borough area (2010)
    102 : 302, # mn
    103 : 303,  
    104 : 304, 
    105 : 305,
    106 : 306,
    107 : 307,
    108 : 308,
    109 : 309,
    110 : 310,
    201 : 101, # bx
    202 : 102,
    203 : 103,
    204 : 104,
    205 : 105,
    206 : 106,
    207 : 107,
    208 : 108,
    209 : 109,
    210 : 110,
    301 : 201, # bk
    302 : 202,
    303 : 203,
    304 : 204,
    305 : 205,
    306 : 206,
    307 : 207,
    308 : 208,
    309 : 209,
    310 : 210,
    311 : 211,
    312 : 212,
    313 : 213,
    314 : 214,
    315 : 215,
    316 : 216,
    317 : 217,
    318 : 218,
    401 : 401, # qns
    402 : 402,
    403 : 403,
    404 : 404,
    405 : 405,
    406 : 406,
    407 : 407,
    408 : 408,
    409 : 409,
    410 : 410,
    411 : 411,
    412 : 412,
    413 : 413,
    414 : 414,
    501 : 501, # si
    502 : 502,
    503 : 503    
}

In [10]:
# Using dictionary to correct the sub-borough area codes
FURMAN2017['SBA'] = FURMAN2017['SBA'].replace(inc_to_corr)
FURMAN2017

# sorting by correct sba
FURMAN2017.sort_values(by = ['SBA'], inplace = True)
FURMAN2017

,SBA,region_display,SBA_name,region_type,year,aff_30,aff_80,aff_120,med_hous_inc,FL_loans,...,pov_rate,asian,black,prob_race,hispan,white,pop_dens,priv_landL_amt,med_gro_rnt,vac_rt
662,101,BX 01,Mott Haven/Hunts Point,Sub-Borough Area,2013-2017,25.5%,92.6%,99.1%,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.9%
669,101,BX 01,Mott Haven/Hunts Point,Sub-Borough Area,2017,NaN,NaN,NaN,"$26,090",30.0%,...,44.2%,0.3%,28.4%,0.47,67.2%,3.3%,31.9,"$2,925","$1,200",NaN
670,101,BX 01,Mott Haven/Hunts Point,Sub-Borough Area,2017-2021,29.9%,89.5%,98.9%,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.7%
702,102,BX 02,Morrisania/Belmont,Sub-Borough Area,2013-2017,23.4%,90.9%,99.7%,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.8%
709,102,BX 02,Morrisania/Belmont,Sub-Borough Area,2017,NaN,NaN,NaN,"$32,330",53.4%,...,35.8%,1.3%,32.5%,0.51,61.8%,3.8%,43.0,"$3,174","$1,280",NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2389,502,SI 02,Mid-Island,Sub-Borough Area,2017,NaN,NaN,NaN,"$101,420",5.7%,...,10.2%,15.5%,5.9%,0.55,12.5%,64.1%,6.2,"$3,680","$1,760",NaN
2390,502,SI 02,Mid-Island,Sub-Borough Area,2017-2021,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.7%
2429,503,SI 03,South Shore,Sub-Borough Area,2017,NaN,NaN,NaN,"$120,480",12.6%,...,6.6%,4.8%,1.4%,0.31,10.2%,82.5%,7.8,"$3,462","$1,730",NaN
2422,503,SI 03,South Shore,Sub-Borough Area,2013-2017,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.8%
2430,503,SI 03,South Shore,Sub-Borough Area,2017-2021,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.7%

In [11]:
# dictionary for matching NAMES to NUMBERS
Names_2_Nums = dict(zip(FURMAN2017['SBA'],FURMAN2017['SBA_name']))
Names_2_Nums

{101: 'Mott Haven/Hunts Point',
 102: 'Morrisania/Belmont',
 103: 'Highbridge/South Concourse',
 104: 'University Heights/Fordham',
 105: 'Kingsbridge Heights/Mosholu',
 106: 'Riverdale/Kingsbridge',
 107: 'Soundview/Parkchester',
 108: 'Throgs Neck/Co-op City',
 109: 'Pelham Parkway',
 110: 'Williamsbridge/Baychester',
 201: 'Williamsburg/Greenpoint',
 202: 'Brooklyn Heights/Fort Greene',
 203: 'Bedford Stuyvesant',
 204: 'Bushwick',
 205: 'East New York/Starrett City',
 206: 'Park Slope/Carroll Gardens',
 207: 'Sunset Park',
 208: 'North Crown Heights/Prospect Heights',
 209: 'South Crown Heights',
 210: 'Bay Ridge',
 211: 'Bensonhurst',
 212: 'Borough Park',
 213: 'Coney Island',
 214: 'Flatbush',
 215: 'Sheepshead Bay/Gravesend',
 216: 'Brownsville/Ocean Hill',
 217: 'East Flatbush',
 218: 'Flatlands/Canarsie',
 301: 'Greenwich Village/Financial District',
 302: 'Lower East Side/Chinatown',
 303: 'Chelsea/Clinton/Midtown',
 304: 'Stuyvesant Town/Turtle Bay',
 305: 'Upper West Side',
 306: 'Upper East Side',
 307: 'Morningside Heights/Hamilton Heights',
 308: 'Central Harlem',
 309: 'East Harlem',
 310: 'Washington Heights/Inwood',
 401: 'Astoria',
 402: 'Sunnyside/Woodside',
 403: 'Jackson Heights',
 404: 'Elmhurst/Corona',
 405: 'Middle Village/Ridgewood',
 406: 'Rego Park/Forest Hills',
 407: 'Flushing/Whitestone',
 408: 'Hillcrest/Fresh Meadows',
 409: 'Ozone Park/Woodhaven',
 410: 'South Ozone Park/Howard Beach',
 411: 'Bayside/Little Neck',
 412: 'Jamaica',
 413: 'Queens Village',
 414: 'Rockaways',
 501: 'North Shore',
 502: 'Mid-Island',
 503: 'South Shore'}

In [12]:
# getting rid of useless columns 
FURMAN2017.drop(columns = ['region_display','region_type'], inplace = True)
FURMAN2017

,SBA,SBA_name,year,aff_30,aff_80,aff_120,med_hous_inc,FL_loans,FL_loans_2_LI,inc_gap_ratio,...,pov_rate,asian,black,prob_race,hispan,white,pop_dens,priv_landL_amt,med_gro_rnt,vac_rt
662,101,Mott Haven/Hunts Point,2013-2017,25.5%,92.6%,99.1%,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.9%
669,101,Mott Haven/Hunts Point,2017,NaN,NaN,NaN,"$26,090",30.0%,100.0%,5.9,...,44.2%,0.3%,28.4%,0.47,67.2%,3.3%,31.9,"$2,925","$1,200",NaN
670,101,Mott Haven/Hunts Point,2017-2021,29.9%,89.5%,98.9%,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.7%
702,102,Morrisania/Belmont,2013-2017,23.4%,90.9%,99.7%,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.8%
709,102,Morrisania/Belmont,2017,NaN,NaN,NaN,"$32,330",53.4%,100.0%,6.2,...,35.8%,1.3%,32.5%,0.51,61.8%,3.8%,43.0,"$3,174","$1,280",NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2389,502,Mid-Island,2017,NaN,NaN,NaN,"$101,420",5.7%,2.0%,5.0,...,10.2%,15.5%,5.9%,0.55,12.5%,64.1%,6.2,"$3,680","$1,760",NaN
2390,502,Mid-Island,2017-2021,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.7%
2429,503,South Shore,2017,NaN,NaN,NaN,"$120,480",12.6%,0.0%,5.4,...,6.6%,4.8%,1.4%,0.31,10.2%,82.5%,7.8,"$3,462","$1,730",NaN
2422,503,South Shore,2013-2017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.8%
2430,503,South Shore,2017-2021,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.7%

In [13]:
# making new small df to hold the 2013-2017 / 2017-2021 vars
cols_to_move = ['SBA','SBA_name','year','aff_30','aff_80','aff_120','vac_rt']

little_df = FURMAN2017[cols_to_move]
little_df

little_df_clean = little_df[little_df['year'].astype(str).str.len() != 4]
little_df_clean

      SBA                    SBA_name       year aff_30 aff_80 aff_120 vac_rt
662   101      Mott Haven/Hunts Point  2013-2017  25.5%  92.6%   99.1%   1.9%
670   101      Mott Haven/Hunts Point  2017-2021  29.9%  89.5%   98.9%   1.7%
702   102          Morrisania/Belmont  2013-2017  23.4%  90.9%   99.7%   1.8%
710   102          Morrisania/Belmont  2017-2021  21.5%  93.1%   99.1%   2.0%
742   103  Highbridge/South Concourse  2013-2017    NaN    NaN     NaN   2.2%
...   ...                         ...        ...    ...    ...     ...    ...
2350  501                 North Shore  2017-2021  10.2%  72.7%   98.1%   8.4%
2382  502                  Mid-Island  2013-2017    NaN    NaN     NaN   3.8%
2390  502                  Mid-Island  2017-2021    NaN    NaN     NaN   3.7%
2422  503                 South Shore  2013-2017    NaN    NaN     NaN   5.8%
2430  503                 South Shore  2017-2021    NaN    NaN     NaN   3.7%

[110 rows x 7 columns]

In [14]:
little_df_clean = little_df_clean.copy()

In [15]:
# taking out % signs & replacing all nans w/ median

# aff_30
little_df_clean['aff_30'] = pd.to_numeric(little_df_clean['aff_30'].str.rstrip('%'), errors='coerce')
median = median_value = little_df_clean['aff_30'].median()
little_df_clean['aff_30'] = little_df_clean['aff_30'].fillna(median).apply(lambda x: f"{x:.1f}")
little_df_clean['aff_30']

# aff_80
little_df_clean['aff_80'] = pd.to_numeric(little_df_clean['aff_80'].str.rstrip('%'), errors='coerce')
median = median_value = little_df_clean['aff_80'].median()
little_df_clean['aff_80'] = little_df_clean['aff_80'].fillna(median).apply(lambda x: f"{x:.1f}")
little_df_clean['aff_80']

# aff_120
little_df_clean['aff_120'] = pd.to_numeric(little_df_clean['aff_120'].str.rstrip('%'), errors='coerce')
median = median_value = little_df_clean['aff_120'].median()
little_df_clean['aff_120'] = little_df_clean['aff_120'].fillna(median).apply(lambda x: f"{x:.1f}")
little_df_clean['aff_120']

# vac_rt
little_df_clean['vac_rt'] = pd.to_numeric(little_df_clean['vac_rt'].str.rstrip('%'), errors='coerce')
median = median_value = little_df_clean['vac_rt'].median()
little_df_clean['vac_rt'] = little_df_clean['vac_rt'].fillna(median).apply(lambda x: f"{x:.1f}")
little_df_clean['vac_rt']

662     1.9
670     1.7
702     1.8
710     2.0
742     2.2
       ...
2350    8.4
2382    3.8
2390    3.7
2422    5.8
2430    3.7
Name: vac_rt, Length: 110, dtype: object

In [16]:
# Reformatting as pre/post vars

# aff_30
little_df_clean = little_df_clean.assign(
    aff_30_pre=little_df_clean['aff_30'].where(little_df_clean['year'] == '2013-2017'),
    aff_30_post=little_df_clean['aff_30'].where(little_df_clean['year'] == '2017-2021')
)

# aff_80
little_df_clean = little_df_clean.assign(
    aff_80_pre=little_df_clean['aff_80'].where(little_df_clean['year'] == '2013-2017'),
    aff_80_post=little_df_clean['aff_80'].where(little_df_clean['year'] == '2017-2021')
)

# aff_120
little_df_clean = little_df_clean.assign(
    aff_120_pre=little_df_clean['aff_120'].where(little_df_clean['year'] == '2013-2017'),
    aff_120_post=little_df_clean['aff_120'].where(little_df_clean['year'] == '2017-2021')
)

# vac_rt
little_df_clean = little_df_clean.assign(
    vac_rt_pre=little_df_clean['vac_rt'].where(little_df_clean['year'] == '2013-2017'),
    vac_rt_post=little_df_clean['vac_rt'].where(little_df_clean['year'] == '2017-2021')
)

little_df_clean

,SBA,SBA_name,year,aff_30,aff_80,aff_120,vac_rt,aff_30_pre,aff_30_post,aff_80_pre,aff_80_post,aff_120_pre,aff_120_post,vac_rt_pre,vac_rt_post
662,101,Mott Haven/Hunts Point,2013-2017,25.5,92.6,99.1,1.9,25.5,NaN,92.6,NaN,99.1,NaN,1.9,NaN
670,101,Mott Haven/Hunts Point,2017-2021,29.9,89.5,98.9,1.7,NaN,29.9,NaN,89.5,NaN,98.9,NaN,1.7
702,102,Morrisania/Belmont,2013-2017,23.4,90.9,99.7,1.8,23.4,NaN,90.9,NaN,99.7,NaN,1.8,NaN
710,102,Morrisania/Belmont,2017-2021,21.5,93.1,99.1,2.0,NaN,21.5,NaN,93.1,NaN,99.1,NaN,2.0
742,103,Highbridge/South Concourse,2013-2017,5.4,54.6,94.8,2.2,5.4,NaN,54.6,NaN,94.8,NaN,2.2,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2350,501,North Shore,2017-2021,10.2,72.7,98.1,8.4,NaN,10.2,NaN,72.7,NaN,98.1,NaN,8.4
2382,502,Mid-Island,2013-2017,5.4,54.6,94.8,3.8,5.4,NaN,54.6,NaN,94.8,NaN,3.8,NaN
2390,502,Mid-Island,2017-2021,5.4,54.6,94.8,3.7,NaN,5.4,NaN,54.6,NaN,94.8,NaN,3.7
2422,503,South Shore,2013-2017,5.4,54.6,94.8,5.8,5.4,NaN,54.6,NaN,94.8,NaN,5.8,NaN
2430,503,South Shore,2017-2021,5.4,54.6,94.8,3.7,NaN,5.4,NaN,54.6,NaN,94.8,NaN,3.7

In [17]:
SURROUNDING_YEARS = little_df_clean[['SBA','aff_30_pre','aff_30_post','aff_80_pre','aff_80_post','aff_120_pre','aff_120_post','vac_rt_pre','vac_rt_post']]
SURROUNDING_YEARS

# getting rid of nans by summing each sba (each var has one numerical and one nan)
SURROUNDING_YEARS = SURROUNDING_YEARS.groupby('SBA').sum().reset_index()
SURROUNDING_YEARS

,SBA,aff_30_pre,aff_30_post,aff_80_pre,aff_80_post,aff_120_pre,aff_120_post,vac_rt_pre,vac_rt_post
0,101,25.5,29.9,92.6,89.5,99.1,98.9,1.9,1.7
1,102,23.4,21.5,90.9,93.1,99.7,99.1,1.8,2.0
2,103,5.4,5.4,54.6,54.6,94.8,94.8,2.2,1.4
3,104,13.4,5.4,85.0,54.6,98.7,94.8,2.4,0.9
4,105,5.8,13.9,89.7,92.3,100.0,100.0,2.4,2.7
5,106,3.2,5.1,49.5,64.4,91.3,90.6,2.6,1.6
6,107,7.1,11.6,83.0,90.7,99.6,100.0,2.3,2.2
7,108,5.4,5.4,54.6,54.6,94.8,94.8,1.4,1.3
8,109,6.2,9.8,79.3,87.9,98.9,98.5,2.3,3.0
9,110,9.2,12.5,73.7,78.5,99.8,99.7,3.5,2.2
10,201,3.0,4.5,21.4,15.2,46.1,47.0,2.3,2.7
11,202,4.9,3.6,17.3,13.9,42.2,47.4,2.5,3.9
12,203,8.6,9.8,44.0,36.0,86.4,90.8,5.4,3.7
13,204,5.5,5.4,41.8,33.7,80.8,82.2,3.7,3.3
14,205,12.7,21.3,83.7,87.4,99.5,100.0,5.1,3.6
15,206,2.7,2.2,10.2,14.8,45.0,60.3,2.3,5.3
16,207,5.1,5.5,60.9,59.5,91.7,93.0,2.4,3.3
17,208,4.9,5.5,38.5,33.0,79.7,78.0,4.5,3.2
18,209,7.8,7.1,49.2,50.8,91.7,91.8,3.6,2.7
19,210,3.1,1.9,62.6,64.1,98.4,96.7,5.4,5.0
20,211,4.6,6.1,76.6,82.0,98.6,99.3,2.3,2.2
21,212,2.7,4.8,59.9,69.2,93.2,97.6,2.6,2.9
22,213,12.6,5.4,73.4,54.6,97.5,94.8,1.9,1.7
23,214,3.0,6.6,44.7,60.5,96.8,96.4,2.2,2.1
24,215,0.8,6.5,58.0,74.4,93.3,95.2,2.7,4.7
25,216,27.3,5.4,83.7,54.6,99.4,94.8,4.9,2.5
26,217,6.2,9.2,77.2,87.0,100.0,98.8,3.9,3.9
27,218,7.4,9.0,67.6,77.8,99.1,98.7,3.4,2.4
28,301,1.9,3.9,12.4,13.2,23.9,31.3,5.2,5.6
29,302,8.0,7.1,26.2,30.3,41.6,58.8,3.0,4.3
30,303,5.0,5.2,19.9,22.4,32.2,44.6,6.9,8.0
31,304,2.7,3.2,10.7,16.5,30.1,40.7,7.6,5.7
32,305,5.3,4.8,29.9,21.9,40.5,55.7,4.7,6.6
33,306,1.5,1.5,7.7,17.3,47.1,61.2,5.5,6.6
34,307,7.1,10.1,39.3,40.0,77.9,87.1,4.1,5.4
35,308,17.7,10.8,40.6,42.3,81.2,86.3,4.1,5.1
36,309,16.2,25.8,48.1,54.6,79.7,88.2,3.0,4.6
37,310,7.3,4.4,39.6,49.9,91.0,97.4,1.7,2.4
38,401,3.4,4.2,22.5,35.5,83.0,89.6,2.3,3.3
39,402,1.0,1.8,22.9,33.3,65.7,70.2,3.2,3.5
40,403,4.0,1.6,54.6,55.1,95.8,98.0,1.9,2.1
41,404,4.3,6.3,51.0,63.0,98.1,100.0,1.4,1.3
42,405,1.8,2.6,60.2,62.0,93.1,95.7,3.4,3.7
43,406,0.0,0.9,22.6,26.2,84.2,95.6,2.8,2.0
44,407,5.3,2.9,55.8,50.6,95.6,96.5,4.1,3.6
45,408,3.6,4.0,52.6,73.6,94.8,99.6,2.6,3.2
46,409,1.4,2.7,60.8,57.8,99.7,98.2,3.2,3.0
47,410,5.4,5.4,54.6,54.6,94.8,94.8,1.9,3.7
48,411,5.4,5.4,54.6,54.6,94.8,94.8,2.4,3.9
49,412,7.7,9.5,79.7,75.6,100.0,100.0,2.9,2.7
50,413,5.4,5.4,54.6,54.6,94.8,94.8,2.8,3.1
51,414,5.4,5.4,54.6,54.6,94.8,94.8,3.1,2.7
52,501,5.7,10.2,76.6,72.7,99.5,98.1,8.2,8.4
53,502,5.4,5.4,54.6,54.6,94.8,94.8,3.8,3.7
54,503,5.4,5.4,54.6,54.6,94.8,94.8,5.8,3.7

In [18]:
# dropping the vars i just put in little df
FURMAN2017.drop(columns = ['aff_30','aff_80','aff_120','vac_rt'], inplace = True)

FURMAN2017_clean = FURMAN2017[FURMAN2017['year'].astype(str).str.len() == 4].copy()
FURMAN2017_clean

,SBA,SBA_name,year,med_hous_inc,FL_loans,FL_loans_2_LI,inc_gap_ratio,mort_forc,pov_rate,asian,black,prob_race,hispan,white,pop_dens,priv_landL_amt,med_gro_rnt
669,101,Mott Haven/Hunts Point,2017,"$26,090",30.0%,100.0%,5.9,70.0,44.2%,0.3%,28.4%,0.47,67.2%,3.3%,31.9,"$2,925","$1,200"
709,102,Morrisania/Belmont,2017,"$32,330",53.4%,100.0%,6.2,115.0,35.8%,1.3%,32.5%,0.51,61.8%,3.8%,43.0,"$3,174","$1,280"
749,103,Highbridge/South Concourse,2017,"$38,460",10.3%,100.0%,5.6,38.0,36.4%,1.0%,27.7%,0.45,68.8%,1.3%,75.0,"$3,547","$1,400"
789,104,University Heights/Fordham,2017,"$37,550",54.8%,100.0%,5.8,53.0,36.4%,1.8%,24.4%,0.43,71.1%,1.0%,98.2,"$3,423","$1,450"
829,105,Kingsbridge Heights/Mosholu,2017,"$44,000",9.6%,66.7%,5.7,25.0,32.9%,7.1%,11.3%,0.43,74.1%,5.1%,91.5,"$3,852","$1,560"
869,106,Riverdale/Kingsbridge,2017,"$67,190",0.9%,14.0%,6.2,28.0,18.5%,4.1%,11.8%,0.65,48.8%,31.5%,33.1,"$3,906","$1,720"
909,107,Soundview/Parkchester,2017,"$49,790",28.6%,63.5%,6.1,252.0,24.7%,8.2%,30.3%,0.59,55.4%,3.0%,42.5,"$3,561","$1,440"
949,108,Throgs Neck/Co-op City,2017,"$74,080",31.9%,11.8%,5.8,135.0,10.2%,3.6%,28.8%,0.69,39.9%,25.5%,12.2,"$4,330","$1,470"
989,109,Pelham Parkway,2017,"$59,760",27.3%,50.3%,4.7,147.0,16.4%,9.4%,19.8%,0.70,42.3%,26.7%,31.5,"$4,105","$1,580"
1029,110,Williamsbridge/Baychester,2017,"$73,150",60.6%,46.0%,5.0,422.0,14.6%,2.3%,67.2%,0.49,23.0%,5.4%,22.3,"$3,882","$1,720"
1069,201,Williamsburg/Greenpoint,2017,"$95,350",0.0%,15.7%,7.7,81.0,23.3%,7.0%,3.6%,0.53,21.6%,64.5%,36.8,"$4,707","$2,440"
1109,202,Brooklyn Heights/Fort Greene,2017,"$115,210",0.0%,12.1%,6.1,79.0,14.9%,9.0%,25.8%,0.68,14.9%,47.2%,43.5,"$4,389","$2,340"
1149,203,Bedford Stuyvesant,2017,"$64,610",2.3%,59.1%,6.8,284.0,24.4%,2.7%,48.8%,0.65,19.4%,26.6%,61.8,"$3,495","$1,510"
1189,204,Bushwick,2017,"$63,050",5.2%,97.4%,7.0,174.0,27.1%,5.6%,17.0%,0.63,53.9%,21.5%,55.4,"$5,787","$1,790"
1229,205,East New York/Starrett City,2017,"$45,790",47.9%,58.5%,5.7,512.0,24.7%,3.8%,52.8%,0.57,38.2%,3.9%,29.1,"$3,363","$1,520"
1269,206,Park Slope/Carroll Gardens,2017,"$167,780",0.1%,2.3%,4.9,31.0,7.8%,7.2%,6.1%,0.55,17.2%,63.9%,29.1,"$4,279","$2,780"
1309,207,Sunset Park,2017,"$70,680",0.0%,39.5%,6.3,63.0,22.1%,32.7%,2.4%,0.68,39.9%,22.7%,36.0,"$5,746","$1,790"
1349,208,North Crown Heights/Prospect Heights,2017,"$74,810",3.2%,37.1%,6.8,203.0,20.0%,5.6%,55.7%,0.61,11.7%,24.1%,63.8,"$3,717","$1,550"
1389,209,South Crown Heights,2017,"$63,570",4.6%,63.6%,5.3,131.0,19.1%,1.8%,60.2%,0.56,9.8%,25.5%,66.3,"$3,842","$1,590"
1429,210,Bay Ridge,2017,"$85,480",0.2%,11.3%,5.1,56.0,15.2%,28.2%,3.1%,0.64,15.8%,50.9%,32.1,"$5,627","$1,800"
1469,211,Bensonhurst,2017,"$66,580",0.5%,58.2%,4.9,66.0,17.3%,38.9%,1.8%,0.66,15.5%,40.4%,55.7,"$4,398","$1,700"
1509,212,Borough Park,2017,"$56,460",0.3%,76.7%,5.8,212.0,30.8%,15.7%,1.8%,0.49,12.0%,68.9%,46.6,"$5,150","$1,770"
1549,213,Coney Island,2017,"$44,950",1.7%,40.3%,8.2,97.0,24.8%,11.1%,12.5%,0.63,18.7%,55.4%,35.5,"$3,758","$1,270"
1589,214,Flatbush,2017,"$70,450",0.9%,39.5%,5.6,104.0,16.8%,8.8%,28.9%,0.69,15.0%,44.2%,51.8,"$4,336","$1,740"
1629,215,Sheepshead Bay/Gravesend,2017,"$76,260",2.3%,25.4%,5.3,157.0,14.0%,20.8%,5.2%,0.54,8.0%,63.7%,39.5,"$5,087","$1,730"
1669,216,Brownsville/Ocean Hill,2017,"$25,210",42.1%,95.5%,9.7,319.0,39.9%,1.9%,71.3%,0.45,19.8%,4.3%,43.0,"$3,262","$1,100"
1709,217,East Flatbush,2017,"$61,420",35.5%,45.3%,5.2,413.0,13.7%,2.1%,87.1%,0.24,6.2%,2.7%,45.5,"$4,761","$1,600"
1749,218,Flatlands/Canarsie,2017,"$95,400",26.2%,2.0%,4.5,727.0,8.9%,4.7%,62.2%,0.55,8.8%,22.4%,17.6,"$5,232","$1,740"
269,301,Greenwich Village/Financial District,2017,"$180,320",0.0%,1.5%,6.6,46.0,8.8%,16.5%,2.1%,0.45,5.7%,72.2%,51.6,"$8,507","$3,190"
309,302,Lower East Side/Chinatown,2017,"$49,270",0.0%,31.8%,8.5,26.0,27.3%,36.1%,6.5%,0.71,23.6%,31.0%,92.0,"$4,134","$1,390"
349,303,Chelsea/Clinton/Midtown,2017,"$126,930",0.0%,2.6%,7.5,44.0,13.8%,15.6%,6.8%,0.59,15.6%,59.3%,49.5,"$6,755","$2,630"
389,304,Stuyvesant Town/Turtle Bay,2017,"$139,880",0.0%,5.0%,5.9,34.0,8.0%,14.9%,4.0%,0.50,9.9%,68.5%,92.3,"$6,797","$3,040"
429,305,Upper West Side,2017,"$154,200",0.0%,1.7%,9.2,28.0,9.9%,8.7%,5.7%,0.49,13.1%,69.1%,69.9,"$5,020","$2,380"
469,306,Upper East Side,2017,"$163,480",0.0%,0.0%,5.2,44.0,6.1%,10.7%,1.4%,0.42,10.8%,74.6%,107.8,"$6,653","$2,910"
509,307,Morningside Heights/Hamilton Heights,2017,"$62,290",0.0%,40.8%,8.2,14.0,22.7%,10.2%,22.4%,0.73,36.5%,28.5%,80.7,"$4,035","$1,560"
549,308,Central Harlem,2017,"$61,060",0.0%,50.0%,9.3,38.0,23.5%,4.1%,53.0%,0.63,24.7%,14.9%,103.1,"$3,847","$1,300"
589,309,East Harlem,2017,"$45,770",0.0%,69.2%,6.5,8.0,31.5%,8.3%,26.4%,0.64,51.9%,11.9%,55.3,"$3,743","$1,110"
629,310,Washington Heights/Inwood,2017,"$70,170",0.0%,59.2%,5.7,13.0,18.7%,2.4%,8.3%,0.50,66.9%,20.2%,75.1,"$4,106","$1,580"
1789,401,Astoria,2017,"$82,620",1.1%,26.9%,4.8,75.0,13.0%,16.7%,8.2%,0.68,24.3%,47.5%,31.9,"$5,134","$2,040"
1829,402,Sunnyside/Woodside,2017,"$83,840",0.4%,25.8%,4.4,69.0,9.3%,36.3%,1.2%,0.68,30.9%,29.5%,22.3,"$5,414","$2,010"
1869,403,Jackson Heights,2017,"$70,450",5.5%,62.5%,3.4,193.0,13.5%,18.7%,5.1%,0.56,62.5%,12.3%,40.7,"$5,203","$1,870"
1909,404,Elmhurst/Corona,2017,"$64,710",3.6%,75.9%,4.0,65.0,15.6%,32.7%,5.0%,0.58,55.8%,5.5%,40.6,"$4,338","$1,820"
1949,405,Middle Village/Ridgewood,2017,"$88,660",8.2%,8.4%,4.3,136.0,8.4%,8.9%,0.9%,0.59,38.4%,50.1%,27.2,"$4,629","$1,820"
1989,406,Rego Park/Forest Hills,2017,"$93,900",0.2%,6.4%,5.3,36.0,8.1%,29.5%,3.4%,0.66,15.4%,47.5%,42.4,"$5,349","$2,050"
2029,407,Flushing/Whitestone,2017,"$63,830",0.4%,35.5%,6.0,152.0,16.2%,54.5%,2.1%,0.61,18.4%,23.3%,22.1,"$5,514","$1,840"
2069,408,Hillcrest/Fresh Meadows,2017,"$79,660",2.0%,6.8%,4.5,97.0,12.3%,34.4%,12.1%,0.74,19.8%,29.2%,22.0,"$4,752","$1,840"
2109,409,Ozone Park/Woodhaven,2017,"$87,020",15.8%,23.4%,4.2,278.0,12.2%,25.6%,5.4%,0.72,42.9%,17.7%,32.1,"$4,659","$1,840"
2149,410,South Ozone Park/Howard Beach,2017,"$91,970",26.7%,24.8%,4.1,335.0,10.4%,26.7%,13.3%,0.80,26.0%,21.8%,22.7,"$5,236","$1,950"
2189,411,Bayside/Little Neck,2017,"$87,320",0.2%,0.1%,4.5,127.0,9.8%,46.0%,2.5%,0.63,12.4%,37.5%,12.8,"$5,304","$2,250"
2229,412,Jamaica,2017,"$76,760",57.7%,26.3%,4.3,1079.0,11.3%,14.6%,59.2%,0.60,16.7%,1.4%,26.8,"$3,413","$1,630"
2269,413,Queens Village,2017,"$106,860",38.4%,2.5%,4.2,783.0,8.9%,15.7%,53.9%,0.65,14.7%,9.6%,10.6,"$6,177","$1,990"
2309,414,Rockaways,2017,"$67,230",30.1%,37.4%,6.0,270.0,19.8%,3.8%,39.2%,0.69,20.6%,33.1%,11.8,"$3,255","$1,460"
2349,501,North Shore,2017,"$78,250",17.8%,22.8%,6.9,575.0,17.9%,8.8%,19.9%,0.71,31.1%,38.5%,12.9,"$3,097","$1,490"
2389,502,Mid-Island,2017,"$101,420",5.7%,2.0%,5.0,319.0,10.2%,15.5%,5.9%,0.55,12.5%,64.1%,6.2,"$3,680","$1,760"
2429,503,South Shore,2017,"$120,480",12.6%,0.0%,5.4,469.0,6.6%,4.8%,1.4%,0.31,10.2%,82.5%,7.8,"$3,462","$1,730"

In [19]:
# dropping year bc everything is all from 2017
FURMAN2017_clean.drop('year', axis = 1, errors='ignore', inplace = True)
FURMAN2017_clean

,SBA,SBA_name,med_hous_inc,FL_loans,FL_loans_2_LI,inc_gap_ratio,mort_forc,pov_rate,asian,black,prob_race,hispan,white,pop_dens,priv_landL_amt,med_gro_rnt
669,101,Mott Haven/Hunts Point,"$26,090",30.0%,100.0%,5.9,70.0,44.2%,0.3%,28.4%,0.47,67.2%,3.3%,31.9,"$2,925","$1,200"
709,102,Morrisania/Belmont,"$32,330",53.4%,100.0%,6.2,115.0,35.8%,1.3%,32.5%,0.51,61.8%,3.8%,43.0,"$3,174","$1,280"
749,103,Highbridge/South Concourse,"$38,460",10.3%,100.0%,5.6,38.0,36.4%,1.0%,27.7%,0.45,68.8%,1.3%,75.0,"$3,547","$1,400"
789,104,University Heights/Fordham,"$37,550",54.8%,100.0%,5.8,53.0,36.4%,1.8%,24.4%,0.43,71.1%,1.0%,98.2,"$3,423","$1,450"
829,105,Kingsbridge Heights/Mosholu,"$44,000",9.6%,66.7%,5.7,25.0,32.9%,7.1%,11.3%,0.43,74.1%,5.1%,91.5,"$3,852","$1,560"
869,106,Riverdale/Kingsbridge,"$67,190",0.9%,14.0%,6.2,28.0,18.5%,4.1%,11.8%,0.65,48.8%,31.5%,33.1,"$3,906","$1,720"
909,107,Soundview/Parkchester,"$49,790",28.6%,63.5%,6.1,252.0,24.7%,8.2%,30.3%,0.59,55.4%,3.0%,42.5,"$3,561","$1,440"
949,108,Throgs Neck/Co-op City,"$74,080",31.9%,11.8%,5.8,135.0,10.2%,3.6%,28.8%,0.69,39.9%,25.5%,12.2,"$4,330","$1,470"
989,109,Pelham Parkway,"$59,760",27.3%,50.3%,4.7,147.0,16.4%,9.4%,19.8%,0.70,42.3%,26.7%,31.5,"$4,105","$1,580"
1029,110,Williamsbridge/Baychester,"$73,150",60.6%,46.0%,5.0,422.0,14.6%,2.3%,67.2%,0.49,23.0%,5.4%,22.3,"$3,882","$1,720"
1069,201,Williamsburg/Greenpoint,"$95,350",0.0%,15.7%,7.7,81.0,23.3%,7.0%,3.6%,0.53,21.6%,64.5%,36.8,"$4,707","$2,440"
1109,202,Brooklyn Heights/Fort Greene,"$115,210",0.0%,12.1%,6.1,79.0,14.9%,9.0%,25.8%,0.68,14.9%,47.2%,43.5,"$4,389","$2,340"
1149,203,Bedford Stuyvesant,"$64,610",2.3%,59.1%,6.8,284.0,24.4%,2.7%,48.8%,0.65,19.4%,26.6%,61.8,"$3,495","$1,510"
1189,204,Bushwick,"$63,050",5.2%,97.4%,7.0,174.0,27.1%,5.6%,17.0%,0.63,53.9%,21.5%,55.4,"$5,787","$1,790"
1229,205,East New York/Starrett City,"$45,790",47.9%,58.5%,5.7,512.0,24.7%,3.8%,52.8%,0.57,38.2%,3.9%,29.1,"$3,363","$1,520"
1269,206,Park Slope/Carroll Gardens,"$167,780",0.1%,2.3%,4.9,31.0,7.8%,7.2%,6.1%,0.55,17.2%,63.9%,29.1,"$4,279","$2,780"
1309,207,Sunset Park,"$70,680",0.0%,39.5%,6.3,63.0,22.1%,32.7%,2.4%,0.68,39.9%,22.7%,36.0,"$5,746","$1,790"
1349,208,North Crown Heights/Prospect Heights,"$74,810",3.2%,37.1%,6.8,203.0,20.0%,5.6%,55.7%,0.61,11.7%,24.1%,63.8,"$3,717","$1,550"
1389,209,South Crown Heights,"$63,570",4.6%,63.6%,5.3,131.0,19.1%,1.8%,60.2%,0.56,9.8%,25.5%,66.3,"$3,842","$1,590"
1429,210,Bay Ridge,"$85,480",0.2%,11.3%,5.1,56.0,15.2%,28.2%,3.1%,0.64,15.8%,50.9%,32.1,"$5,627","$1,800"
1469,211,Bensonhurst,"$66,580",0.5%,58.2%,4.9,66.0,17.3%,38.9%,1.8%,0.66,15.5%,40.4%,55.7,"$4,398","$1,700"
1509,212,Borough Park,"$56,460",0.3%,76.7%,5.8,212.0,30.8%,15.7%,1.8%,0.49,12.0%,68.9%,46.6,"$5,150","$1,770"
1549,213,Coney Island,"$44,950",1.7%,40.3%,8.2,97.0,24.8%,11.1%,12.5%,0.63,18.7%,55.4%,35.5,"$3,758","$1,270"
1589,214,Flatbush,"$70,450",0.9%,39.5%,5.6,104.0,16.8%,8.8%,28.9%,0.69,15.0%,44.2%,51.8,"$4,336","$1,740"
1629,215,Sheepshead Bay/Gravesend,"$76,260",2.3%,25.4%,5.3,157.0,14.0%,20.8%,5.2%,0.54,8.0%,63.7%,39.5,"$5,087","$1,730"
1669,216,Brownsville/Ocean Hill,"$25,210",42.1%,95.5%,9.7,319.0,39.9%,1.9%,71.3%,0.45,19.8%,4.3%,43.0,"$3,262","$1,100"
1709,217,East Flatbush,"$61,420",35.5%,45.3%,5.2,413.0,13.7%,2.1%,87.1%,0.24,6.2%,2.7%,45.5,"$4,761","$1,600"
1749,218,Flatlands/Canarsie,"$95,400",26.2%,2.0%,4.5,727.0,8.9%,4.7%,62.2%,0.55,8.8%,22.4%,17.6,"$5,232","$1,740"
269,301,Greenwich Village/Financial District,"$180,320",0.0%,1.5%,6.6,46.0,8.8%,16.5%,2.1%,0.45,5.7%,72.2%,51.6,"$8,507","$3,190"
309,302,Lower East Side/Chinatown,"$49,270",0.0%,31.8%,8.5,26.0,27.3%,36.1%,6.5%,0.71,23.6%,31.0%,92.0,"$4,134","$1,390"
349,303,Chelsea/Clinton/Midtown,"$126,930",0.0%,2.6%,7.5,44.0,13.8%,15.6%,6.8%,0.59,15.6%,59.3%,49.5,"$6,755","$2,630"
389,304,Stuyvesant Town/Turtle Bay,"$139,880",0.0%,5.0%,5.9,34.0,8.0%,14.9%,4.0%,0.50,9.9%,68.5%,92.3,"$6,797","$3,040"
429,305,Upper West Side,"$154,200",0.0%,1.7%,9.2,28.0,9.9%,8.7%,5.7%,0.49,13.1%,69.1%,69.9,"$5,020","$2,380"
469,306,Upper East Side,"$163,480",0.0%,0.0%,5.2,44.0,6.1%,10.7%,1.4%,0.42,10.8%,74.6%,107.8,"$6,653","$2,910"
509,307,Morningside Heights/Hamilton Heights,"$62,290",0.0%,40.8%,8.2,14.0,22.7%,10.2%,22.4%,0.73,36.5%,28.5%,80.7,"$4,035","$1,560"
549,308,Central Harlem,"$61,060",0.0%,50.0%,9.3,38.0,23.5%,4.1%,53.0%,0.63,24.7%,14.9%,103.1,"$3,847","$1,300"
589,309,East Harlem,"$45,770",0.0%,69.2%,6.5,8.0,31.5%,8.3%,26.4%,0.64,51.9%,11.9%,55.3,"$3,743","$1,110"
629,310,Washington Heights/Inwood,"$70,170",0.0%,59.2%,5.7,13.0,18.7%,2.4%,8.3%,0.50,66.9%,20.2%,75.1,"$4,106","$1,580"
1789,401,Astoria,"$82,620",1.1%,26.9%,4.8,75.0,13.0%,16.7%,8.2%,0.68,24.3%,47.5%,31.9,"$5,134","$2,040"
1829,402,Sunnyside/Woodside,"$83,840",0.4%,25.8%,4.4,69.0,9.3%,36.3%,1.2%,0.68,30.9%,29.5%,22.3,"$5,414","$2,010"
1869,403,Jackson Heights,"$70,450",5.5%,62.5%,3.4,193.0,13.5%,18.7%,5.1%,0.56,62.5%,12.3%,40.7,"$5,203","$1,870"
1909,404,Elmhurst/Corona,"$64,710",3.6%,75.9%,4.0,65.0,15.6%,32.7%,5.0%,0.58,55.8%,5.5%,40.6,"$4,338","$1,820"
1949,405,Middle Village/Ridgewood,"$88,660",8.2%,8.4%,4.3,136.0,8.4%,8.9%,0.9%,0.59,38.4%,50.1%,27.2,"$4,629","$1,820"
1989,406,Rego Park/Forest Hills,"$93,900",0.2%,6.4%,5.3,36.0,8.1%,29.5%,3.4%,0.66,15.4%,47.5%,42.4,"$5,349","$2,050"
2029,407,Flushing/Whitestone,"$63,830",0.4%,35.5%,6.0,152.0,16.2%,54.5%,2.1%,0.61,18.4%,23.3%,22.1,"$5,514","$1,840"
2069,408,Hillcrest/Fresh Meadows,"$79,660",2.0%,6.8%,4.5,97.0,12.3%,34.4%,12.1%,0.74,19.8%,29.2%,22.0,"$4,752","$1,840"
2109,409,Ozone Park/Woodhaven,"$87,020",15.8%,23.4%,4.2,278.0,12.2%,25.6%,5.4%,0.72,42.9%,17.7%,32.1,"$4,659","$1,840"
2149,410,South Ozone Park/Howard Beach,"$91,970",26.7%,24.8%,4.1,335.0,10.4%,26.7%,13.3%,0.80,26.0%,21.8%,22.7,"$5,236","$1,950"
2189,411,Bayside/Little Neck,"$87,320",0.2%,0.1%,4.5,127.0,9.8%,46.0%,2.5%,0.63,12.4%,37.5%,12.8,"$5,304","$2,250"
2229,412,Jamaica,"$76,760",57.7%,26.3%,4.3,1079.0,11.3%,14.6%,59.2%,0.60,16.7%,1.4%,26.8,"$3,413","$1,630"
2269,413,Queens Village,"$106,860",38.4%,2.5%,4.2,783.0,8.9%,15.7%,53.9%,0.65,14.7%,9.6%,10.6,"$6,177","$1,990"
2309,414,Rockaways,"$67,230",30.1%,37.4%,6.0,270.0,19.8%,3.8%,39.2%,0.69,20.6%,33.1%,11.8,"$3,255","$1,460"
2349,501,North Shore,"$78,250",17.8%,22.8%,6.9,575.0,17.9%,8.8%,19.9%,0.71,31.1%,38.5%,12.9,"$3,097","$1,490"
2389,502,Mid-Island,"$101,420",5.7%,2.0%,5.0,319.0,10.2%,15.5%,5.9%,0.55,12.5%,64.1%,6.2,"$3,680","$1,760"
2429,503,South Shore,"$120,480",12.6%,0.0%,5.4,469.0,6.6%,4.8%,1.4%,0.31,10.2%,82.5%,7.8,"$3,462","$1,730"

In [20]:
# exporting
FURMAN2017_clean.to_csv('/Users/isabellagermani/Desktop/MS THSS/data/FURMAN2017_clean.csv')

In [21]:
# exporting little df
SURROUNDING_YEARS.to_csv('/Users/isabellagermani/Desktop/MS THSS/data/SURROUNDING_YEARS.csv')