### ICPSR Variables

In [1]:
import pandas as pd

In [2]:
# importing crosswalk
crosswalk = pd.read_csv('/Users/isabellagermani/Desktop/MS THSS/data/CROSSWALK.csv')
crosswalk = crosswalk.astype(str)
crosswalk

     Unnamed: 0 tract_fips10  PUMA  SBA
0         43283  36005026701  3701  106
1         43284  36005026702  3701  106
2         43285  36005027300  3701  106
3         43286  36005027700  3701  106
4         43287  36005027900  3701  106
...         ...          ...   ...  ...
2163      47145  36085030301  3903  501
2164      47146  36085030302  3903  501
2165      47147  36085031901  3903  501
2166      47148  36085031902  3903  501
2167      47149  36085032300  3903  501

[2168 rows x 4 columns]

In [3]:
# only using sba and fips
cross_d = dict(zip(crosswalk['tract_fips10'], crosswalk['SBA']))

### Dollar Stores

In [4]:
dollar = pd.read_csv('/Users/isabellagermani/Desktop/MS THSS/data/dollarstores_tract10.csv')
type(dollar)

pandas.core.frame.DataFrame

In [5]:
# filtering for NYC area & year
counties = ('005','081','047','061','085')

filter1 = dollar['year'] == 2017
filter2 = dollar['tract_fips10'].astype(str).str[0:2] == '36'
filter3 = dollar['tract_fips10'].astype(str).str[2:5].isin(counties)

NYC_Dollar = dollar[filter1 & filter2 & filter3].copy()
NYC_Dollar

,tract_fips10,year,totpop,aland10,count_dollarstores,emps_dollarstores,den_dollarstores,aden_dollarstores
1385083,36005000100,2017,6864.0,0.609795,0,0.0,0.000000,0.000000
1385115,36005000200,2017,4532.0,0.175801,1,0.0,0.220653,5.688256
1385147,36005000400,2017,5516.0,0.352277,0,0.0,0.000000,0.000000
1385179,36005001600,2017,5825.0,0.187290,0,0.0,0.000000,0.000000
1385211,36005001900,2017,3141.0,0.634618,0,0.0,0.000000,0.000000
...,...,...,...,...,...,...,...,...
1508667,36085030302,2017,6702.0,0.352232,3,21.5,0.447628,8.517120
1508699,36085031901,2017,2816.0,0.149827,0,0.0,0.000000,0.000000
1508731,36085031902,2017,5343.0,0.266616,0,0.0,0.000000,0.000000
1508763,36085032300,2017,1073.0,1.490535,0,0.0,0.000000,0.000000
1508795,36085990100,2017,0.0,0.000000,0,0.0,NaN,NaN

In [6]:
# Using crosswalk
NYC_Dollar['SBA'] = NYC_Dollar['tract_fips10'].astype(str).map(cross_d).copy()
NYC_Dollar

,tract_fips10,year,totpop,aland10,count_dollarstores,emps_dollarstores,den_dollarstores,aden_dollarstores,SBA
1385083,36005000100,2017,6864.0,0.609795,0,0.0,0.000000,0.000000,101
1385115,36005000200,2017,4532.0,0.175801,1,0.0,0.220653,5.688256,107
1385147,36005000400,2017,5516.0,0.352277,0,0.0,0.000000,0.000000,107
1385179,36005001600,2017,5825.0,0.187290,0,0.0,0.000000,0.000000,107
1385211,36005001900,2017,3141.0,0.634618,0,0.0,0.000000,0.000000,101
...,...,...,...,...,...,...,...,...,...
1508667,36085030302,2017,6702.0,0.352232,3,21.5,0.447628,8.517120,501
1508699,36085031901,2017,2816.0,0.149827,0,0.0,0.000000,0.000000,501
1508731,36085031902,2017,5343.0,0.266616,0,0.0,0.000000,0.000000,501
1508763,36085032300,2017,1073.0,1.490535,0,0.0,0.000000,0.000000,501
1508795,36085990100,2017,0.0,0.000000,0,0.0,NaN,NaN,503

In [7]:
# getting rid of useless cols
NYC_Dollar = NYC_Dollar[['SBA','year','totpop','aland10','count_dollarstores','emps_dollarstores']].copy()
NYC_Dollar.head(5)

         SBA  year  totpop   aland10  count_dollarstores  emps_dollarstores
1385083  101  2017  6864.0  0.609795                   0                0.0
1385115  107  2017  4532.0  0.175801                   1                0.0
1385147  107  2017  5516.0  0.352277                   0                0.0
1385179  107  2017  5825.0  0.187290                   0                0.0
1385211  101  2017  3141.0  0.634618                   0                0.0

In [8]:
# renaming
NYC_Dollar = NYC_Dollar.rename(columns = {'totpop':'tot_pop','aland10':'sq_miles','count_dollarstores':'t_dollar_stores','emps_dollarstores':'t_dollar_emps'})
NYC_Dollar.head(5)

         SBA  year  tot_pop  sq_miles  t_dollar_stores  t_dollar_emps
1385083  101  2017   6864.0  0.609795                0            0.0
1385115  107  2017   4532.0  0.175801                1            0.0
1385147  107  2017   5516.0  0.352277                0            0.0
1385179  107  2017   5825.0  0.187290                0            0.0
1385211  101  2017   3141.0  0.634618                0            0.0

In [9]:
# aggregating to SBA level (multiple tracts in an SBA)
SBA_Dollar = NYC_Dollar.groupby('SBA').agg({
    'tot_pop':'sum',
    'sq_miles':'sum',
    't_dollar_stores':'sum'
}).reset_index()

SBA_Dollar.head(10)

   SBA   tot_pop  sq_miles  t_dollar_stores
0  101  156731.0  4.857219               12
1  102  171842.0  4.371108                5
2  103  141400.0  1.984920                7
3  104  139656.0  1.510099                6
4  105  132128.0  1.571252                3
5  106  109938.0  3.417777                1
6  107  185690.0  4.447131                4
7  108  119645.0  9.385994                2
8  109  126733.0  3.807365                5
9  110  151305.0  6.743433                3

In [10]:
# redoing rate calculations at sba level 
# dollar stores per 1k people
SBA_Dollar['dollars_per_1kppl'] = (SBA_Dollar['t_dollar_stores'] / SBA_Dollar['tot_pop']) * 1000

# dollar stores per square mile
SBA_Dollar['dollars_per_sqm'] = SBA_Dollar['t_dollar_stores'] / SBA_Dollar['sq_miles']

In [11]:
# Exporting 
DOLLARSTORES2017 = SBA_Dollar.to_csv('/Users/isabellagermani/Desktop/MS THSS/data/DOLLARSTORES2017.csv')

### Liquor, Tobacco, Cannabis, Vape, and Convenience Stores

In [12]:
vape = pd.read_stata('/Users/isabellagermani/Desktop/MS THSS/data/vape.dta')
type(vape)

pandas.core.frame.DataFrame

In [13]:
# filtering for NYC area & year
counties = ('005','081','047','061','085')

filter1 = vape['year'] == 2017.0
filter2 = vape['tract_fips10'].astype(str).str[0:2] == '36'
filter3 = vape['tract_fips10'].astype(str).str[2:5].isin(counties)

NYC_vape = vape[filter1 & filter2 & filter3].copy()
NYC_vape

,tract_fips10,year,totpop,aland10,count_liquorstores,emps_liquorstores,den_liquorstores,aden_liquorstores,count_tobaccostores,emps_tobaccostores,...,aden_conveniencestores,count_ecigarettestores,emps_ecigarettestores,den_ecigarettestores,aden_ecigarettestores,count_marijuanastores,emps_marijuanastores,den_marijuanastores,aden_marijuanastores,_merge
1385060,36005000100,2017.0,6864.0,0.609795,0.0,0.0,0.000000,0.000000,0.0,0.0,...,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Matched (3)
1385110,36005000200,2017.0,4532.0,0.175801,0.0,0.0,0.000000,0.000000,1.0,3.0,...,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Matched (3)
1385142,36005000400,2017.0,5516.0,0.352277,1.0,3.0,0.181291,2.838676,0.0,0.0,...,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Matched (3)
1385181,36005001600,2017.0,5825.0,0.187290,1.0,3.0,0.171674,5.339312,0.0,0.0,...,5.339312,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Matched (3)
1385211,36005001900,2017.0,3141.0,0.634618,3.0,6.0,0.955110,4.727251,0.0,0.0,...,1.575750,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Matched (3)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1508669,36085030302,2017.0,6702.0,0.352232,0.0,0.0,0.000000,0.000000,0.0,0.0,...,5.678080,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Matched (3)
1508677,36085031901,2017.0,2816.0,0.149827,0.0,0.0,0.000000,0.000000,0.0,0.0,...,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Matched (3)
1508731,36085031902,2017.0,5343.0,0.266616,0.0,0.0,0.000000,0.000000,0.0,0.0,...,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Matched (3)
1508750,36085032300,2017.0,1073.0,1.490535,1.0,1.0,0.931966,0.670900,0.0,0.0,...,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Matched (3)
1508775,36085990100,2017.0,0.0,0.000000,0.0,0.0,NaN,NaN,0.0,0.0,...,NaN,0.0,0.0,NaN,NaN,0.0,0.0,NaN,NaN,Matched (3)

In [14]:
# Using crosswalk
NYC_vape['SBA'] = NYC_vape['tract_fips10'].astype(str).map(cross_d).copy()
NYC_vape.head(5)

,tract_fips10,year,totpop,aland10,count_liquorstores,emps_liquorstores,den_liquorstores,aden_liquorstores,count_tobaccostores,emps_tobaccostores,...,count_ecigarettestores,emps_ecigarettestores,den_ecigarettestores,aden_ecigarettestores,count_marijuanastores,emps_marijuanastores,den_marijuanastores,aden_marijuanastores,_merge,SBA
1385060,36005000100,2017.0,6864.0,0.609795,0.0,0.0,0.000000,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Matched (3),101
1385110,36005000200,2017.0,4532.0,0.175801,0.0,0.0,0.000000,0.000000,1.0,3.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Matched (3),107
1385142,36005000400,2017.0,5516.0,0.352277,1.0,3.0,0.181291,2.838676,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Matched (3),107
1385181,36005001600,2017.0,5825.0,0.187290,1.0,3.0,0.171674,5.339312,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Matched (3),107
1385211,36005001900,2017.0,3141.0,0.634618,3.0,6.0,0.955110,4.727251,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Matched (3),101

In [15]:
# getting rid of useless cols
NYC_vape = NYC_vape[['SBA','totpop','aland10','count_liquorstores','count_tobaccostores','count_conveniencestores','count_ecigarettestores','count_marijuanastores']].copy()
NYC_vape.head(5)

,SBA,totpop,aland10,count_liquorstores,count_tobaccostores,count_conveniencestores,count_ecigarettestores,count_marijuanastores
1385060,101,6864.0,0.609795,0.0,0.0,0.0,0.0,0.0
1385110,107,4532.0,0.175801,0.0,1.0,0.0,0.0,0.0
1385142,107,5516.0,0.352277,1.0,0.0,0.0,0.0,0.0
1385181,107,5825.0,0.187290,1.0,0.0,1.0,0.0,0.0
1385211,101,3141.0,0.634618,3.0,0.0,1.0,0.0,0.0

In [16]:
# renaming
Vape2017 = NYC_vape.rename(columns = {'totpop':'tot_pop','aland10':'sq_miles'})
Vape2017.head(5)

,SBA,tot_pop,sq_miles,count_liquorstores,count_tobaccostores,count_conveniencestores,count_ecigarettestores,count_marijuanastores
1385060,101,6864.0,0.609795,0.0,0.0,0.0,0.0,0.0
1385110,107,4532.0,0.175801,0.0,1.0,0.0,0.0,0.0
1385142,107,5516.0,0.352277,1.0,0.0,0.0,0.0,0.0
1385181,107,5825.0,0.187290,1.0,0.0,1.0,0.0,0.0
1385211,101,3141.0,0.634618,3.0,0.0,1.0,0.0,0.0

In [17]:
# aggregating
Vape2017_aggregated = Vape2017.groupby(['SBA']).agg({
    'tot_pop': 'sum',
    'sq_miles': 'sum', 
    'count_liquorstores': 'sum',
    'count_tobaccostores': 'sum',
    'count_conveniencestores': 'sum',
    'count_ecigarettestores': 'sum',
    'count_marijuanastores': 'sum',
}).reset_index()

Vape2017_aggregated.head(10)

,SBA,tot_pop,sq_miles,count_liquorstores,count_tobaccostores,count_conveniencestores,count_ecigarettestores,count_marijuanastores
0,101,156731.0,4.857219,33.0,1.0,22.0,0.0,0.0
1,102,171842.0,4.371108,24.0,7.0,24.0,1.0,0.0
2,103,141400.0,1.984920,16.0,10.0,20.0,0.0,0.0
3,104,139656.0,1.510100,18.0,5.0,13.0,0.0,0.0
4,105,132128.0,1.571252,12.0,3.0,13.0,0.0,0.0
5,106,109938.0,3.417777,12.0,5.0,11.0,0.0,0.0
6,107,185690.0,4.447131,24.0,6.0,27.0,2.0,0.0
7,108,119645.0,9.385994,12.0,4.0,13.0,1.0,0.0
8,109,126733.0,3.807365,20.0,5.0,24.0,2.0,0.0
9,110,151305.0,6.743433,14.0,1.0,21.0,0.0,0.0

In [18]:
# redoing rate calculations at sba level 

# liquor stores per 1k people
Vape2017_aggregated['liqour_per_1kppl'] = (Vape2017_aggregated['count_liquorstores'] / Vape2017_aggregated['tot_pop']) * 1000
# per square mile
Vape2017_aggregated['liqour_per_sqm'] = Vape2017_aggregated['count_liquorstores'] / Vape2017_aggregated['sq_miles']

# tobacco stores per 1k people
Vape2017_aggregated['tobacco_per_1kppl'] = (Vape2017_aggregated['count_tobaccostores'] / Vape2017_aggregated['tot_pop']) * 1000
# per square mile
Vape2017_aggregated['tobacco_per_sqm'] = Vape2017_aggregated['count_tobaccostores'] / Vape2017_aggregated['sq_miles']

# convenience stores per 1k people
Vape2017_aggregated['convenience_per_1kppl'] = (Vape2017_aggregated['count_conveniencestores'] / Vape2017_aggregated['tot_pop']) * 1000
# per square mile
Vape2017_aggregated['convenience_per_sqm'] = Vape2017_aggregated['count_conveniencestores'] / Vape2017_aggregated['sq_miles']

# ecig stores per 1k people
Vape2017_aggregated['ecig_per_1kppl'] = (Vape2017_aggregated['count_ecigarettestores'] / Vape2017_aggregated['tot_pop']) * 1000
# per square mile
Vape2017_aggregated['ecig_per_sqm'] = Vape2017_aggregated['count_ecigarettestores'] / Vape2017_aggregated['sq_miles']

# marijuana stores per 1k people
Vape2017_aggregated['marijuana_per_1kppl'] = (Vape2017_aggregated['count_marijuanastores'] / Vape2017_aggregated['tot_pop']) * 1000
# per square mile
Vape2017_aggregated['marijuana_per_sqm'] = Vape2017_aggregated['count_marijuanastores'] / Vape2017_aggregated['sq_miles']

Vape2017_aggregated.head(5)

,SBA,tot_pop,sq_miles,count_liquorstores,count_tobaccostores,count_conveniencestores,count_ecigarettestores,count_marijuanastores,liqour_per_1kppl,liqour_per_sqm,tobacco_per_1kppl,tobacco_per_sqm,convenience_per_1kppl,convenience_per_sqm,ecig_per_1kppl,ecig_per_sqm,marijuana_per_1kppl,marijuana_per_sqm
0,101,156731.0,4.857219,33.0,1.0,22.0,0.0,0.0,0.210552,6.794012,0.006380,0.205879,0.140368,4.529341,0.000000,0.000000,0.0,0.0
1,102,171842.0,4.371108,24.0,7.0,24.0,1.0,0.0,0.139663,5.490599,0.040735,1.601425,0.139663,5.490599,0.005819,0.228775,0.0,0.0
2,103,141400.0,1.984920,16.0,10.0,20.0,0.0,0.0,0.113154,8.060781,0.070721,5.037988,0.141443,10.075975,0.000000,0.000000,0.0,0.0
3,104,139656.0,1.510100,18.0,5.0,13.0,0.0,0.0,0.128888,11.919744,0.035802,3.311040,0.093086,8.608704,0.000000,0.000000,0.0,0.0
4,105,132128.0,1.571252,12.0,3.0,13.0,0.0,0.0,0.090821,7.637222,0.022705,1.909305,0.098389,8.273657,0.000000,0.000000,0.0,0.0

In [19]:
# dropping count cols
VAPE2017 = Vape2017_aggregated[['SBA','liqour_per_1kppl','liqour_per_sqm','tobacco_per_1kppl','tobacco_per_sqm','convenience_per_1kppl','convenience_per_sqm','ecig_per_1kppl','ecig_per_sqm','marijuana_per_1kppl','marijuana_per_sqm']].copy()
VAPE2017.head(5)

,SBA,liqour_per_1kppl,liqour_per_sqm,tobacco_per_1kppl,tobacco_per_sqm,convenience_per_1kppl,convenience_per_sqm,ecig_per_1kppl,ecig_per_sqm,marijuana_per_1kppl,marijuana_per_sqm
0,101,0.210552,6.794012,0.006380,0.205879,0.140368,4.529341,0.000000,0.000000,0.0,0.0
1,102,0.139663,5.490599,0.040735,1.601425,0.139663,5.490599,0.005819,0.228775,0.0,0.0
2,103,0.113154,8.060781,0.070721,5.037988,0.141443,10.075975,0.000000,0.000000,0.0,0.0
3,104,0.128888,11.919744,0.035802,3.311040,0.093086,8.608704,0.000000,0.000000,0.0,0.0
4,105,0.090821,7.637222,0.022705,1.909305,0.098389,8.273657,0.000000,0.000000,0.0,0.0

In [20]:
# exporting
VAPE2017 = VAPE2017.to_csv('/Users/isabellagermani/Desktop/MS THSS/data/VAPE2017.csv')

### Civic, Social, and Religious Organizations

In [21]:
civic = pd.read_stata('/Users/isabellagermani/Desktop/MS THSS/data/civic.dta')
type(civic)

pandas.core.frame.DataFrame

In [22]:
# filtering for NYC area & year
counties = ('005','081','047','061','085')

filter1 = civic['year'] == 2017.0
filter2 = civic['tract_fips10'].astype(str).str[0:2] == '36'
filter3 = civic['tract_fips10'].astype(str).str[2:5].isin(counties)

NYC_civic = civic[filter1 & filter2 & filter3].copy()
NYC_civic

,tract_fips10,year,totpop,aland10,count_civsoc,emps_civsoc,den_civsoc,aden_civsoc,count_youthorgs,emps_youthorgs,den_youthorgs,aden_youthorgs,count_veteransorgs,emps_veteransorgs,den_veteransorgs,aden_veteransorgs,count_religiousorgs,emps_religiousorgs,den_religiousorgs,aden_religiousorgs
1385083,36005000100,2017.0,6864.0,0.609795,0.0,0.0,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000
1385115,36005000200,2017.0,4532.0,0.175801,2.0,7.0,0.441306,11.376513,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,6.0,8.0,1.323919,34.129536
1385147,36005000400,2017.0,5516.0,0.352277,0.0,0.0,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,6.0,16.0,1.087745,17.032055
1385179,36005001600,2017.0,5825.0,0.187290,2.0,6.0,0.343348,10.678624,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,2.0,3.0,0.343348,10.678624
1385211,36005001900,2017.0,3141.0,0.634618,0.0,0.0,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,4.0,4.0,1.273480,6.303001
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1508667,36085030302,2017.0,6702.0,0.352232,1.0,4.0,0.149209,2.839040,1.0,3.0,0.149209,2.839040,0.0,0.0,0.0,0.0,1.0,2.0,0.149209,2.839040
1508699,36085031901,2017.0,2816.0,0.149827,0.0,0.0,0.000000,0.000000,1.0,4.0,0.355114,6.674367,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000
1508731,36085031902,2017.0,5343.0,0.266616,1.0,3.0,0.187161,3.750709,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,3.0,7.0,0.561482,11.252126
1508763,36085032300,2017.0,1073.0,1.490535,1.0,7.0,0.931966,0.670900,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,1.0,2.0,0.931966,0.670900
1508795,36085990100,2017.0,0.0,0.000000,0.0,0.0,NaN,NaN,0.0,0.0,NaN,NaN,0.0,0.0,NaN,NaN,0.0,0.0,NaN,NaN

In [23]:
# Using crosswalk
NYC_civic['SBA'] = NYC_civic['tract_fips10'].astype(str).map(cross_d).copy()
NYC_civic.head(5)

,tract_fips10,year,totpop,aland10,count_civsoc,emps_civsoc,den_civsoc,aden_civsoc,count_youthorgs,emps_youthorgs,...,aden_youthorgs,count_veteransorgs,emps_veteransorgs,den_veteransorgs,aden_veteransorgs,count_religiousorgs,emps_religiousorgs,den_religiousorgs,aden_religiousorgs,SBA
1385083,36005000100,2017.0,6864.0,0.609795,0.0,0.0,0.000000,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,101
1385115,36005000200,2017.0,4532.0,0.175801,2.0,7.0,0.441306,11.376513,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,6.0,8.0,1.323919,34.129536,107
1385147,36005000400,2017.0,5516.0,0.352277,0.0,0.0,0.000000,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,6.0,16.0,1.087745,17.032055,107
1385179,36005001600,2017.0,5825.0,0.187290,2.0,6.0,0.343348,10.678624,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,2.0,3.0,0.343348,10.678624,107
1385211,36005001900,2017.0,3141.0,0.634618,0.0,0.0,0.000000,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,4.0,4.0,1.273480,6.303001,101

In [24]:
# getting rid of useless cols
NYC_civic = NYC_civic[['SBA','year','totpop','aland10','count_civsoc','count_youthorgs','count_veteransorgs','count_religiousorgs']].copy()
NYC_civic.head(5)

,SBA,year,totpop,aland10,count_civsoc,count_youthorgs,count_veteransorgs,count_religiousorgs
1385083,101,2017.0,6864.0,0.609795,0.0,0.0,0.0,0.0
1385115,107,2017.0,4532.0,0.175801,2.0,0.0,0.0,6.0
1385147,107,2017.0,5516.0,0.352277,0.0,0.0,0.0,6.0
1385179,107,2017.0,5825.0,0.187290,2.0,0.0,0.0,2.0
1385211,101,2017.0,3141.0,0.634618,0.0,0.0,0.0,4.0

In [25]:
# renaming
civic2017 = NYC_civic.rename(columns = {'totpop':'tot_pop','aland10':'sq_miles'})
civic2017.head(5)

,SBA,year,tot_pop,sq_miles,count_civsoc,count_youthorgs,count_veteransorgs,count_religiousorgs
1385083,101,2017.0,6864.0,0.609795,0.0,0.0,0.0,0.0
1385115,107,2017.0,4532.0,0.175801,2.0,0.0,0.0,6.0
1385147,107,2017.0,5516.0,0.352277,0.0,0.0,0.0,6.0
1385179,107,2017.0,5825.0,0.187290,2.0,0.0,0.0,2.0
1385211,101,2017.0,3141.0,0.634618,0.0,0.0,0.0,4.0

In [26]:
# aggregating
civic2017_aggregated = civic2017.groupby(['SBA']).agg({
    'tot_pop': 'sum',
    'sq_miles': 'sum', 
    'count_civsoc': 'sum',
    'count_youthorgs': 'sum',
    'count_veteransorgs': 'sum',
    'count_religiousorgs': 'sum'
}).reset_index()

civic2017_aggregated.head(10)

,SBA,tot_pop,sq_miles,count_civsoc,count_youthorgs,count_veteransorgs,count_religiousorgs
0,101,156731.0,4.857219,20.0,4.0,0.0,142.0
1,102,171842.0,4.371108,22.0,8.0,1.0,197.0
2,103,141400.0,1.984920,20.0,5.0,2.0,111.0
3,104,139656.0,1.510100,17.0,4.0,0.0,99.0
4,105,132128.0,1.571252,18.0,3.0,0.0,75.0
5,106,109938.0,3.417777,37.0,1.0,3.0,74.0
6,107,185690.0,4.447131,26.0,6.0,2.0,127.0
7,108,119645.0,9.385994,30.0,2.0,5.0,85.0
8,109,126733.0,3.807365,23.0,1.0,2.0,93.0
9,110,151305.0,6.743433,33.0,3.0,2.0,208.0

In [27]:
# redoing rate calculations at sba level 

# Civic/social orgs per 1k people
civic2017_aggregated['civsoc_per_1kppl'] = (civic2017_aggregated['count_civsoc'] / civic2017_aggregated['tot_pop']) * 1000
# per square mile
civic2017_aggregated['civsoc_per_sqm'] = civic2017_aggregated['count_civsoc'] / civic2017_aggregated['sq_miles']

# Youth orgs per 1k people
civic2017_aggregated['youthorgs_per_1kppl'] = (civic2017_aggregated['count_youthorgs'] / civic2017_aggregated['tot_pop']) * 1000
# per square mile
civic2017_aggregated['youthorgs_per_sqm'] = civic2017_aggregated['count_youthorgs'] / civic2017_aggregated['sq_miles']

# Veterans orgs per 1k people
civic2017_aggregated['vetorgs_per_1kppl'] = (civic2017_aggregated['count_veteransorgs'] / civic2017_aggregated['tot_pop']) * 1000
# per square mile
civic2017_aggregated['vetorgs_per_sqm'] = civic2017_aggregated['count_veteransorgs'] / civic2017_aggregated['sq_miles']

# Religious orgs per 1k people
civic2017_aggregated['relig_per_1kppl'] = (civic2017_aggregated['count_religiousorgs'] / civic2017_aggregated['tot_pop']) * 1000
# per square mile
civic2017_aggregated['relig_per_sqm'] = civic2017_aggregated['count_religiousorgs'] / civic2017_aggregated['sq_miles']

civic2017_aggregated.head(5)

,SBA,tot_pop,sq_miles,count_civsoc,count_youthorgs,count_veteransorgs,count_religiousorgs,civsoc_per_1kppl,civsoc_per_sqm,youthorgs_per_1kppl,youthorgs_per_sqm,vetorgs_per_1kppl,vetorgs_per_sqm,relig_per_1kppl,relig_per_sqm
0,101,156731.0,4.857219,20.0,4.0,0.0,142.0,0.127607,4.117583,0.025521,0.823517,0.000000,0.000000,0.906011,29.234837
1,102,171842.0,4.371108,22.0,8.0,1.0,197.0,0.128025,5.033049,0.046554,1.830200,0.005819,0.228775,1.146402,45.068668
2,103,141400.0,1.984920,20.0,5.0,2.0,111.0,0.141443,10.075975,0.035361,2.518994,0.014144,1.007598,0.785007,55.921661
3,104,139656.0,1.510100,17.0,4.0,0.0,99.0,0.121728,11.257535,0.028642,2.648832,0.000000,0.000000,0.708885,65.558586
4,105,132128.0,1.571252,18.0,3.0,0.0,75.0,0.136232,11.455832,0.022705,1.909305,0.000000,0.000000,0.567631,47.732635

In [28]:
# dropping count cols
CIVIC2017 = civic2017_aggregated[['SBA','civsoc_per_1kppl','civsoc_per_sqm','youthorgs_per_1kppl','youthorgs_per_sqm','vetorgs_per_1kppl','vetorgs_per_sqm','relig_per_1kppl','relig_per_sqm']].copy()
CIVIC2017.head(5)

,SBA,civsoc_per_1kppl,civsoc_per_sqm,youthorgs_per_1kppl,youthorgs_per_sqm,vetorgs_per_1kppl,vetorgs_per_sqm,relig_per_1kppl,relig_per_sqm
0,101,0.127607,4.117583,0.025521,0.823517,0.000000,0.000000,0.906011,29.234837
1,102,0.128025,5.033049,0.046554,1.830200,0.005819,0.228775,1.146402,45.068668
2,103,0.141443,10.075975,0.035361,2.518994,0.014144,1.007598,0.785007,55.921661
3,104,0.121728,11.257535,0.028642,2.648832,0.000000,0.000000,0.708885,65.558586
4,105,0.136232,11.455832,0.022705,1.909305,0.000000,0.000000,0.567631,47.732635

In [29]:
# exporting
CIVIC2017 = CIVIC2017.to_csv('/Users/isabellagermani/Desktop/MS THSS/data/CIVIC2017.csv')

### Personal Care Services and Laundry

In [30]:
laundry = pd.read_stata('/Users/isabellagermani/Desktop/MS THSS/data/laundry.dta')
type(laundry)

pandas.core.frame.DataFrame

In [31]:
# filtering for NYC area & year
counties = ('005','081','047','061','085')

filter1 = laundry['year'] == 2017.0
filter2 = laundry['tract_fips10'].astype(str).str[0:2] == '36'
filter3 = laundry['tract_fips10'].astype(str).str[2:5].isin(counties)

NYC_laundry = laundry[filter1 & filter2 & filter3].copy()
NYC_laundry

,tract_fips10,year,totpop,aland10,count_barbershops,emps_barbershops,den_barbershops,aden_barbershops,count_beautyshops,emps_beautyshops,den_beautyshops,aden_beautyshops,count_coinlaundry,emps_coinlaundry,den_coinlaundry,aden_coinlaundry,count_laundrydrycleaning,emps_laundrydrycleaning,den_laundrydrycleaning,aden_laundrydrycleaning
1385083,36005000100,2017.0,6864.0,0.609795,0.0,0.0,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.0,0.00000,0.00000
1385115,36005000200,2017.0,4532.0,0.175801,1.0,2.0,0.220653,5.688256,5.0,13.0,1.103266,28.441280,2.0,2.0,0.441306,11.376513,0.0,0.0,0.00000,0.00000
1385147,36005000400,2017.0,5516.0,0.352277,2.0,4.0,0.362582,5.677352,5.0,10.0,0.906454,14.193379,1.0,5.0,0.181291,2.838676,0.0,0.0,0.00000,0.00000
1385179,36005001600,2017.0,5825.0,0.187290,0.0,0.0,0.000000,0.000000,2.0,2.0,0.343348,10.678624,0.0,0.0,0.000000,0.000000,0.0,0.0,0.00000,0.00000
1385211,36005001900,2017.0,3141.0,0.634618,0.0,0.0,0.000000,0.000000,4.0,9.0,1.273480,6.303001,2.0,2.0,0.636740,3.151500,1.0,4.0,0.31837,1.57575
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1508667,36085030302,2017.0,6702.0,0.352232,3.0,4.0,0.447628,8.517120,2.0,5.0,0.298418,5.678080,0.0,0.0,0.000000,0.000000,0.0,0.0,0.00000,0.00000
1508699,36085031901,2017.0,2816.0,0.149827,0.0,0.0,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.0,0.00000,0.00000
1508731,36085031902,2017.0,5343.0,0.266616,0.0,0.0,0.000000,0.000000,0.0,0.0,0.000000,0.000000,1.0,2.0,0.187161,3.750709,0.0,0.0,0.00000,0.00000
1508763,36085032300,2017.0,1073.0,1.490535,0.0,0.0,0.000000,0.000000,1.0,1.0,0.931966,0.670900,0.0,0.0,0.000000,0.000000,0.0,0.0,0.00000,0.00000
1508795,36085990100,2017.0,0.0,0.000000,0.0,0.0,NaN,NaN,0.0,0.0,NaN,NaN,0.0,0.0,NaN,NaN,0.0,0.0,NaN,NaN

In [32]:
# Using crosswalk
NYC_laundry['SBA'] = NYC_laundry['tract_fips10'].astype(str).map(cross_d).copy()
NYC_laundry.head(5)

,tract_fips10,year,totpop,aland10,count_barbershops,emps_barbershops,den_barbershops,aden_barbershops,count_beautyshops,emps_beautyshops,...,aden_beautyshops,count_coinlaundry,emps_coinlaundry,den_coinlaundry,aden_coinlaundry,count_laundrydrycleaning,emps_laundrydrycleaning,den_laundrydrycleaning,aden_laundrydrycleaning,SBA
1385083,36005000100,2017.0,6864.0,0.609795,0.0,0.0,0.000000,0.000000,0.0,0.0,...,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.0,0.00000,0.00000,101
1385115,36005000200,2017.0,4532.0,0.175801,1.0,2.0,0.220653,5.688256,5.0,13.0,...,28.441280,2.0,2.0,0.441306,11.376513,0.0,0.0,0.00000,0.00000,107
1385147,36005000400,2017.0,5516.0,0.352277,2.0,4.0,0.362582,5.677352,5.0,10.0,...,14.193379,1.0,5.0,0.181291,2.838676,0.0,0.0,0.00000,0.00000,107
1385179,36005001600,2017.0,5825.0,0.187290,0.0,0.0,0.000000,0.000000,2.0,2.0,...,10.678624,0.0,0.0,0.000000,0.000000,0.0,0.0,0.00000,0.00000,107
1385211,36005001900,2017.0,3141.0,0.634618,0.0,0.0,0.000000,0.000000,4.0,9.0,...,6.303001,2.0,2.0,0.636740,3.151500,1.0,4.0,0.31837,1.57575,101

In [33]:
# getting rid of useless cols
NYC_laundry = NYC_laundry[['SBA','year','totpop','aland10','count_barbershops','count_beautyshops','count_coinlaundry','count_laundrydrycleaning']].copy()
NYC_laundry.head(5)

,SBA,year,totpop,aland10,count_barbershops,count_beautyshops,count_coinlaundry,count_laundrydrycleaning
1385083,101,2017.0,6864.0,0.609795,0.0,0.0,0.0,0.0
1385115,107,2017.0,4532.0,0.175801,1.0,5.0,2.0,0.0
1385147,107,2017.0,5516.0,0.352277,2.0,5.0,1.0,0.0
1385179,107,2017.0,5825.0,0.187290,0.0,2.0,0.0,0.0
1385211,101,2017.0,3141.0,0.634618,0.0,4.0,2.0,1.0

In [34]:
# renaming
laundry2017 = NYC_laundry.rename(columns = {'totpop':'tot_pop','aland10':'sq_miles'})
laundry2017.head(5)

,SBA,year,tot_pop,sq_miles,count_barbershops,count_beautyshops,count_coinlaundry,count_laundrydrycleaning
1385083,101,2017.0,6864.0,0.609795,0.0,0.0,0.0,0.0
1385115,107,2017.0,4532.0,0.175801,1.0,5.0,2.0,0.0
1385147,107,2017.0,5516.0,0.352277,2.0,5.0,1.0,0.0
1385179,107,2017.0,5825.0,0.187290,0.0,2.0,0.0,0.0
1385211,101,2017.0,3141.0,0.634618,0.0,4.0,2.0,1.0

In [35]:
# aggregating
laundry2017_aggregated = laundry2017.groupby(['SBA']).agg({
    'tot_pop': 'sum',
    'sq_miles': 'sum', 
    'count_barbershops': 'sum',
    'count_beautyshops': 'sum',
    'count_coinlaundry': 'sum',
    'count_laundrydrycleaning': 'sum'
}).reset_index()

laundry2017_aggregated.head(10)

,SBA,tot_pop,sq_miles,count_barbershops,count_beautyshops,count_coinlaundry,count_laundrydrycleaning
0,101,156731.0,4.857219,60.0,150.0,35.0,10.0
1,102,171842.0,4.371108,68.0,149.0,29.0,8.0
2,103,141400.0,1.984920,49.0,137.0,19.0,5.0
3,104,139656.0,1.510100,50.0,152.0,22.0,1.0
4,105,132128.0,1.571252,32.0,126.0,27.0,3.0
5,106,109938.0,3.417777,21.0,99.0,13.0,5.0
6,107,185690.0,4.447131,48.0,161.0,30.0,7.0
7,108,119645.0,9.385994,21.0,98.0,16.0,4.0
8,109,126733.0,3.807365,38.0,168.0,23.0,4.0
9,110,151305.0,6.743433,37.0,217.0,29.0,2.0

In [36]:
# redoing rate calculations at sba level 

# barbershops per 1k people
laundry2017_aggregated['barber_per_1kppl'] = (laundry2017_aggregated['count_barbershops'] / laundry2017_aggregated['tot_pop']) * 1000
# per square mile
laundry2017_aggregated['barber_per_sqm'] = laundry2017_aggregated['count_barbershops'] / laundry2017_aggregated['sq_miles']

# beautyshops per 1k people
laundry2017_aggregated['beauty_per_1kppl'] = (laundry2017_aggregated['count_beautyshops'] / laundry2017_aggregated['tot_pop']) * 1000
# per square mile
laundry2017_aggregated['beauty_per_sqm'] = laundry2017_aggregated['count_beautyshops'] / laundry2017_aggregated['sq_miles']

# coinlaundry per 1k people
laundry2017_aggregated['laundry_per_1kppl'] = (laundry2017_aggregated['count_coinlaundry'] / laundry2017_aggregated['tot_pop']) * 1000
# per square mile
laundry2017_aggregated['laundry_per_sqm'] = laundry2017_aggregated['count_coinlaundry'] / laundry2017_aggregated['sq_miles']

# laundrydrycleaning per 1k people
laundry2017_aggregated['drycl_per_1kppl'] = (laundry2017_aggregated['count_laundrydrycleaning'] / laundry2017_aggregated['tot_pop']) * 1000
# per square mile
laundry2017_aggregated['drycl_per_sqm'] = laundry2017_aggregated['count_laundrydrycleaning'] / laundry2017_aggregated['sq_miles']

laundry2017_aggregated.head(5)

,SBA,tot_pop,sq_miles,count_barbershops,count_beautyshops,count_coinlaundry,count_laundrydrycleaning,barber_per_1kppl,barber_per_sqm,beauty_per_1kppl,beauty_per_sqm,laundry_per_1kppl,laundry_per_sqm,drycl_per_1kppl,drycl_per_sqm
0,101,156731.0,4.857219,60.0,150.0,35.0,10.0,0.382822,12.352748,0.957054,30.881870,0.223313,7.205770,0.063804,2.058791
1,102,171842.0,4.371108,68.0,149.0,29.0,8.0,0.395712,15.556698,0.867076,34.087471,0.168760,6.634474,0.046554,1.830200
2,103,141400.0,1.984920,49.0,137.0,19.0,5.0,0.346535,24.686138,0.968883,69.020432,0.134371,9.572176,0.035361,2.518994
3,104,139656.0,1.510100,50.0,152.0,22.0,1.0,0.358023,33.110397,1.088389,100.655609,0.157530,14.568575,0.007160,0.662208
4,105,132128.0,1.571252,32.0,126.0,27.0,3.0,0.242189,20.365925,0.953621,80.190826,0.204347,17.183748,0.022705,1.909305

In [37]:
# dropping count cols
LAUNDRY2017 = laundry2017_aggregated[['SBA','barber_per_1kppl','barber_per_sqm','beauty_per_1kppl','beauty_per_sqm','laundry_per_1kppl','laundry_per_sqm','drycl_per_1kppl','drycl_per_sqm']].copy()
LAUNDRY2017.head(5)

,SBA,barber_per_1kppl,barber_per_sqm,beauty_per_1kppl,beauty_per_sqm,laundry_per_1kppl,laundry_per_sqm,drycl_per_1kppl,drycl_per_sqm
0,101,0.382822,12.352748,0.957054,30.881870,0.223313,7.205770,0.063804,2.058791
1,102,0.395712,15.556698,0.867076,34.087471,0.168760,6.634474,0.046554,1.830200
2,103,0.346535,24.686138,0.968883,69.020432,0.134371,9.572176,0.035361,2.518994
3,104,0.358023,33.110397,1.088389,100.655609,0.157530,14.568575,0.007160,0.662208
4,105,0.242189,20.365925,0.953621,80.190826,0.204347,17.183748,0.022705,1.909305

In [38]:
# exporting
LAUNDRY2017 = LAUNDRY2017.to_csv('/Users/isabellagermani/Desktop/MS THSS/data/LAUNDRY2017.csv')

### Social Services

In [39]:
socials = pd.read_stata('/Users/isabellagermani/Desktop/MS THSS/data/socials.dta')
type(socials)

pandas.core.frame.DataFrame

In [40]:
# filtering for NYC area & year
counties = ('005','081','047','061','085')

filter1 = socials['year'] == 2017.0
filter2 = socials['tract_fips10'].astype(str).str[0:2] == '36'
filter3 = socials['tract_fips10'].astype(str).str[2:5].isin(counties)

NYC_socials = socials[filter1 & filter2 & filter3].copy()
NYC_socials

,tract_fips10,year,totpop,aland10,count_indivfamilyservices,emps_indivfamilyservices,den_indivfamilyservices,aden_indivfamilyservices,count_elderdisabservices,emps_elderdisabservices,...,den_generalcounselingservices,aden_generalcounselingservices,count_substanceabusecounseling,emps_substanceabusecounseling,den_substanceabusecounseling,aden_substanceabusecounseling,count_childdaycareservices,emps_childdaycareservices,den_childdaycareservices,aden_childdaycareservices
1385083,36005000100,2017.0,6864.0,0.609795,1.0,78.0,0.145688,1.639896,0.0,0.0,...,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000
1385115,36005000200,2017.0,4532.0,0.175801,4.0,17.0,0.882613,22.753025,0.0,0.0,...,0.220653,5.688256,0.0,0.0,0.0,0.0,4.0,14.0,0.882613,22.753025
1385147,36005000400,2017.0,5516.0,0.352277,4.0,10.0,0.725163,11.354704,0.0,0.0,...,0.362582,5.677352,0.0,0.0,0.0,0.0,2.0,10.0,0.362582,5.677352
1385179,36005001600,2017.0,5825.0,0.187290,2.0,6.0,0.343348,10.678624,0.0,0.0,...,0.343348,10.678624,0.0,0.0,0.0,0.0,5.0,43.0,0.858369,26.696560
1385211,36005001900,2017.0,3141.0,0.634618,1.0,4.0,0.318370,1.575750,0.0,0.0,...,0.000000,0.000000,0.0,0.0,0.0,0.0,1.0,5.0,0.318370,1.575750
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1508667,36085030302,2017.0,6702.0,0.352232,0.0,0.0,0.000000,0.000000,0.0,0.0,...,0.000000,0.000000,0.0,0.0,0.0,0.0,4.0,4.0,0.596837,11.356160
1508699,36085031901,2017.0,2816.0,0.149827,0.0,0.0,0.000000,0.000000,0.0,0.0,...,0.000000,0.000000,0.0,0.0,0.0,0.0,3.0,36.0,1.065341,20.023100
1508731,36085031902,2017.0,5343.0,0.266616,0.0,0.0,0.000000,0.000000,0.0,0.0,...,0.000000,0.000000,0.0,0.0,0.0,0.0,3.0,11.0,0.561482,11.252126
1508763,36085032300,2017.0,1073.0,1.490535,0.0,0.0,0.000000,0.000000,0.0,0.0,...,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000
1508795,36085990100,2017.0,0.0,0.000000,0.0,0.0,NaN,NaN,0.0,0.0,...,NaN,NaN,0.0,0.0,NaN,NaN,0.0,0.0,NaN,NaN

In [41]:
# Using crosswalk
NYC_socials['SBA'] = NYC_socials['tract_fips10'].astype(str).map(cross_d).copy()
NYC_socials.head(5)

,tract_fips10,year,totpop,aland10,count_indivfamilyservices,emps_indivfamilyservices,den_indivfamilyservices,aden_indivfamilyservices,count_elderdisabservices,emps_elderdisabservices,...,aden_generalcounselingservices,count_substanceabusecounseling,emps_substanceabusecounseling,den_substanceabusecounseling,aden_substanceabusecounseling,count_childdaycareservices,emps_childdaycareservices,den_childdaycareservices,aden_childdaycareservices,SBA
1385083,36005000100,2017.0,6864.0,0.609795,1.0,78.0,0.145688,1.639896,0.0,0.0,...,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,101
1385115,36005000200,2017.0,4532.0,0.175801,4.0,17.0,0.882613,22.753025,0.0,0.0,...,5.688256,0.0,0.0,0.0,0.0,4.0,14.0,0.882613,22.753025,107
1385147,36005000400,2017.0,5516.0,0.352277,4.0,10.0,0.725163,11.354704,0.0,0.0,...,5.677352,0.0,0.0,0.0,0.0,2.0,10.0,0.362582,5.677352,107
1385179,36005001600,2017.0,5825.0,0.187290,2.0,6.0,0.343348,10.678624,0.0,0.0,...,10.678624,0.0,0.0,0.0,0.0,5.0,43.0,0.858369,26.696560,107
1385211,36005001900,2017.0,3141.0,0.634618,1.0,4.0,0.318370,1.575750,0.0,0.0,...,0.000000,0.0,0.0,0.0,0.0,1.0,5.0,0.318370,1.575750,101

In [42]:
# getting rid of useless cols
NYC_socials = NYC_socials[['SBA','year','totpop','aland10','count_indivfamilyservices','count_elderdisabservices','count_childyouthservices','count_emergencydisasterservices','count_mealdeliveryprograms','count_generalcounselingservices','count_substanceabusecounseling','count_childdaycareservices']].copy()
NYC_socials.head(5)

,SBA,year,totpop,aland10,count_indivfamilyservices,count_elderdisabservices,count_childyouthservices,count_emergencydisasterservices,count_mealdeliveryprograms,count_generalcounselingservices,count_substanceabusecounseling,count_childdaycareservices
1385083,101,2017.0,6864.0,0.609795,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1385115,107,2017.0,4532.0,0.175801,4.0,0.0,0.0,0.0,0.0,1.0,0.0,4.0
1385147,107,2017.0,5516.0,0.352277,4.0,0.0,0.0,0.0,0.0,2.0,0.0,2.0
1385179,107,2017.0,5825.0,0.187290,2.0,0.0,0.0,0.0,0.0,2.0,0.0,5.0
1385211,101,2017.0,3141.0,0.634618,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [43]:
# renaming
socials2017 = NYC_socials.rename(columns = {'totpop':'tot_pop','aland10':'sq_miles'})
socials2017.head(5)

,SBA,year,tot_pop,sq_miles,count_indivfamilyservices,count_elderdisabservices,count_childyouthservices,count_emergencydisasterservices,count_mealdeliveryprograms,count_generalcounselingservices,count_substanceabusecounseling,count_childdaycareservices
1385083,101,2017.0,6864.0,0.609795,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1385115,107,2017.0,4532.0,0.175801,4.0,0.0,0.0,0.0,0.0,1.0,0.0,4.0
1385147,107,2017.0,5516.0,0.352277,4.0,0.0,0.0,0.0,0.0,2.0,0.0,2.0
1385179,107,2017.0,5825.0,0.187290,2.0,0.0,0.0,0.0,0.0,2.0,0.0,5.0
1385211,101,2017.0,3141.0,0.634618,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [44]:
# aggregating
socials2017_aggregated = socials2017.groupby(['SBA']).agg({
    'tot_pop': 'sum',
    'sq_miles': 'sum', 
    'count_indivfamilyservices': 'sum',
    'count_elderdisabservices': 'sum',
    'count_childyouthservices': 'sum',
    'count_emergencydisasterservices': 'sum',
    'count_mealdeliveryprograms': 'sum',
    'count_generalcounselingservices': 'sum',
    'count_substanceabusecounseling': 'sum',
    'count_childdaycareservices': 'sum'
}).reset_index()

socials2017_aggregated.head(10)

,SBA,tot_pop,sq_miles,count_indivfamilyservices,count_elderdisabservices,count_childyouthservices,count_emergencydisasterservices,count_mealdeliveryprograms,count_generalcounselingservices,count_substanceabusecounseling,count_childdaycareservices
0,101,156731.0,4.857219,128.0,15.0,6.0,5.0,1.0,37.0,2.0,87.0
1,102,171842.0,4.371108,88.0,8.0,7.0,4.0,0.0,28.0,3.0,102.0
2,103,141400.0,1.984920,47.0,3.0,4.0,2.0,0.0,14.0,0.0,66.0
3,104,139656.0,1.510100,62.0,3.0,3.0,2.0,0.0,18.0,1.0,91.0
4,105,132128.0,1.571252,57.0,6.0,6.0,0.0,0.0,18.0,1.0,82.0
5,106,109938.0,3.417777,43.0,5.0,1.0,2.0,0.0,17.0,0.0,62.0
6,107,185690.0,4.447131,51.0,3.0,3.0,4.0,1.0,18.0,0.0,96.0
7,108,119645.0,9.385994,49.0,8.0,7.0,1.0,0.0,12.0,1.0,53.0
8,109,126733.0,3.807365,51.0,7.0,6.0,0.0,1.0,15.0,0.0,60.0
9,110,151305.0,6.743433,73.0,7.0,8.0,2.0,0.0,23.0,1.0,93.0

In [45]:
# redoing rate calculations at sba level 

# Individual/family services per 1k people
socials2017_aggregated['I/Fserv_per_1kppl'] = (socials2017_aggregated['count_indivfamilyservices'] / socials2017_aggregated['tot_pop']) * 1000
# per square mile
socials2017_aggregated['I/Fserv_per_sqm'] = socials2017_aggregated['count_indivfamilyservices'] / socials2017_aggregated['sq_miles']

# Elderly/disability services per 1k people
socials2017_aggregated['E/Dserv_per_1kppl'] = (socials2017_aggregated['count_elderdisabservices'] / socials2017_aggregated['tot_pop']) * 1000
# per square mile
socials2017_aggregated['E/Dserv_per_sqm'] = socials2017_aggregated['count_elderdisabservices'] / socials2017_aggregated['sq_miles']

# Child/youth services per 1k people
socials2017_aggregated['C/Yserv_per_1kppl'] = (socials2017_aggregated['count_childyouthservices'] / socials2017_aggregated['tot_pop']) * 1000
# per square mile
socials2017_aggregated['C/Yserv_per_sqm'] = socials2017_aggregated['count_childyouthservices'] / socials2017_aggregated['sq_miles']

# Emergency/Disaster relief services per 1k people
socials2017_aggregated['Eserv_per_1kppl'] = (socials2017_aggregated['count_emergencydisasterservices'] / socials2017_aggregated['tot_pop']) * 1000
# per square mile
socials2017_aggregated['Eserv_per_sqm'] = socials2017_aggregated['count_emergencydisasterservices'] / socials2017_aggregated['sq_miles']

# Meal delivery programs per 1k people
socials2017_aggregated['MDprog_per_1kppl'] = (socials2017_aggregated['count_mealdeliveryprograms'] / socials2017_aggregated['tot_pop']) * 1000
# per square mile
socials2017_aggregated['MDprog_per_sqm'] = socials2017_aggregated['count_mealdeliveryprograms'] / socials2017_aggregated['sq_miles']

# General counseling services per 1k people
socials2017_aggregated['Gcouns_per_1kppl'] = (socials2017_aggregated['count_generalcounselingservices'] / socials2017_aggregated['tot_pop']) * 1000
# per square mile
socials2017_aggregated['Gcouns_per_sqm'] = socials2017_aggregated['count_generalcounselingservices'] / socials2017_aggregated['sq_miles']

# Substance abuse counseling services per 1k people
socials2017_aggregated['SAcouns_per_1kppl'] = (socials2017_aggregated['count_substanceabusecounseling'] / socials2017_aggregated['tot_pop']) * 1000
# per square mile
socials2017_aggregated['SAcouns_per_sqm'] = socials2017_aggregated['count_substanceabusecounseling'] / socials2017_aggregated['sq_miles']

# Child daycare services per 1k people
socials2017_aggregated['Dayc_per_1kppl'] = (socials2017_aggregated['count_childdaycareservices'] / socials2017_aggregated['tot_pop']) * 1000
# per square mile
socials2017_aggregated['Dayc_per_sqm'] = socials2017_aggregated['count_childdaycareservices'] / socials2017_aggregated['sq_miles']

socials2017_aggregated.head(5)

,SBA,tot_pop,sq_miles,count_indivfamilyservices,count_elderdisabservices,count_childyouthservices,count_emergencydisasterservices,count_mealdeliveryprograms,count_generalcounselingservices,count_substanceabusecounseling,...,Eserv_per_1kppl,Eserv_per_sqm,MDprog_per_1kppl,MDprog_per_sqm,Gcouns_per_1kppl,Gcouns_per_sqm,SAcouns_per_1kppl,SAcouns_per_sqm,Dayc_per_1kppl,Dayc_per_sqm
0,101,156731.0,4.857219,128.0,15.0,6.0,5.0,1.0,37.0,2.0,...,0.031902,1.029396,0.00638,0.205879,0.236073,7.617528,0.012761,0.411758,0.555091,17.911486
1,102,171842.0,4.371108,88.0,8.0,7.0,4.0,0.0,28.0,3.0,...,0.023277,0.915100,0.00000,0.000000,0.162940,6.405699,0.017458,0.686325,0.593569,23.335047
2,103,141400.0,1.984920,47.0,3.0,4.0,2.0,0.0,14.0,0.0,...,0.014144,1.007598,0.00000,0.000000,0.099010,7.053183,0.000000,0.000000,0.466761,33.250717
3,104,139656.0,1.510100,62.0,3.0,3.0,2.0,0.0,18.0,1.0,...,0.014321,1.324416,0.00000,0.000000,0.128888,11.919744,0.007160,0.662208,0.651601,60.260925
4,105,132128.0,1.571252,57.0,6.0,6.0,0.0,0.0,18.0,1.0,...,0.000000,0.000000,0.00000,0.000000,0.136232,11.455832,0.007568,0.636435,0.620610,52.187683

In [46]:
# dropping count cols
SOCIALS2017 = socials2017_aggregated[['SBA','I/Fserv_per_1kppl','I/Fserv_per_sqm','E/Dserv_per_1kppl','E/Dserv_per_sqm','C/Yserv_per_1kppl','C/Yserv_per_sqm','Eserv_per_1kppl','Eserv_per_sqm','MDprog_per_1kppl','MDprog_per_sqm','Gcouns_per_1kppl','Gcouns_per_sqm','SAcouns_per_1kppl','SAcouns_per_sqm','Dayc_per_1kppl','Dayc_per_sqm']].copy()
SOCIALS2017.head(5)

,SBA,I/Fserv_per_1kppl,I/Fserv_per_sqm,E/Dserv_per_1kppl,E/Dserv_per_sqm,C/Yserv_per_1kppl,C/Yserv_per_sqm,Eserv_per_1kppl,Eserv_per_sqm,MDprog_per_1kppl,MDprog_per_sqm,Gcouns_per_1kppl,Gcouns_per_sqm,SAcouns_per_1kppl,SAcouns_per_sqm,Dayc_per_1kppl,Dayc_per_sqm
0,101,0.816686,26.352530,0.095705,3.088187,0.038282,1.235275,0.031902,1.029396,0.00638,0.205879,0.236073,7.617528,0.012761,0.411758,0.555091,17.911486
1,102,0.512098,20.132196,0.046554,1.830200,0.040735,1.601425,0.023277,0.915100,0.00000,0.000000,0.162940,6.405699,0.017458,0.686325,0.593569,23.335047
2,103,0.332390,23.678541,0.021216,1.511396,0.028289,2.015195,0.014144,1.007598,0.00000,0.000000,0.099010,7.053183,0.000000,0.000000,0.466761,33.250717
3,104,0.443948,41.056892,0.021481,1.986624,0.021481,1.986624,0.014321,1.324416,0.00000,0.000000,0.128888,11.919744,0.007160,0.662208,0.651601,60.260925
4,105,0.431400,36.276802,0.045411,3.818611,0.045411,3.818611,0.000000,0.000000,0.00000,0.000000,0.136232,11.455832,0.007568,0.636435,0.620610,52.187683

In [47]:
# exporting
SOCIALS2017 = SOCIALS2017.to_csv('/Users/isabellagermani/Desktop/MS THSS/data/SOCIALS2017.csv')

### Retail Establishments

In [48]:
retail = pd.read_stata('/Users/isabellagermani/Desktop/MS THSS/data/retail.dta')
type(retail)

pandas.core.frame.DataFrame

In [49]:
# filtering for NYC area & year
counties = ('005','081','047','061','085')

filter1 = retail['year'] == 2017.0
filter2 = retail['tract_fips10'].astype(str).str[0:2] == '36'
filter3 = retail['tract_fips10'].astype(str).str[2:5].isin(counties)

NYC_retail = retail[filter1 & filter2 & filter3].copy()
NYC_retail

,tract_fips10,year,totpop,aland10,count_clothingshoestores,emps_clothingshoestores,den_clothingshoestores,aden_clothingshoestores,count_furnitureappliance,emps_furnitureappliance,...,den_petstorespetsupplies,aden_petstorespetsupplies,count_shoerepairshops,emps_shoerepairshops,den_shoerepairshops,aden_shoerepairshops,count_totretail,emps_totretail,den_totretail,aden_totretail
1385083,36005000100,2017.0,6864.0,0.609795,0.0,0.0,0.000000,0.000000,0.0,0.0,...,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.0,0.000000,0.000000
1385115,36005000200,2017.0,4532.0,0.175801,1.0,2.0,0.220653,5.688256,0.0,0.0,...,0.000000,0.000000,0.0,0.0,0.000000,0.000000,5.0,5.0,1.103266,28.441280
1385147,36005000400,2017.0,5516.0,0.352277,0.0,0.0,0.000000,0.000000,1.0,1.0,...,0.000000,0.000000,1.0,1.0,0.181291,2.838676,3.0,8.0,0.543872,8.516027
1385179,36005001600,2017.0,5825.0,0.187290,0.0,0.0,0.000000,0.000000,0.0,0.0,...,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.0,0.000000,0.000000
1385211,36005001900,2017.0,3141.0,0.634618,4.0,8.0,1.273480,6.303001,4.0,9.0,...,0.000000,0.000000,0.0,0.0,0.000000,0.000000,14.0,28.0,4.457179,22.060503
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1508667,36085030302,2017.0,6702.0,0.352232,1.0,14.0,0.149209,2.839040,3.0,6.0,...,0.000000,0.000000,0.0,0.0,0.000000,0.000000,7.0,41.5,1.044464,19.873280
1508699,36085031901,2017.0,2816.0,0.149827,0.0,0.0,0.000000,0.000000,0.0,0.0,...,0.000000,0.000000,0.0,0.0,0.000000,0.000000,2.0,125.0,0.710227,13.348734
1508731,36085031902,2017.0,5343.0,0.266616,1.0,2.0,0.187161,3.750709,1.0,0.0,...,0.187161,3.750709,0.0,0.0,0.000000,0.000000,3.0,4.0,0.561482,11.252126
1508763,36085032300,2017.0,1073.0,1.490535,0.0,0.0,0.000000,0.000000,2.0,14.0,...,0.000000,0.000000,0.0,0.0,0.000000,0.000000,2.0,14.0,1.863933,1.341800
1508795,36085990100,2017.0,0.0,0.000000,0.0,0.0,NaN,NaN,0.0,0.0,...,NaN,NaN,0.0,0.0,NaN,NaN,0.0,0.0,NaN,NaN

In [50]:
# Using crosswalk
NYC_retail['SBA'] = NYC_retail['tract_fips10'].astype(str).map(cross_d).copy()
NYC_retail.head(5)

,tract_fips10,year,totpop,aland10,count_clothingshoestores,emps_clothingshoestores,den_clothingshoestores,aden_clothingshoestores,count_furnitureappliance,emps_furnitureappliance,...,aden_petstorespetsupplies,count_shoerepairshops,emps_shoerepairshops,den_shoerepairshops,aden_shoerepairshops,count_totretail,emps_totretail,den_totretail,aden_totretail,SBA
1385083,36005000100,2017.0,6864.0,0.609795,0.0,0.0,0.000000,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.000000,0.000000,101
1385115,36005000200,2017.0,4532.0,0.175801,1.0,2.0,0.220653,5.688256,0.0,0.0,...,0.0,0.0,0.0,0.000000,0.000000,5.0,5.0,1.103266,28.441280,107
1385147,36005000400,2017.0,5516.0,0.352277,0.0,0.0,0.000000,0.000000,1.0,1.0,...,0.0,1.0,1.0,0.181291,2.838676,3.0,8.0,0.543872,8.516027,107
1385179,36005001600,2017.0,5825.0,0.187290,0.0,0.0,0.000000,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.000000,0.000000,107
1385211,36005001900,2017.0,3141.0,0.634618,4.0,8.0,1.273480,6.303001,4.0,9.0,...,0.0,0.0,0.0,0.000000,0.000000,14.0,28.0,4.457179,22.060503,101

In [51]:
# getting rid of useless cols
NYC_retail = NYC_retail[['SBA','year','totpop','aland10','count_clothingshoestores','count_furnitureappliance','count_musicstores','count_hardwaregarden','count_deptvarietygeneral','count_usedmerchstores']].copy()
NYC_retail.head(5)

,SBA,year,totpop,aland10,count_clothingshoestores,count_furnitureappliance,count_musicstores,count_hardwaregarden,count_deptvarietygeneral,count_usedmerchstores
1385083,101,2017.0,6864.0,0.609795,0.0,0.0,0.0,0.0,0.0,0.0
1385115,107,2017.0,4532.0,0.175801,1.0,0.0,1.0,0.0,2.0,1.0
1385147,107,2017.0,5516.0,0.352277,0.0,1.0,0.0,1.0,0.0,0.0
1385179,107,2017.0,5825.0,0.187290,0.0,0.0,0.0,0.0,0.0,0.0
1385211,101,2017.0,3141.0,0.634618,4.0,4.0,1.0,2.0,2.0,1.0

In [52]:
# renaming
retail2017 = NYC_retail.rename(columns = {'totpop':'tot_pop','aland10':'sq_miles'})
retail2017.head(5)

,SBA,year,tot_pop,sq_miles,count_clothingshoestores,count_furnitureappliance,count_musicstores,count_hardwaregarden,count_deptvarietygeneral,count_usedmerchstores
1385083,101,2017.0,6864.0,0.609795,0.0,0.0,0.0,0.0,0.0,0.0
1385115,107,2017.0,4532.0,0.175801,1.0,0.0,1.0,0.0,2.0,1.0
1385147,107,2017.0,5516.0,0.352277,0.0,1.0,0.0,1.0,0.0,0.0
1385179,107,2017.0,5825.0,0.187290,0.0,0.0,0.0,0.0,0.0,0.0
1385211,101,2017.0,3141.0,0.634618,4.0,4.0,1.0,2.0,2.0,1.0

In [53]:
# aggregating
retail2017_aggregated = retail2017.groupby(['SBA']).agg({
    'tot_pop': 'sum',
    'sq_miles': 'sum', 
    'count_clothingshoestores': 'sum',
    'count_furnitureappliance': 'sum',
    'count_musicstores': 'sum',
    'count_hardwaregarden': 'sum',
    'count_deptvarietygeneral':'sum',
    'count_usedmerchstores':'sum'
}).reset_index()

retail2017_aggregated.head(10)

,SBA,tot_pop,sq_miles,count_clothingshoestores,count_furnitureappliance,count_musicstores,count_hardwaregarden,count_deptvarietygeneral,count_usedmerchstores
0,101,156731.0,4.857219,97.0,39.0,15.0,14.0,70.0,15.0
1,102,171842.0,4.371108,76.0,31.0,10.0,9.0,46.0,17.0
2,103,141400.0,1.984920,71.0,23.0,9.0,8.0,48.0,9.0
3,104,139656.0,1.510100,75.0,17.0,7.0,8.0,38.0,8.0
4,105,132128.0,1.571252,90.0,33.0,7.0,6.0,45.0,16.0
5,106,109938.0,3.417777,35.0,9.0,6.0,5.0,35.0,4.0
6,107,185690.0,4.447131,75.0,30.0,13.0,11.0,55.0,20.0
7,108,119645.0,9.385994,55.0,16.0,9.0,5.0,34.0,4.0
8,109,126733.0,3.807365,58.0,21.0,8.0,6.0,47.0,7.0
9,110,151305.0,6.743433,57.0,18.0,12.0,7.0,43.0,5.0

In [54]:
# redoing rate calculations at sba level 

# Clothing/shoe stores per 1k people
retail2017_aggregated['C/Sstor_per_1kppl'] = (retail2017_aggregated['count_clothingshoestores'] / retail2017_aggregated['tot_pop']) * 1000
# per square mile
retail2017_aggregated['C/Sstor_per_sqm'] = retail2017_aggregated['count_clothingshoestores'] / retail2017_aggregated['sq_miles']

# Furniture/appliance stores per 1k people
retail2017_aggregated['F/Astor_per_1kppl'] = (retail2017_aggregated['count_furnitureappliance'] / retail2017_aggregated['tot_pop']) * 1000
# per square mile
retail2017_aggregated['F/Astor_per_sqm'] = retail2017_aggregated['count_furnitureappliance'] / retail2017_aggregated['sq_miles']

# Music stores per 1k people
retail2017_aggregated['Mstor_per_1kppl'] = (retail2017_aggregated['count_musicstores'] / retail2017_aggregated['tot_pop']) * 1000
# per square mile
retail2017_aggregated['Mstor_per_sqm'] = retail2017_aggregated['count_musicstores'] / retail2017_aggregated['sq_miles']

# Hardware/garden stores per 1k people
retail2017_aggregated['H/Gstor_per_1kppl'] = (retail2017_aggregated['count_hardwaregarden'] / retail2017_aggregated['tot_pop']) * 1000
# per square mile
retail2017_aggregated['H/Gstor_per_sqm'] = retail2017_aggregated['count_hardwaregarden'] / retail2017_aggregated['sq_miles']

# Dept, variety, other general merch stores per 1k people
retail2017_aggregated['D/Vstor_per_1kppl'] = (retail2017_aggregated['count_deptvarietygeneral'] / retail2017_aggregated['tot_pop']) * 1000
# per square mile
retail2017_aggregated['D/Vstor_per_sqm'] = retail2017_aggregated['count_deptvarietygeneral'] / retail2017_aggregated['sq_miles']

# Used merchandise per 1k people
retail2017_aggregated['Ustor_per_1kppl'] = (retail2017_aggregated['count_usedmerchstores'] / retail2017_aggregated['tot_pop']) * 1000
# per square mile
retail2017_aggregated['Ustor_per_sqm'] = retail2017_aggregated['count_usedmerchstores'] / retail2017_aggregated['sq_miles']

retail2017_aggregated.head(5)

,SBA,tot_pop,sq_miles,count_clothingshoestores,count_furnitureappliance,count_musicstores,count_hardwaregarden,count_deptvarietygeneral,count_usedmerchstores,C/Sstor_per_1kppl,...,F/Astor_per_1kppl,F/Astor_per_sqm,Mstor_per_1kppl,Mstor_per_sqm,H/Gstor_per_1kppl,H/Gstor_per_sqm,D/Vstor_per_1kppl,D/Vstor_per_sqm,Ustor_per_1kppl,Ustor_per_sqm
0,101,156731.0,4.857219,97.0,39.0,15.0,14.0,70.0,15.0,0.618895,...,0.248834,8.029286,0.095705,3.088187,0.089325,2.882308,0.446625,14.411539,0.095705,3.088187
1,102,171842.0,4.371108,76.0,31.0,10.0,9.0,46.0,17.0,0.442267,...,0.180398,7.092024,0.058193,2.287750,0.052374,2.058975,0.267688,10.523648,0.098928,3.889174
2,103,141400.0,1.984920,71.0,23.0,9.0,8.0,48.0,9.0,0.502122,...,0.162659,11.587372,0.063649,4.534189,0.056577,4.030390,0.339463,24.182341,0.063649,4.534189
3,104,139656.0,1.510100,75.0,17.0,7.0,8.0,38.0,8.0,0.537034,...,0.121728,11.257535,0.050123,4.635456,0.057284,5.297664,0.272097,25.163902,0.057284,5.297664
4,105,132128.0,1.571252,90.0,33.0,7.0,6.0,45.0,16.0,0.681158,...,0.249758,21.002359,0.052979,4.455046,0.045411,3.818611,0.340579,28.639582,0.121095,10.182962

In [55]:
# dropping count cols
RETAIL2017 = retail2017_aggregated[['SBA','C/Sstor_per_1kppl','C/Sstor_per_sqm','F/Astor_per_1kppl','F/Astor_per_sqm','Mstor_per_1kppl','Mstor_per_sqm','H/Gstor_per_1kppl','H/Gstor_per_sqm','D/Vstor_per_1kppl','D/Vstor_per_sqm','Ustor_per_1kppl','Ustor_per_sqm']].copy()
RETAIL2017.head(5)

,SBA,C/Sstor_per_1kppl,C/Sstor_per_sqm,F/Astor_per_1kppl,F/Astor_per_sqm,Mstor_per_1kppl,Mstor_per_sqm,H/Gstor_per_1kppl,H/Gstor_per_sqm,D/Vstor_per_1kppl,D/Vstor_per_sqm,Ustor_per_1kppl,Ustor_per_sqm
0,101,0.618895,19.970276,0.248834,8.029286,0.095705,3.088187,0.089325,2.882308,0.446625,14.411539,0.095705,3.088187
1,102,0.442267,17.386898,0.180398,7.092024,0.058193,2.287750,0.052374,2.058975,0.267688,10.523648,0.098928,3.889174
2,103,0.502122,35.769711,0.162659,11.587372,0.063649,4.534189,0.056577,4.030390,0.339463,24.182341,0.063649,4.534189
3,104,0.537034,49.665596,0.121728,11.257535,0.050123,4.635456,0.057284,5.297664,0.272097,25.163902,0.057284,5.297664
4,105,0.681158,57.279163,0.249758,21.002359,0.052979,4.455046,0.045411,3.818611,0.340579,28.639582,0.121095,10.182962

In [56]:
# exporting
RETAIL2017 = RETAIL2017.to_csv('/Users/isabellagermani/Desktop/MS THSS/data/RETAIL2017.csv')

### Health Care Services

In [57]:
health = pd.read_stata('/Users/isabellagermani/Desktop/MS THSS/data/health.dta')
type(health)

pandas.core.frame.DataFrame

In [58]:
# filtering for NYC area & year
counties = ('005','081','047','061','085')

filter1 = health['year'] == 2017.0
filter2 = health['tract_fips10'].astype(str).str[0:2] == '36'
filter3 = health['tract_fips10'].astype(str).str[2:5].isin(counties)

NYC_health = health[filter1 & filter2 & filter3].copy()
NYC_health

,tract_fips10,year,totpop,aland10,count_allphysicians,emps_allphysicians,den_allphysicians,aden_allphysicians,count_physicalhealthphys,emps_physicalhealthphys,...,den_allrescarefacilities,aden_allrescarefacilities,count_resnursingfacilities,emps_resnursingfacilities,den_resnursingfacilities,aden_resnursingfacilities,count_otherresidentialcare,emps_otherresidentialcare,den_otherresidentialcare,aden_otherresidentialcare
1385083,36005000100,2017.0,6864.0,0.609795,2.0,4.0,0.291375,3.279793,2.0,4.0,...,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.0,0.000000,0.000000
1385115,36005000200,2017.0,4532.0,0.175801,2.0,11.0,0.441306,11.376513,2.0,11.0,...,0.220653,5.688256,0.0,0.0,0.000000,0.000000,1.0,12.0,0.220653,5.688256
1385147,36005000400,2017.0,5516.0,0.352277,1.0,3.0,0.181291,2.838676,1.0,3.0,...,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.0,0.000000,0.000000
1385179,36005001600,2017.0,5825.0,0.187290,4.0,14.0,0.686695,21.357248,2.0,7.0,...,0.171674,5.339312,1.0,250.0,0.171674,5.339312,0.0,0.0,0.000000,0.000000
1385211,36005001900,2017.0,3141.0,0.634618,3.0,38.0,0.955110,4.727251,3.0,38.0,...,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.0,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1508667,36085030302,2017.0,6702.0,0.352232,2.0,6.0,0.298418,5.678080,2.0,6.0,...,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.0,0.000000,0.000000
1508699,36085031901,2017.0,2816.0,0.149827,1.0,4.0,0.355114,6.674367,1.0,4.0,...,0.355114,6.674367,0.0,0.0,0.000000,0.000000,1.0,0.0,0.355114,6.674367
1508731,36085031902,2017.0,5343.0,0.266616,0.0,0.0,0.000000,0.000000,0.0,0.0,...,0.187161,3.750709,0.0,0.0,0.000000,0.000000,1.0,15.0,0.187161,3.750709
1508763,36085032300,2017.0,1073.0,1.490535,1.0,50.0,0.931966,0.670900,1.0,50.0,...,0.931966,0.670900,1.0,60.0,0.931966,0.670900,0.0,0.0,0.000000,0.000000
1508795,36085990100,2017.0,0.0,0.000000,0.0,0.0,NaN,NaN,0.0,0.0,...,NaN,NaN,0.0,0.0,NaN,NaN,0.0,0.0,NaN,NaN

In [59]:
# Using crosswalk
NYC_health['SBA'] = NYC_health['tract_fips10'].astype(str).map(cross_d).copy()
NYC_health.head(5)

,tract_fips10,year,totpop,aland10,count_allphysicians,emps_allphysicians,den_allphysicians,aden_allphysicians,count_physicalhealthphys,emps_physicalhealthphys,...,aden_allrescarefacilities,count_resnursingfacilities,emps_resnursingfacilities,den_resnursingfacilities,aden_resnursingfacilities,count_otherresidentialcare,emps_otherresidentialcare,den_otherresidentialcare,aden_otherresidentialcare,SBA
1385083,36005000100,2017.0,6864.0,0.609795,2.0,4.0,0.291375,3.279793,2.0,4.0,...,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.0,0.000000,0.000000,101
1385115,36005000200,2017.0,4532.0,0.175801,2.0,11.0,0.441306,11.376513,2.0,11.0,...,5.688256,0.0,0.0,0.000000,0.000000,1.0,12.0,0.220653,5.688256,107
1385147,36005000400,2017.0,5516.0,0.352277,1.0,3.0,0.181291,2.838676,1.0,3.0,...,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.0,0.000000,0.000000,107
1385179,36005001600,2017.0,5825.0,0.187290,4.0,14.0,0.686695,21.357248,2.0,7.0,...,5.339312,1.0,250.0,0.171674,5.339312,0.0,0.0,0.000000,0.000000,107
1385211,36005001900,2017.0,3141.0,0.634618,3.0,38.0,0.955110,4.727251,3.0,38.0,...,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.0,0.000000,0.000000,101

In [60]:
# getting rid of useless cols
NYC_health = NYC_health[['SBA','year','totpop','aland10','count_allphysicians','count_pharmacies']].copy()
NYC_health.head(5)

         SBA    year  totpop   aland10  count_allphysicians  count_pharmacies
1385083  101  2017.0  6864.0  0.609795                  2.0               0.0
1385115  107  2017.0  4532.0  0.175801                  2.0               0.0
1385147  107  2017.0  5516.0  0.352277                  1.0               0.0
1385179  107  2017.0  5825.0  0.187290                  4.0               2.0
1385211  101  2017.0  3141.0  0.634618                  3.0               1.0

In [61]:
# renaming
health2017 = NYC_health.rename(columns = {'totpop':'tot_pop','aland10':'sq_miles'})
health2017.head(5)

         SBA    year  tot_pop  sq_miles  count_allphysicians  count_pharmacies
1385083  101  2017.0   6864.0  0.609795                  2.0               0.0
1385115  107  2017.0   4532.0  0.175801                  2.0               0.0
1385147  107  2017.0   5516.0  0.352277                  1.0               0.0
1385179  107  2017.0   5825.0  0.187290                  4.0               2.0
1385211  101  2017.0   3141.0  0.634618                  3.0               1.0

In [62]:
health2017_aggregated = health2017.groupby(['SBA']).agg({
    'tot_pop': 'sum',
    'sq_miles': 'sum', 
    'count_allphysicians': 'sum',
    'count_pharmacies': 'sum'
}).reset_index()

health2017_aggregated.head(10)

   SBA   tot_pop  sq_miles  count_allphysicians  count_pharmacies
0  101  156731.0  4.857219                 75.0              88.0
1  102  171842.0  4.371108                 67.0              61.0
2  103  141400.0  1.984920                 63.0              47.0
3  104  139656.0  1.510100                 68.0              56.0
4  105  132128.0  1.571252                143.0              44.0
5  106  109938.0  3.417777                123.0              27.0
6  107  185690.0  4.447131                 70.0              54.0
7  108  119645.0  9.385994                 96.0              24.0
8  109  126733.0  3.807365                205.0              43.0
9  110  151305.0  6.743433                 63.0              32.0

In [63]:
# redoing rate calculations at sba level 

# Physicians per 1k people
health2017_aggregated['pyhs_per_1kppl'] = (health2017_aggregated['count_allphysicians'] / health2017_aggregated['tot_pop']) * 1000
# per square mile
health2017_aggregated['phys_per_sqm'] = health2017_aggregated['count_allphysicians'] / health2017_aggregated['sq_miles']

# Pharmacies per 1k people
health2017_aggregated['pharm_per_1kppl'] = (health2017_aggregated['count_pharmacies'] / health2017_aggregated['tot_pop']) * 1000
# per square mile
health2017_aggregated['pharm_per_sqm'] = health2017_aggregated['count_pharmacies'] / health2017_aggregated['sq_miles']

In [64]:
health2017_aggregated

,SBA,tot_pop,sq_miles,count_allphysicians,count_pharmacies,pyhs_per_1kppl,phys_per_sqm,pharm_per_1kppl,pharm_per_sqm
0,101,156731.0,4.857219,75.0,88.0,0.478527,15.440935,0.561472,18.117365
1,102,171842.0,4.371108,67.0,61.0,0.389893,15.327923,0.354977,13.955273
2,103,141400.0,1.984920,63.0,47.0,0.445545,31.739321,0.332390,23.678541
3,104,139656.0,1.510100,68.0,56.0,0.486911,45.030140,0.400985,37.083645
4,105,132128.0,1.571252,143.0,44.0,1.082284,91.010223,0.333010,28.003147
5,106,109938.0,3.417777,123.0,27.0,1.118812,35.988308,0.245593,7.899872
6,107,185690.0,4.447131,70.0,54.0,0.376972,15.740486,0.290807,12.142661
7,108,119645.0,9.385994,96.0,24.0,0.802374,10.228005,0.200593,2.557001
8,109,126733.0,3.807365,205.0,43.0,1.617574,53.843014,0.339296,11.293900
9,110,151305.0,6.743433,63.0,32.0,0.416378,9.342422,0.211493,4.745357
10,201,162743.0,4.106899,120.0,65.0,0.737359,29.219124,0.399403,15.827025
11,202,142235.0,3.107660,259.0,50.0,1.820930,83.342453,0.351531,16.089277
12,203,149313.0,2.296962,43.0,28.0,0.287986,18.720377,0.187526,12.190013
13,204,129193.0,2.529882,93.0,41.0,0.719853,36.760609,0.317355,16.206289
14,205,161273.0,5.905930,40.0,40.0,0.248027,6.772854,0.248027,6.772854
15,206,117784.0,4.003633,233.0,26.0,1.978197,58.197147,0.220743,6.494102
16,207,140195.0,4.159145,143.0,72.0,1.020008,34.382065,0.513570,17.311249
17,208,134083.0,2.223220,89.0,43.0,0.663768,40.032021,0.320697,19.341312
18,209,107532.0,1.708226,77.0,35.0,0.716066,45.076012,0.325485,20.489098
19,210,122743.0,3.884009,341.0,50.0,2.778162,87.795876,0.407355,12.873296
20,211,189058.0,3.704973,209.0,85.0,1.105481,56.410667,0.449597,22.942137
21,212,154796.0,3.145178,265.0,53.0,1.711931,84.255959,0.342386,16.851192
22,213,113480.0,3.402967,178.0,70.0,1.568558,52.307297,0.616849,20.570284
23,214,157511.0,2.907181,197.0,68.0,1.250706,67.763252,0.431716,23.390360
24,215,151100.0,4.337745,383.0,88.0,2.534745,88.294724,0.582396,20.287037
25,216,116334.0,2.589589,46.0,48.0,0.395413,17.763439,0.412605,18.535763
26,217,134970.0,3.079438,105.0,40.0,0.777951,34.097130,0.296362,12.989384
27,218,205631.0,13.723138,216.0,59.0,1.050425,15.739841,0.286922,4.299308
28,301,155694.0,2.965140,612.0,114.0,3.930787,206.398361,0.732205,38.446754
29,302,154554.0,1.747179,155.0,71.0,1.002886,88.714432,0.459386,40.636936
30,303,158185.0,3.073333,828.0,131.0,5.234377,269.414398,0.828144,42.624741
31,304,148806.0,1.641392,916.0,70.0,6.155666,558.062744,0.470411,42.646717
32,305,194145.0,2.951185,608.0,53.0,3.131680,206.018936,0.272992,17.958887
33,306,214957.0,2.017986,1628.0,81.0,7.573608,806.744995,0.376820,40.139034
34,307,131080.0,1.689070,101.0,39.0,0.770522,59.796219,0.297528,23.089630
35,308,136089.0,1.446952,71.0,45.0,0.521717,49.068657,0.330666,31.099852
36,309,121892.0,2.313567,153.0,52.0,1.255210,66.131660,0.426607,22.476118
37,310,216591.0,2.982885,266.0,90.0,1.228121,89.175400,0.415530,30.172129
38,401,163960.0,5.107345,227.0,83.0,1.384484,44.445797,0.506221,16.251106
39,402,135380.0,5.972365,119.0,53.0,0.879007,19.925106,0.391491,8.874207
40,403,171657.0,4.064519,148.0,74.0,0.862184,36.412674,0.431092,18.206337
41,404,139682.0,3.648877,170.0,46.0,1.217050,46.589680,0.329319,12.606620
42,405,186568.0,7.323579,159.0,60.0,0.852236,21.710697,0.321599,8.192716
43,406,115881.0,2.787432,379.0,70.0,3.270597,135.967438,0.604068,25.112719
44,407,242631.0,11.745846,473.0,133.0,1.949462,40.269558,0.548158,11.323153
45,408,164041.0,7.441078,203.0,53.0,1.237495,27.280993,0.323090,7.122624
46,409,148027.0,4.754168,163.0,57.0,1.101150,34.285709,0.385065,11.989481
47,410,132943.0,6.134729,102.0,47.0,0.767246,16.626650,0.353535,7.661300
48,411,118237.0,9.318678,179.0,29.0,1.513909,19.208733,0.245270,3.112030
49,412,237303.0,9.264509,101.0,60.0,0.425616,10.901818,0.252841,6.476328
50,413,202641.0,19.656406,160.0,43.0,0.789574,8.139840,0.212198,2.187582
51,414,128437.0,11.312599,85.0,25.0,0.661803,7.513746,0.194648,2.209925
52,501,171983.0,14.046550,177.0,35.0,1.029171,12.600959,0.203508,2.491715
53,502,138286.0,19.823574,304.0,39.0,2.198343,15.335277,0.282024,1.967355
54,503,164624.0,24.500225,160.0,31.0,0.971912,6.530552,0.188308,1.265295

In [65]:
# dropping count cols
HEALTH2017 = health2017_aggregated[['SBA','pyhs_per_1kppl','phys_per_sqm','pharm_per_1kppl','pharm_per_sqm']].copy()
HEALTH2017.head(5)

   SBA  pyhs_per_1kppl  phys_per_sqm  pharm_per_1kppl  pharm_per_sqm
0  101        0.478527     15.440935         0.561472      18.117365
1  102        0.389893     15.327923         0.354977      13.955273
2  103        0.445545     31.739321         0.332390      23.678541
3  104        0.486911     45.030140         0.400985      37.083645
4  105        1.082284     91.010223         0.333010      28.003147

In [66]:
# exporting
HEALTH2017 = HEALTH2017.to_csv('/Users/isabellagermani/Desktop/MS THSS/data/HEALTH2017.csv')

### Post Offices and Banks

In [67]:
post = pd.read_stata('/Users/isabellagermani/Desktop/MS THSS/data/post.dta')
type(post)

pandas.core.frame.DataFrame

In [68]:
# filtering for NYC area & year
counties = ('005','081','047','061','085')

filter1 = post['year'] == 2017.0
filter2 = post['tract_fips10'].astype(str).str[0:2] == '36'
filter3 = post['tract_fips10'].astype(str).str[2:5].isin(counties)

NYC_post = post[filter1 & filter2 & filter3].copy()
NYC_post

,tract_fips10,year,totpop,aland10,count_postoffices,emps_postoffices,den_postoffices,aden_postoffices,count_banks,emps_banks,den_banks,aden_banks,count_creditunions,emps_creditunions,den_creditunions,aden_creditunions
1385083,36005000100,2017.0,6864.0,0.609795,0.0,0.0,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.0,0.00000,0.00000
1385115,36005000200,2017.0,4532.0,0.175801,0.0,0.0,0.000000,0.000000,1.0,10.0,0.220653,5.688256,0.0,0.0,0.00000,0.00000
1385147,36005000400,2017.0,5516.0,0.352277,0.0,0.0,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.0,0.00000,0.00000
1385179,36005001600,2017.0,5825.0,0.187290,1.0,4.0,0.171674,5.339312,0.0,0.0,0.000000,0.000000,0.0,0.0,0.00000,0.00000
1385211,36005001900,2017.0,3141.0,0.634618,0.0,0.0,0.000000,0.000000,0.0,0.0,0.000000,0.000000,1.0,3.0,0.31837,1.57575
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1508667,36085030302,2017.0,6702.0,0.352232,0.0,0.0,0.000000,0.000000,2.0,25.0,0.298418,5.678080,0.0,0.0,0.00000,0.00000
1508699,36085031901,2017.0,2816.0,0.149827,0.0,0.0,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.0,0.00000,0.00000
1508731,36085031902,2017.0,5343.0,0.266616,0.0,0.0,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.0,0.00000,0.00000
1508763,36085032300,2017.0,1073.0,1.490535,0.0,0.0,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.0,0.00000,0.00000
1508795,36085990100,2017.0,0.0,0.000000,0.0,0.0,NaN,NaN,0.0,0.0,NaN,NaN,0.0,0.0,NaN,NaN

In [69]:
# Using crosswalk
NYC_post['SBA'] = NYC_post['tract_fips10'].astype(str).map(cross_d).copy()
NYC_post.head(5)

,tract_fips10,year,totpop,aland10,count_postoffices,emps_postoffices,den_postoffices,aden_postoffices,count_banks,emps_banks,den_banks,aden_banks,count_creditunions,emps_creditunions,den_creditunions,aden_creditunions,SBA
1385083,36005000100,2017.0,6864.0,0.609795,0.0,0.0,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.0,0.00000,0.00000,101
1385115,36005000200,2017.0,4532.0,0.175801,0.0,0.0,0.000000,0.000000,1.0,10.0,0.220653,5.688256,0.0,0.0,0.00000,0.00000,107
1385147,36005000400,2017.0,5516.0,0.352277,0.0,0.0,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.0,0.00000,0.00000,107
1385179,36005001600,2017.0,5825.0,0.187290,1.0,4.0,0.171674,5.339312,0.0,0.0,0.000000,0.000000,0.0,0.0,0.00000,0.00000,107
1385211,36005001900,2017.0,3141.0,0.634618,0.0,0.0,0.000000,0.000000,0.0,0.0,0.000000,0.000000,1.0,3.0,0.31837,1.57575,101

In [70]:
# getting rid of useless cols
NYC_post = NYC_post[['SBA','year','totpop','aland10','count_postoffices','count_banks']].copy()
NYC_post.head(5)

         SBA    year  totpop   aland10  count_postoffices  count_banks
1385083  101  2017.0  6864.0  0.609795                0.0          0.0
1385115  107  2017.0  4532.0  0.175801                0.0          1.0
1385147  107  2017.0  5516.0  0.352277                0.0          0.0
1385179  107  2017.0  5825.0  0.187290                1.0          0.0
1385211  101  2017.0  3141.0  0.634618                0.0          0.0

In [71]:
# renaming
post2017 = NYC_post.rename(columns = {'totpop':'tot_pop','aland10':'sq_miles'})
post2017.head(5)

         SBA    year  tot_pop  sq_miles  count_postoffices  count_banks
1385083  101  2017.0   6864.0  0.609795                0.0          0.0
1385115  107  2017.0   4532.0  0.175801                0.0          1.0
1385147  107  2017.0   5516.0  0.352277                0.0          0.0
1385179  107  2017.0   5825.0  0.187290                1.0          0.0
1385211  101  2017.0   3141.0  0.634618                0.0          0.0

In [72]:
# aggregating
post2017_aggregated = post2017.groupby(['SBA']).agg({
    'tot_pop': 'sum',
    'sq_miles': 'sum', 
    'count_postoffices': 'sum',
    'count_banks': 'sum'
}).reset_index()

post2017_aggregated.head(10)

   SBA   tot_pop  sq_miles  count_postoffices  count_banks
0  101  156731.0  4.857219                3.0         18.0
1  102  171842.0  4.371108                7.0          8.0
2  103  141400.0  1.984920                3.0          9.0
3  104  139656.0  1.510100                1.0          7.0
4  105  132128.0  1.571252                4.0         19.0
5  106  109938.0  3.417777                4.0         19.0
6  107  185690.0  4.447131                5.0         16.0
7  108  119645.0  9.385994                6.0         26.0
8  109  126733.0  3.807365                5.0         26.0
9  110  151305.0  6.743433                5.0          9.0

In [73]:
# redoing rate calculations at sba level 

# Post offices per 1k people
post2017_aggregated['post_per_1kppl'] = (post2017_aggregated['count_postoffices'] / post2017_aggregated['tot_pop']) * 1000
# per square mile
post2017_aggregated['post_per_sqm'] = post2017_aggregated['count_postoffices'] / post2017_aggregated['sq_miles']
                                                 
# Banks per 1k people
post2017_aggregated['banks_per_1kppl'] = (post2017_aggregated['count_banks'] / post2017_aggregated['tot_pop']) * 1000
# per square mile
post2017_aggregated['banks_per_sqm'] = post2017_aggregated['count_banks'] / post2017_aggregated['sq_miles']

In [74]:
# dropping count cols
POST2017 = post2017_aggregated[['SBA','post_per_1kppl','post_per_sqm','banks_per_1kppl','banks_per_sqm']].copy()
POST2017.head(5)

   SBA  post_per_1kppl  post_per_sqm  banks_per_1kppl  banks_per_sqm
0  101        0.019141      0.617637         0.114846       3.705824
1  102        0.040735      1.601425         0.046554       1.830200
2  103        0.021216      1.511396         0.063649       4.534189
3  104        0.007160      0.662208         0.050123       4.635456
4  105        0.030274      2.545741         0.143800      12.092268

In [75]:
# exporting
POST2017 = POST2017.to_csv('/Users/isabellagermani/Desktop/MS THSS/data/POST2017.csv')

### Recreational Services

In [76]:
rec = pd.read_stata('/Users/isabellagermani/Desktop/MS THSS/data/rec.dta')
type(rec)

pandas.core.frame.DataFrame

In [77]:
# filtering for NYC area & year
counties = ('005','081','047','061','085')

filter1 = rec['year'] == 2017.0
filter2 = rec['tract_fips10'].astype(str).str[0:2] == '36'
filter3 = rec['tract_fips10'].astype(str).str[2:5].isin(counties)

NYC_rec = rec[filter1 & filter2 & filter3].copy()
NYC_rec

,tract_fips10,year,totpop,aland10,count_recfitnesscenters,emps_recfitnesscenters,popden_recfitnesscenters,aden_recfitnesscenters,count_pubgolfcoursesranges,emps_pubgolfcoursesranges,...,den_membersportsrec,aden_membersportsrec,count_specializedrecinstruct,emps_specializedrecinstruct,den_specializedrecinstruct,aden_specializedrecinstruct,count_totrecphysicalvenues,emps_totrecphysicalvenues,den_totrecphysicalvenues,aden_totrecphysicalvenues
1385083,36005000100,2017.0,6864.0,0.609795,0.0,0.0,0.000000,0.000000,0.0,0.0,...,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.0,0.000000,0.000000
1385115,36005000200,2017.0,4532.0,0.175801,0.0,0.0,0.000000,0.000000,0.0,0.0,...,0.000000,0.000000,1.0,10.0,0.220653,5.688256,1.0,10.0,0.220653,5.688256
1385147,36005000400,2017.0,5516.0,0.352277,0.0,0.0,0.000000,0.000000,0.0,0.0,...,0.362582,5.677352,0.0,0.0,0.000000,0.000000,2.0,12.0,0.362582,5.677352
1385179,36005001600,2017.0,5825.0,0.187290,0.0,0.0,0.000000,0.000000,0.0,0.0,...,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.0,0.000000,0.000000
1385211,36005001900,2017.0,3141.0,0.634618,1.0,1.0,0.318370,1.575750,0.0,0.0,...,0.000000,0.000000,0.0,0.0,0.000000,0.000000,1.0,1.0,0.318370,1.575750
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1508667,36085030302,2017.0,6702.0,0.352232,0.0,0.0,0.000000,0.000000,0.0,0.0,...,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.0,0.000000,0.000000
1508699,36085031901,2017.0,2816.0,0.149827,1.0,3.0,0.355114,6.674367,0.0,0.0,...,0.000000,0.000000,0.0,0.0,0.000000,0.000000,1.0,3.0,0.355114,6.674367
1508731,36085031902,2017.0,5343.0,0.266616,0.0,0.0,0.000000,0.000000,0.0,0.0,...,0.187161,3.750709,0.0,0.0,0.000000,0.000000,1.0,12.0,0.187161,3.750709
1508763,36085032300,2017.0,1073.0,1.490535,0.0,0.0,0.000000,0.000000,0.0,0.0,...,0.931966,0.670900,0.0,0.0,0.000000,0.000000,1.0,1.0,0.931966,0.670900
1508795,36085990100,2017.0,0.0,0.000000,0.0,0.0,NaN,NaN,0.0,0.0,...,NaN,NaN,0.0,0.0,NaN,NaN,0.0,0.0,NaN,NaN

In [78]:
# Using crosswalk
NYC_rec['SBA'] = NYC_rec['tract_fips10'].astype(str).map(cross_d).copy()
NYC_rec.head(5)

,tract_fips10,year,totpop,aland10,count_recfitnesscenters,emps_recfitnesscenters,popden_recfitnesscenters,aden_recfitnesscenters,count_pubgolfcoursesranges,emps_pubgolfcoursesranges,...,aden_membersportsrec,count_specializedrecinstruct,emps_specializedrecinstruct,den_specializedrecinstruct,aden_specializedrecinstruct,count_totrecphysicalvenues,emps_totrecphysicalvenues,den_totrecphysicalvenues,aden_totrecphysicalvenues,SBA
1385083,36005000100,2017.0,6864.0,0.609795,0.0,0.0,0.00000,0.00000,0.0,0.0,...,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.0,0.000000,0.000000,101
1385115,36005000200,2017.0,4532.0,0.175801,0.0,0.0,0.00000,0.00000,0.0,0.0,...,0.000000,1.0,10.0,0.220653,5.688256,1.0,10.0,0.220653,5.688256,107
1385147,36005000400,2017.0,5516.0,0.352277,0.0,0.0,0.00000,0.00000,0.0,0.0,...,5.677352,0.0,0.0,0.000000,0.000000,2.0,12.0,0.362582,5.677352,107
1385179,36005001600,2017.0,5825.0,0.187290,0.0,0.0,0.00000,0.00000,0.0,0.0,...,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.0,0.000000,0.000000,107
1385211,36005001900,2017.0,3141.0,0.634618,1.0,1.0,0.31837,1.57575,0.0,0.0,...,0.000000,0.0,0.0,0.000000,0.000000,1.0,1.0,0.318370,1.575750,101

In [79]:
# getting rid of useless cols
NYC_rec = NYC_rec[['SBA','year','totpop','aland10','count_recfitnesscenters','count_pubgolfcoursesranges','count_pubskateswimtennis','count_membersportsrec','count_totrecphysicalvenues']].copy()
NYC_rec.head(5)

,SBA,year,totpop,aland10,count_recfitnesscenters,count_pubgolfcoursesranges,count_pubskateswimtennis,count_membersportsrec,count_totrecphysicalvenues
1385083,101,2017.0,6864.0,0.609795,0.0,0.0,0.0,0.0,0.0
1385115,107,2017.0,4532.0,0.175801,0.0,0.0,0.0,0.0,1.0
1385147,107,2017.0,5516.0,0.352277,0.0,0.0,0.0,2.0,2.0
1385179,107,2017.0,5825.0,0.187290,0.0,0.0,0.0,0.0,0.0
1385211,101,2017.0,3141.0,0.634618,1.0,0.0,0.0,0.0,1.0

In [80]:
# renaming
rec2017 = NYC_rec.rename(columns = {'totpop':'tot_pop','aland10':'sq_miles'})
rec2017.head(5)

,SBA,year,tot_pop,sq_miles,count_recfitnesscenters,count_pubgolfcoursesranges,count_pubskateswimtennis,count_membersportsrec,count_totrecphysicalvenues
1385083,101,2017.0,6864.0,0.609795,0.0,0.0,0.0,0.0,0.0
1385115,107,2017.0,4532.0,0.175801,0.0,0.0,0.0,0.0,1.0
1385147,107,2017.0,5516.0,0.352277,0.0,0.0,0.0,2.0,2.0
1385179,107,2017.0,5825.0,0.187290,0.0,0.0,0.0,0.0,0.0
1385211,101,2017.0,3141.0,0.634618,1.0,0.0,0.0,0.0,1.0

In [81]:
# aggregating
rec2017_aggregated = rec2017.groupby(['SBA']).agg({
    'tot_pop': 'sum',
    'sq_miles': 'sum', 
    'count_recfitnesscenters': 'sum',
    'count_pubgolfcoursesranges': 'sum',
    'count_pubskateswimtennis': 'sum',
    'count_membersportsrec': 'sum',
    'count_totrecphysicalvenues': 'sum'
}).reset_index()

rec2017_aggregated.head(10)

,SBA,tot_pop,sq_miles,count_recfitnesscenters,count_pubgolfcoursesranges,count_pubskateswimtennis,count_membersportsrec,count_totrecphysicalvenues
0,101,156731.0,4.857219,15.0,0.0,0.0,17.0,36.0
1,102,171842.0,4.371108,7.0,0.0,0.0,38.0,49.0
2,103,141400.0,1.984920,12.0,0.0,0.0,32.0,48.0
3,104,139656.0,1.510100,6.0,0.0,0.0,21.0,28.0
4,105,132128.0,1.571252,6.0,0.0,1.0,13.0,22.0
5,106,109938.0,3.417777,11.0,1.0,0.0,16.0,44.0
6,107,185690.0,4.447131,14.0,0.0,0.0,14.0,36.0
7,108,119645.0,9.385994,13.0,1.0,0.0,31.0,59.0
8,109,126733.0,3.807365,21.0,0.0,1.0,23.0,53.0
9,110,151305.0,6.743433,12.0,0.0,0.0,26.0,39.0

In [82]:
# adding share of private/members rec establishments
rec2017_aggregated['Share_Priv_Rec'] = rec2017_aggregated['count_membersportsrec'] / rec2017_aggregated['count_totrecphysicalvenues']
rec2017_aggregated['Share_Priv_Rec']

0     0.472222
1     0.775510
2     0.666667
3     0.750000
4     0.590909
5     0.363636
6     0.388889
7     0.525424
8     0.433962
9     0.666667
10    0.385827
11    0.359649
12    0.436364
13    0.536585
14    0.538462
15    0.211538
16    0.280702
17    0.421053
18    0.405405
19    0.389830
20    0.376812
21    0.333333
22    0.340909
23    0.380952
24    0.338710
25    0.485714
26    0.486486
27    0.350000
28    0.240000
29    0.379032
30    0.306792
31    0.283237
32    0.304054
33    0.250000
34    0.542373
35    0.518987
36    0.410714
37    0.493333
38    0.397436
39    0.350649
40    0.566667
41    0.487805
42    0.337349
43    0.285714
44    0.268116
45    0.413043
46    0.385965
47    0.476190
48    0.295775
49    0.407407
50    0.470588
51    0.538462
52    0.383562
53    0.268657
54    0.305556
Name: Share_Priv_Rec, dtype: float32

In [83]:
# redoing rate calculations at sba level 

# Recreational and Physical fitness centers per 1k people
rec2017_aggregated['R/Pcent_per_1kppl'] = (rec2017_aggregated['count_recfitnesscenters'] / rec2017_aggregated['tot_pop']) * 1000
# per square mile
rec2017_aggregated['R/Pcent_per_sqm'] = rec2017_aggregated['count_recfitnesscenters'] / rec2017_aggregated['sq_miles']

# Public golf courses and driving ranges per 1k people
rec2017_aggregated['G/Drang_per_1kppl'] = (rec2017_aggregated['count_pubgolfcoursesranges'] / rec2017_aggregated['tot_pop']) * 1000
# per square mile
rec2017_aggregated['G/Drang_per_sqm'] = rec2017_aggregated['count_pubgolfcoursesranges'] / rec2017_aggregated['sq_miles']

# Public skating rinks, swimming pools, and tennis courts per 1k people
rec2017_aggregated['SK/SW/Tcourt_per_1kppl'] = (rec2017_aggregated['count_pubskateswimtennis'] / rec2017_aggregated['tot_pop']) * 1000
# per square mile
rec2017_aggregated['SK/SW/Tcourt_per_sqm'] = rec2017_aggregated['count_pubskateswimtennis'] / rec2017_aggregated['sq_miles']

# Membership sports and recreation clubs per 1k people
rec2017_aggregated['Members_per_1kppl'] = (rec2017_aggregated['count_membersportsrec'] / rec2017_aggregated['tot_pop']) * 1000
# per square mile
rec2017_aggregated['Members_per_sqm'] = rec2017_aggregated['count_membersportsrec'] / rec2017_aggregated['sq_miles']

# All recreational and physical activity venues per 1k people
rec2017_aggregated['TotRec_per_1kppl'] = (rec2017_aggregated['count_totrecphysicalvenues'] / rec2017_aggregated['tot_pop']) * 1000
# per square mile
rec2017_aggregated['TotRec_per_sqm'] = rec2017_aggregated['count_totrecphysicalvenues'] / rec2017_aggregated['sq_miles']

In [84]:
# dropping count cols
REC2017 = rec2017_aggregated[['SBA','R/Pcent_per_1kppl','R/Pcent_per_sqm','G/Drang_per_1kppl','G/Drang_per_sqm','SK/SW/Tcourt_per_1kppl','SK/SW/Tcourt_per_sqm','Members_per_1kppl','Members_per_sqm','TotRec_per_1kppl','TotRec_per_sqm','Share_Priv_Rec']].copy()
REC2017.head(5)

,SBA,R/Pcent_per_1kppl,R/Pcent_per_sqm,G/Drang_per_1kppl,G/Drang_per_sqm,SK/SW/Tcourt_per_1kppl,SK/SW/Tcourt_per_sqm,Members_per_1kppl,Members_per_sqm,TotRec_per_1kppl,TotRec_per_sqm,Share_Priv_Rec
0,101,0.095705,3.088187,0.0,0.0,0.000000,0.000000,0.108466,3.499945,0.229693,7.411649,0.472222
1,102,0.040735,1.601425,0.0,0.0,0.000000,0.000000,0.221133,8.693449,0.285146,11.209973,0.775510
2,103,0.084866,6.045585,0.0,0.0,0.000000,0.000000,0.226308,16.121561,0.339463,24.182341,0.666667
3,104,0.042963,3.973248,0.0,0.0,0.000000,0.000000,0.150369,13.906367,0.200493,18.541822,0.750000
4,105,0.045411,3.818611,0.0,0.0,0.007568,0.636435,0.098389,8.273657,0.166505,14.001574,0.590909

In [85]:
# exporting
REC2017 = REC2017.to_csv('/Users/isabellagermani/Desktop/MS THSS/data/REC2017.csv')

### Arts, Entertainment, and Leisure Establishments

In [86]:
arts = pd.read_stata('/Users/isabellagermani/Desktop/MS THSS/data/arts.dta')
type(arts)

pandas.core.frame.DataFrame

In [87]:
# filtering for NYC area & year
counties = ('005','081','047','061','085')

filter1 = arts['year'] == 2017.0
filter2 = arts['tract_fips10'].astype(str).str[0:2] == '36'
filter3 = arts['tract_fips10'].astype(str).str[2:5].isin(counties)

NYC_arts = arts[filter1 & filter2 & filter3].copy()
NYC_arts

,tract_fips10,year,totpop,aland10,count_museums,emps_museums,den_museums,aden_museums,count_theatricalproductions,emps_theatricalproductions,...,den_totartsentertainment,aden_totartsentertainment,count_hotels,emps_hotels,den_hotels,aden_hotels,count_casinohotels,emps_casinohotels,den_casinohotels,aden_casinohotels
1385083,36005000100,2017.0,6864.0,0.609795,0.0,0.0,0.00000,0.0000,0.0,0.0,...,0.000000,0.000000,0.0,0.0,0.00000,0.00000,0.0,0.0,0.0,0.0
1385115,36005000200,2017.0,4532.0,0.175801,0.0,0.0,0.00000,0.0000,0.0,0.0,...,0.000000,0.000000,0.0,0.0,0.00000,0.00000,0.0,0.0,0.0,0.0
1385147,36005000400,2017.0,5516.0,0.352277,0.0,0.0,0.00000,0.0000,0.0,0.0,...,0.000000,0.000000,0.0,0.0,0.00000,0.00000,0.0,0.0,0.0,0.0
1385179,36005001600,2017.0,5825.0,0.187290,0.0,0.0,0.00000,0.0000,0.0,0.0,...,0.000000,0.000000,0.0,0.0,0.00000,0.00000,0.0,0.0,0.0,0.0
1385211,36005001900,2017.0,3141.0,0.634618,2.0,8.0,0.63674,3.1515,0.0,0.0,...,1.273480,6.303001,1.0,8.0,0.31837,1.57575,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1508667,36085030302,2017.0,6702.0,0.352232,0.0,0.0,0.00000,0.0000,0.0,0.0,...,0.149209,2.839040,0.0,0.0,0.00000,0.00000,0.0,0.0,0.0,0.0
1508699,36085031901,2017.0,2816.0,0.149827,0.0,0.0,0.00000,0.0000,0.0,0.0,...,0.000000,0.000000,0.0,0.0,0.00000,0.00000,0.0,0.0,0.0,0.0
1508731,36085031902,2017.0,5343.0,0.266616,0.0,0.0,0.00000,0.0000,0.0,0.0,...,0.000000,0.000000,0.0,0.0,0.00000,0.00000,0.0,0.0,0.0,0.0
1508763,36085032300,2017.0,1073.0,1.490535,0.0,0.0,0.00000,0.0000,0.0,0.0,...,1.863933,1.341800,0.0,0.0,0.00000,0.00000,0.0,0.0,0.0,0.0
1508795,36085990100,2017.0,0.0,0.000000,0.0,0.0,NaN,NaN,0.0,0.0,...,NaN,NaN,0.0,0.0,NaN,NaN,0.0,0.0,NaN,NaN

In [88]:
# Using crosswalk
NYC_arts['SBA'] = NYC_arts['tract_fips10'].astype(str).map(cross_d).copy()
NYC_arts.head(5)

,tract_fips10,year,totpop,aland10,count_museums,emps_museums,den_museums,aden_museums,count_theatricalproductions,emps_theatricalproductions,...,aden_totartsentertainment,count_hotels,emps_hotels,den_hotels,aden_hotels,count_casinohotels,emps_casinohotels,den_casinohotels,aden_casinohotels,SBA
1385083,36005000100,2017.0,6864.0,0.609795,0.0,0.0,0.00000,0.0000,0.0,0.0,...,0.000000,0.0,0.0,0.00000,0.00000,0.0,0.0,0.0,0.0,101
1385115,36005000200,2017.0,4532.0,0.175801,0.0,0.0,0.00000,0.0000,0.0,0.0,...,0.000000,0.0,0.0,0.00000,0.00000,0.0,0.0,0.0,0.0,107
1385147,36005000400,2017.0,5516.0,0.352277,0.0,0.0,0.00000,0.0000,0.0,0.0,...,0.000000,0.0,0.0,0.00000,0.00000,0.0,0.0,0.0,0.0,107
1385179,36005001600,2017.0,5825.0,0.187290,0.0,0.0,0.00000,0.0000,0.0,0.0,...,0.000000,0.0,0.0,0.00000,0.00000,0.0,0.0,0.0,0.0,107
1385211,36005001900,2017.0,3141.0,0.634618,2.0,8.0,0.63674,3.1515,0.0,0.0,...,6.303001,1.0,8.0,0.31837,1.57575,0.0,0.0,0.0,0.0,101

In [89]:
# getting rid of useless cols
NYC_arts = NYC_arts[['SBA','year','totpop','aland10','count_museums','count_theatricalproductions','count_movietheaters','count_zoosaquariumsgardens','count_bingocardsgambling','count_poolhallsbowlingalleys','count_totartsentertainment','count_hotels']].copy()
NYC_arts.head(5)

,SBA,year,totpop,aland10,count_museums,count_theatricalproductions,count_movietheaters,count_zoosaquariumsgardens,count_bingocardsgambling,count_poolhallsbowlingalleys,count_totartsentertainment,count_hotels
1385083,101,2017.0,6864.0,0.609795,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1385115,107,2017.0,4532.0,0.175801,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1385147,107,2017.0,5516.0,0.352277,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1385179,107,2017.0,5825.0,0.187290,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1385211,101,2017.0,3141.0,0.634618,2.0,0.0,1.0,0.0,0.0,0.0,4.0,1.0

In [90]:
# renaming
arts2017 = NYC_arts.rename(columns = {'totpop':'tot_pop','aland10':'sq_miles'})
arts2017.head(5)

,SBA,year,tot_pop,sq_miles,count_museums,count_theatricalproductions,count_movietheaters,count_zoosaquariumsgardens,count_bingocardsgambling,count_poolhallsbowlingalleys,count_totartsentertainment,count_hotels
1385083,101,2017.0,6864.0,0.609795,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1385115,107,2017.0,4532.0,0.175801,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1385147,107,2017.0,5516.0,0.352277,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1385179,107,2017.0,5825.0,0.187290,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1385211,101,2017.0,3141.0,0.634618,2.0,0.0,1.0,0.0,0.0,0.0,4.0,1.0

In [91]:
# aggregating
arts2017_aggregated = arts2017.groupby(['SBA']).agg({
    'tot_pop': 'sum',
    'sq_miles': 'sum', 
    'count_totartsentertainment': 'sum',
    'count_hotels': 'sum'
}).reset_index()

arts2017_aggregated.head(10)

   SBA   tot_pop  sq_miles  count_totartsentertainment  count_hotels
0  101  156731.0  4.857219                        13.0           9.0
1  102  171842.0  4.371108                         8.0          12.0
2  103  141400.0  1.984920                        17.0           7.0
3  104  139656.0  1.510100                         8.0           4.0
4  105  132128.0  1.571252                         0.0           2.0
5  106  109938.0  3.417777                        10.0           7.0
6  107  185690.0  4.447131                        11.0           2.0
7  108  119645.0  9.385994                        15.0           8.0
8  109  126733.0  3.807365                        11.0           9.0
9  110  151305.0  6.743433                        11.0          14.0

In [92]:
# redoing rate calculations at sba level 

# All Arts and Entertainment Venues per 1k people
arts2017_aggregated['Arts/E_per_1kppl'] = (arts2017_aggregated['count_totartsentertainment'] / arts2017_aggregated['tot_pop']) * 1000
# per square mile
arts2017_aggregated['Arts/E_per_sqm'] = arts2017_aggregated['count_totartsentertainment'] / arts2017_aggregated['sq_miles']

# Hotels per 1k people
arts2017_aggregated['Hotels_per_1kppl'] = (arts2017_aggregated['count_hotels'] / arts2017_aggregated['tot_pop']) * 1000
# per square mile
arts2017_aggregated['Hotels_per_sqm'] = arts2017_aggregated['count_hotels'] / arts2017_aggregated['sq_miles']

In [93]:
# dropping count cols
ARTS2017 = arts2017_aggregated[['SBA','Arts/E_per_1kppl','Arts/E_per_sqm','Hotels_per_1kppl','Hotels_per_sqm']].copy()
ARTS2017.head(5)

   SBA  Arts/E_per_1kppl  Arts/E_per_sqm  Hotels_per_1kppl  Hotels_per_sqm
0  101          0.082945        2.676429          0.057423        1.852912
1  102          0.046554        1.830200          0.069832        2.745300
2  103          0.120226        8.564579          0.049505        3.526591
3  104          0.057284        5.297664          0.028642        2.648832
4  105          0.000000        0.000000          0.015137        1.272870

In [94]:
# exporting
ARTS2017 = ARTS2017.to_csv('/Users/isabellagermani/Desktop/MS THSS/data/ARTS2017.csv')

### Public Transit Stops

In [95]:
trans = pd.read_stata('/Users/isabellagermani/Desktop/MS THSS/data/trans.dta')
type(trans)

pandas.core.frame.DataFrame

In [96]:
trans

,TRACT_FIPS,CENSUS_TRACT_AREA,COUNT_NTM_STOPS,TOT_POP_2010,STOPS_PER_CAPITA,STOPS_PER_SQMILE
0,01001020100,3.788,0,1812.0,0.0,0.0
1,01001020200,1.290,0,2218.0,0.0,0.0
2,01001020300,2.065,0,3155.0,0.0,0.0
3,01001020400,2.464,0,4337.0,0.0,0.0
4,01001020500,4.401,0,10498.0,0.0,0.0
...,...,...,...,...,...,...
73798,72153750501,0.693,0,NaN,NaN,0.0
73799,72153750502,0.264,0,NaN,NaN,0.0
73800,72153750503,1.281,0,NaN,NaN,0.0
73801,72153750601,4.252,0,NaN,NaN,0.0
73802,72153750602,6.767,0,NaN,NaN,0.0

In [97]:
# filtering for NYC area 
counties = ('005','081','047','061','085')

filter2 = trans['TRACT_FIPS'].astype(str).str[0:2] == '36'
filter3 = trans['TRACT_FIPS'].astype(str).str[2:5].isin(counties)

NYC_trans = trans[filter2 & filter3].copy()
NYC_trans

,TRACT_FIPS,CENSUS_TRACT_AREA,COUNT_NTM_STOPS,TOT_POP_2010,STOPS_PER_CAPITA,STOPS_PER_SQMILE
43159,36005000100,0.610,2,9741.0,0.205318,3.278689
43160,36005000200,0.176,0,4734.0,0.000000,0.000000
43161,36005000400,0.352,0,5211.0,0.000000,0.000000
43162,36005001600,0.187,0,5127.0,0.000000,0.000000
43163,36005001900,0.635,0,2420.0,0.000000,0.000000
...,...,...,...,...,...,...
47013,36085030301,0.276,0,5266.0,0.000000,0.000000
47014,36085030302,0.352,0,6444.0,0.000000,0.000000
47015,36085031901,0.150,0,3124.0,0.000000,0.000000
47016,36085031902,0.267,0,4296.0,0.000000,0.000000
47017,36085032300,1.491,0,1095.0,0.000000,0.000000

In [98]:
# Using crosswalk
NYC_trans['SBA'] = NYC_trans['TRACT_FIPS'].astype(str).map(cross_d).copy()
NYC_trans.head(5)

,TRACT_FIPS,CENSUS_TRACT_AREA,COUNT_NTM_STOPS,TOT_POP_2010,STOPS_PER_CAPITA,STOPS_PER_SQMILE,SBA
43159,36005000100,0.610,2,9741.0,0.205318,3.278689,101
43160,36005000200,0.176,0,4734.0,0.000000,0.000000,107
43161,36005000400,0.352,0,5211.0,0.000000,0.000000,107
43162,36005001600,0.187,0,5127.0,0.000000,0.000000,107
43163,36005001900,0.635,0,2420.0,0.000000,0.000000,101

In [99]:
# getting rid of useless cols
NYC_trans = NYC_trans[['SBA','CENSUS_TRACT_AREA','COUNT_NTM_STOPS']].copy()
NYC_trans.head(5)

       SBA  CENSUS_TRACT_AREA  COUNT_NTM_STOPS
43159  101              0.610                2
43160  107              0.176                0
43161  107              0.352                0
43162  107              0.187                0
43163  101              0.635                0

In [100]:
# renaming
trans2017 = NYC_trans.rename(columns = {'CENSUS_TRACT_AREA':'sq_miles'})
trans2017.head(5)

       SBA  sq_miles  COUNT_NTM_STOPS
43159  101     0.610                2
43160  107     0.176                0
43161  107     0.352                0
43162  107     0.187                0
43163  101     0.635                0

In [101]:
# aggregating
trans2017_aggregated = trans2017.groupby(['SBA']).agg({
    'sq_miles': 'sum', 
    'COUNT_NTM_STOPS': 'sum'
}).reset_index()

trans2017_aggregated.head(10)

   SBA  sq_miles  COUNT_NTM_STOPS
0  101     4.857                2
1  102     4.372                8
2  103     1.985                9
3  104     1.510                7
4  105     1.569               20
5  106     3.419               71
6  107     4.447               13
7  108     9.386              103
8  109     3.808               21
9  110     6.743               47

In [102]:
# redoing rate calculations at sba level 

# Train stops per square mile
trans2017_aggregated['MTAStops_per_sqm'] = trans2017_aggregated['COUNT_NTM_STOPS'] / trans2017_aggregated['sq_miles']

In [103]:
# dropping count col
TRANS2017 = trans2017_aggregated[['SBA','MTAStops_per_sqm']].copy()
TRANS2017.head(5)

   SBA  MTAStops_per_sqm
0  101          0.411777
1  102          1.829826
2  103          4.534005
3  104          4.635762
4  105         12.746973

In [104]:
# exporting
TRANS2017 = TRANS2017.to_csv('/Users/isabellagermani/Desktop/MS THSS/data/TRANS2017.csv')

### Broadband Internet Availability, Speed, and Adoption

In [105]:
broadb = pd.read_stata('/Users/isabellagermani/Desktop/MS THSS/data/broadband.dta')
type(broadb)

pandas.core.frame.DataFrame

In [106]:
# filtering for NYC area & year
counties = ('005','081','047','061','085')

filter1 = broadb['YEAR'] == 2017
filter2 = broadb['TRACT_FIPS10'].astype(str).str[0:2] == '36'
filter3 = broadb['TRACT_FIPS10'].astype(str).str[2:5].isin(counties)

NYC_broadb = broadb[filter1 & filter2 & filter3].copy()
NYC_broadb

,TRACT_FIPS10,YEAR,AVG_DOWNLOAD_SPEED,AVG_UPLOAD_SPEED,TOT_HS_PROVIDERS,RES_HS_PROVIDERS,RFHSC_PER_1000_HHS,RFHSC_PER_1000_HHS_10_1
265048,36005000100,2017,3.759259,3.111111,0,0,Zero,Zero
265049,36005000200,2017,2.000000,1.300000,0,0,800 < x,800 < x
265050,36005000400,2017,53.179485,52.515385,1,0,800 < x,800 < x
265051,36005001600,2017,401.285706,400.885712,2,0,800 < x,800 < x
265052,36005001900,2017,165.025742,164.596115,4,0,800 < x,800 < x
...,...,...,...,...,...,...,...,...
268910,36085030302,2017,92.693184,92.104546,1,0,800 < x,800 < x
268911,36085031901,2017,159.552628,159.000000,1,0,800 < x,800 < x
268912,36085031902,2017,2.000000,1.300000,0,0,600 < x <= 800,600 < x <= 800
268913,36085032300,2017,81.064102,80.597435,1,0,800 < x,600 < x <= 800
268914,36085990100,2017,0.000000,0.000000,0,0,Zero,Zero

In [107]:
# Using crosswalk
NYC_broadb['SBA'] = NYC_broadb['TRACT_FIPS10'].astype(str).map(cross_d).copy()
NYC_broadb.head(5)

,TRACT_FIPS10,YEAR,AVG_DOWNLOAD_SPEED,AVG_UPLOAD_SPEED,TOT_HS_PROVIDERS,RES_HS_PROVIDERS,RFHSC_PER_1000_HHS,RFHSC_PER_1000_HHS_10_1,SBA
265048,36005000100,2017,3.759259,3.111111,0,0,Zero,Zero,101
265049,36005000200,2017,2.000000,1.300000,0,0,800 < x,800 < x,107
265050,36005000400,2017,53.179485,52.515385,1,0,800 < x,800 < x,107
265051,36005001600,2017,401.285706,400.885712,2,0,800 < x,800 < x,107
265052,36005001900,2017,165.025742,164.596115,4,0,800 < x,800 < x,101

In [108]:
# getting rid of useless cols
NYC_broadb = NYC_broadb[['SBA','TRACT_FIPS10','AVG_DOWNLOAD_SPEED','AVG_UPLOAD_SPEED']].copy()
NYC_broadb.head(5)

        SBA TRACT_FIPS10  AVG_DOWNLOAD_SPEED  AVG_UPLOAD_SPEED
265048  101  36005000100            3.759259          3.111111
265049  107  36005000200            2.000000          1.300000
265050  107  36005000400           53.179485         52.515385
265051  107  36005001600          401.285706        400.885712
265052  101  36005001900          165.025742        164.596115

In [109]:
# *** creating dict of tract populations from one of the dfs above to add into this one so i can calculate the avg sba broadband speeds using population as a weight ***

# filtering arts again
counties = ('005','081','047','061','085')
filter1 = arts['year'] == 2017.0
filter2 = arts['tract_fips10'].astype(str).str[0:2] == '36'
filter3 = arts['tract_fips10'].astype(str).str[2:5].isin(counties)
ARTS = arts[filter1 & filter2 & filter3].copy()

# creating dict from filtered arts df
sba_dict_ = dict(zip(ARTS['tract_fips10'],ARTS['totpop']))

In [110]:
# adding populations into broadband
NYC_broadb['tot_pop'] = NYC_broadb['TRACT_FIPS10'].map(sba_dict_)
NYC_broadb.head(5)

        SBA TRACT_FIPS10  AVG_DOWNLOAD_SPEED  AVG_UPLOAD_SPEED  tot_pop
265048  101  36005000100            3.759259          3.111111   6864.0
265049  107  36005000200            2.000000          1.300000   4532.0
265050  107  36005000400           53.179485         52.515385   5516.0
265051  107  36005001600          401.285706        400.885712   5825.0
265052  101  36005001900          165.025742        164.596115   3141.0

In [111]:
# calculating weighted speeds for each tract
NYC_broadb['weighted_avg_download'] = NYC_broadb['AVG_DOWNLOAD_SPEED'] * NYC_broadb['tot_pop']

NYC_broadb['weighted_avg_upload'] = NYC_broadb['AVG_UPLOAD_SPEED'] * NYC_broadb['tot_pop']
NYC_broadb.head(5)

,SBA,TRACT_FIPS10,AVG_DOWNLOAD_SPEED,AVG_UPLOAD_SPEED,tot_pop,weighted_avg_download,weighted_avg_upload
265048,101,36005000100,3.759259,3.111111,6864.0,2.580356e+04,2.135467e+04
265049,107,36005000200,2.000000,1.300000,4532.0,9.064000e+03,5.891600e+03
265050,107,36005000400,53.179485,52.515385,5516.0,2.933380e+05,2.896749e+05
265051,107,36005001600,401.285706,400.885712,5825.0,2.337489e+06,2.335159e+06
265052,101,36005001900,165.025742,164.596115,3141.0,5.183459e+05,5.169964e+05

In [112]:
# aggregating
broadb2017_aggregated = NYC_broadb.groupby(['SBA']).agg({
    'tot_pop': 'sum',
    'weighted_avg_download': 'sum',
    'weighted_avg_upload': 'sum'
}).reset_index()

broadb2017_aggregated.head(10)

   SBA   tot_pop  weighted_avg_download  weighted_avg_upload
0  101  156731.0           6.110256e+07         6.104760e+07
1  102  171842.0           5.565618e+07         5.558566e+07
2  103  141400.0           5.753866e+07         5.748975e+07
3  104  139656.0           5.264538e+07         5.259366e+07
4  105  132128.0           4.933683e+07         4.928421e+07
5  106  109938.0           3.342876e+07         3.337782e+07
6  107  185690.0           4.878593e+07         4.869332e+07
7  108  119645.0           1.733553e+07         1.726979e+07
8  109  126733.0           3.404416e+07         3.398043e+07
9  110  151305.0           4.835101e+07         4.827906e+07

In [113]:
# calculating weighted avg speeds for each sba
broadb2017_aggregated['Wavg_download_sp'] = broadb2017_aggregated['weighted_avg_download'] / broadb2017_aggregated['tot_pop']
broadb2017_aggregated['Wavg_upload_sp'] = broadb2017_aggregated['weighted_avg_upload'] / broadb2017_aggregated['tot_pop']

In [114]:
# dropping cols
BROADB2017 = broadb2017_aggregated[['SBA','Wavg_download_sp','Wavg_upload_sp']].copy()
BROADB2017.head(5)

   SBA  Wavg_download_sp  Wavg_upload_sp
0  101        389.856220      389.505595
1  102        323.879977      323.469560
2  103        406.921202      406.575343
3  104        376.964656      376.594313
4  105        373.401791      373.003514

In [115]:
# exporting
BROADB2017 = BROADB2017.to_csv('/Users/isabellagermani/Desktop/MS THSS/data/BROADB2017.csv')