Final Merged Dataset

In [1]:
import pandas as pd
import numpy as np

NYCHVS = pd.read_csv('/Users/isabellagermani/Desktop/MS THSS/data/NYCHVS_NEIGHBORHOOD_2017.csv', index_col = 0)

FURMAN = pd.read_csv('/Users/isabellagermani/Desktop/MS THSS/data/FURMAN2017_clean.csv', index_col = 0)

DOLLAR = pd.read_csv('/Users/isabellagermani/Desktop/MS THSS/data/DOLLARSTORES2017.csv', index_col = 0)

VAPE = pd.read_csv('/Users/isabellagermani/Desktop/MS THSS/data/VAPE2017.csv', index_col = 0)

CIVIC = pd.read_csv('/Users/isabellagermani/Desktop/MS THSS/data/CIVIC2017.csv', index_col = 0)

LAUNDRY = pd.read_csv('/Users/isabellagermani/Desktop/MS THSS/data/LAUNDRY2017.csv', index_col = 0)

SOCIAL = pd.read_csv('/Users/isabellagermani/Desktop/MS THSS/data/SOCIALS2017.csv', index_col = 0)

RETAIL = pd.read_csv('/Users/isabellagermani/Desktop/MS THSS/data/RETAIL2017.csv',index_col = 0)

HEALTH = pd.read_csv('/Users/isabellagermani/Desktop/MS THSS/data/HEALTH2017.csv', index_col = 0)

POST = pd.read_csv('/Users/isabellagermani/Desktop/MS THSS/data/POST2017.csv', index_col = 0)

REC = pd.read_csv('/Users/isabellagermani/Desktop/MS THSS/data/REC2017.csv', index_col = 0)

ARTS = pd.read_csv('/Users/isabellagermani/Desktop/MS THSS/data/ARTS2017.csv', index_col = 0)

TRANSIT = pd.read_csv('/Users/isabellagermani/Desktop/MS THSS/data/TRANS2017.csv', index_col = 0)

BROADBAND = pd.read_csv('/Users/isabellagermani/Desktop/MS THSS/data/BROADB2017.csv', index_col = 0)

SURROUNDING = pd.read_csv('/Users/isabellagermani/Desktop/MS THSS/data/SURROUNDING_YEARS.csv', index_col = 0)

### Merging

In [2]:
# Merging furman & nychvs on SBA
SBA = FURMAN.merge(NYCHVS, on = 'SBA', how = 'outer')
SBA.head(5)

,SBA,SBA_name,med_hous_inc,FL_loans,FL_loans_2_LI,inc_gap_ratio,mort_forc,pov_rate,asian,black,...,displaced,rennov,PCT_GENTR,GENTR,recent_gentr,new_gentr,PCT_ACTIVE_GENTR,ACTIVE_GENTR,recent_active_gentr,new_active_gentr
0,101,Mott Haven/Hunts Point,"$26,090",30.0%,100.0%,5.9,70.0,44.2%,0.3%,28.4%,...,0.020661,0.078512,23.140496,0.231405,0.074380,0.024793,3.719008,0.037190,0.037190,0.020661
1,102,Morrisania/Belmont,"$32,330",53.4%,100.0%,6.2,115.0,35.8%,1.3%,32.5%,...,0.028169,0.077465,25.704225,0.257042,0.095070,0.042254,1.056338,0.010563,0.010563,0.003521
2,103,Highbridge/South Concourse,"$38,460",10.3%,100.0%,5.6,38.0,36.4%,1.0%,27.7%,...,0.024490,0.065306,24.489796,0.244898,0.077551,0.016327,3.265306,0.032653,0.032653,0.008163
3,104,University Heights/Fordham,"$37,550",54.8%,100.0%,5.8,53.0,36.4%,1.8%,24.4%,...,0.024752,0.059406,20.792079,0.207921,0.064356,0.024752,2.475248,0.024752,0.024752,0.009901
4,105,Kingsbridge Heights/Mosholu,"$44,000",9.6%,66.7%,5.7,25.0,32.9%,7.1%,11.3%,...,0.010101,0.000000,25.757576,0.257576,0.106061,0.025253,4.040404,0.040404,0.040404,0.015152

In [3]:
# merging in dollar
SBA = SBA.merge(DOLLAR, on = 'SBA', how = 'outer')
SBA.head(5)

,SBA,SBA_name,med_hous_inc,FL_loans,FL_loans_2_LI,inc_gap_ratio,mort_forc,pov_rate,asian,black,...,new_gentr,PCT_ACTIVE_GENTR,ACTIVE_GENTR,recent_active_gentr,new_active_gentr,tot_pop,sq_miles,t_dollar_stores,dollars_per_1kppl,dollars_per_sqm
0,101,Mott Haven/Hunts Point,"$26,090",30.0%,100.0%,5.9,70.0,44.2%,0.3%,28.4%,...,0.024793,3.719008,0.037190,0.037190,0.020661,156731.0,4.857219,12,0.076564,2.470550
1,102,Morrisania/Belmont,"$32,330",53.4%,100.0%,6.2,115.0,35.8%,1.3%,32.5%,...,0.042254,1.056338,0.010563,0.010563,0.003521,171842.0,4.371108,5,0.029096,1.143875
2,103,Highbridge/South Concourse,"$38,460",10.3%,100.0%,5.6,38.0,36.4%,1.0%,27.7%,...,0.016327,3.265306,0.032653,0.032653,0.008163,141400.0,1.984920,7,0.049505,3.526591
3,104,University Heights/Fordham,"$37,550",54.8%,100.0%,5.8,53.0,36.4%,1.8%,24.4%,...,0.024752,2.475248,0.024752,0.024752,0.009901,139656.0,1.510099,6,0.042963,3.973248
4,105,Kingsbridge Heights/Mosholu,"$44,000",9.6%,66.7%,5.7,25.0,32.9%,7.1%,11.3%,...,0.025253,4.040404,0.040404,0.040404,0.015152,132128.0,1.571252,3,0.022705,1.909305

In [4]:
# merging in vape
SBA = SBA.merge(VAPE, on = 'SBA', how = 'outer')
SBA.head(5)

,SBA,SBA_name,med_hous_inc,FL_loans,FL_loans_2_LI,inc_gap_ratio,mort_forc,pov_rate,asian,black,...,liqour_per_1kppl,liqour_per_sqm,tobacco_per_1kppl,tobacco_per_sqm,convenience_per_1kppl,convenience_per_sqm,ecig_per_1kppl,ecig_per_sqm,marijuana_per_1kppl,marijuana_per_sqm
0,101,Mott Haven/Hunts Point,"$26,090",30.0%,100.0%,5.9,70.0,44.2%,0.3%,28.4%,...,0.210552,6.794012,0.006380,0.205879,0.140368,4.529341,0.000000,0.000000,0.0,0.0
1,102,Morrisania/Belmont,"$32,330",53.4%,100.0%,6.2,115.0,35.8%,1.3%,32.5%,...,0.139663,5.490599,0.040735,1.601425,0.139663,5.490599,0.005819,0.228775,0.0,0.0
2,103,Highbridge/South Concourse,"$38,460",10.3%,100.0%,5.6,38.0,36.4%,1.0%,27.7%,...,0.113154,8.060781,0.070721,5.037988,0.141443,10.075975,0.000000,0.000000,0.0,0.0
3,104,University Heights/Fordham,"$37,550",54.8%,100.0%,5.8,53.0,36.4%,1.8%,24.4%,...,0.128888,11.919744,0.035802,3.311040,0.093086,8.608704,0.000000,0.000000,0.0,0.0
4,105,Kingsbridge Heights/Mosholu,"$44,000",9.6%,66.7%,5.7,25.0,32.9%,7.1%,11.3%,...,0.090821,7.637222,0.022705,1.909306,0.098389,8.273657,0.000000,0.000000,0.0,0.0

In [5]:
# merging in civic
SBA = SBA.merge(CIVIC, on = 'SBA', how = 'outer')
SBA.head(5)

,SBA,SBA_name,med_hous_inc,FL_loans,FL_loans_2_LI,inc_gap_ratio,mort_forc,pov_rate,asian,black,...,marijuana_per_1kppl,marijuana_per_sqm,civsoc_per_1kppl,civsoc_per_sqm,youthorgs_per_1kppl,youthorgs_per_sqm,vetorgs_per_1kppl,vetorgs_per_sqm,relig_per_1kppl,relig_per_sqm
0,101,Mott Haven/Hunts Point,"$26,090",30.0%,100.0%,5.9,70.0,44.2%,0.3%,28.4%,...,0.0,0.0,0.127607,4.117583,0.025521,0.823517,0.000000,0.000000,0.906011,29.234837
1,102,Morrisania/Belmont,"$32,330",53.4%,100.0%,6.2,115.0,35.8%,1.3%,32.5%,...,0.0,0.0,0.128025,5.033049,0.046554,1.830200,0.005819,0.228775,1.146402,45.068670
2,103,Highbridge/South Concourse,"$38,460",10.3%,100.0%,5.6,38.0,36.4%,1.0%,27.7%,...,0.0,0.0,0.141443,10.075975,0.035361,2.518994,0.014144,1.007598,0.785007,55.921660
3,104,University Heights/Fordham,"$37,550",54.8%,100.0%,5.8,53.0,36.4%,1.8%,24.4%,...,0.0,0.0,0.121728,11.257535,0.028642,2.648832,0.000000,0.000000,0.708885,65.558586
4,105,Kingsbridge Heights/Mosholu,"$44,000",9.6%,66.7%,5.7,25.0,32.9%,7.1%,11.3%,...,0.0,0.0,0.136232,11.455832,0.022705,1.909306,0.000000,0.000000,0.567631,47.732635

In [6]:
# merging in laundry
SBA = SBA.merge(LAUNDRY, on = 'SBA', how = 'outer')
SBA.head(5)

,SBA,SBA_name,med_hous_inc,FL_loans,FL_loans_2_LI,inc_gap_ratio,mort_forc,pov_rate,asian,black,...,relig_per_1kppl,relig_per_sqm,barber_per_1kppl,barber_per_sqm,beauty_per_1kppl,beauty_per_sqm,laundry_per_1kppl,laundry_per_sqm,drycl_per_1kppl,drycl_per_sqm
0,101,Mott Haven/Hunts Point,"$26,090",30.0%,100.0%,5.9,70.0,44.2%,0.3%,28.4%,...,0.906011,29.234837,0.382821,12.352748,0.957054,30.88187,0.223313,7.205769,0.063804,2.058791
1,102,Morrisania/Belmont,"$32,330",53.4%,100.0%,6.2,115.0,35.8%,1.3%,32.5%,...,1.146402,45.068670,0.395712,15.556698,0.867076,34.08747,0.168760,6.634474,0.046554,1.830200
2,103,Highbridge/South Concourse,"$38,460",10.3%,100.0%,5.6,38.0,36.4%,1.0%,27.7%,...,0.785007,55.921660,0.346535,24.686138,0.968883,69.02043,0.134371,9.572176,0.035361,2.518994
3,104,University Heights/Fordham,"$37,550",54.8%,100.0%,5.8,53.0,36.4%,1.8%,24.4%,...,0.708885,65.558586,0.358023,33.110397,1.088389,100.65561,0.157530,14.568575,0.007160,0.662208
4,105,Kingsbridge Heights/Mosholu,"$44,000",9.6%,66.7%,5.7,25.0,32.9%,7.1%,11.3%,...,0.567631,47.732635,0.242189,20.365925,0.953621,80.19083,0.204347,17.183748,0.022705,1.909306

In [7]:
# merging in social
SBA = SBA.merge(SOCIAL, on = 'SBA', how = 'outer')
SBA.head(5)

,SBA,SBA_name,med_hous_inc,FL_loans,FL_loans_2_LI,inc_gap_ratio,mort_forc,pov_rate,asian,black,...,Eserv_per_1kppl,Eserv_per_sqm,MDprog_per_1kppl,MDprog_per_sqm,Gcouns_per_1kppl,Gcouns_per_sqm,SAcouns_per_1kppl,SAcouns_per_sqm,Dayc_per_1kppl,Dayc_per_sqm
0,101,Mott Haven/Hunts Point,"$26,090",30.0%,100.0%,5.9,70.0,44.2%,0.3%,28.4%,...,0.031902,1.029396,0.00638,0.205879,0.236073,7.617528,0.012761,0.411758,0.555091,17.911486
1,102,Morrisania/Belmont,"$32,330",53.4%,100.0%,6.2,115.0,35.8%,1.3%,32.5%,...,0.023277,0.915100,0.00000,0.000000,0.162940,6.405699,0.017458,0.686325,0.593569,23.335047
2,103,Highbridge/South Concourse,"$38,460",10.3%,100.0%,5.6,38.0,36.4%,1.0%,27.7%,...,0.014144,1.007598,0.00000,0.000000,0.099010,7.053183,0.000000,0.000000,0.466761,33.250717
3,104,University Heights/Fordham,"$37,550",54.8%,100.0%,5.8,53.0,36.4%,1.8%,24.4%,...,0.014321,1.324416,0.00000,0.000000,0.128888,11.919744,0.007160,0.662208,0.651601,60.260925
4,105,Kingsbridge Heights/Mosholu,"$44,000",9.6%,66.7%,5.7,25.0,32.9%,7.1%,11.3%,...,0.000000,0.000000,0.00000,0.000000,0.136232,11.455832,0.007568,0.636435,0.620610,52.187683

In [8]:
# merging in retail
SBA = SBA.merge(RETAIL, on = 'SBA', how = 'outer')
SBA.head(5)

,SBA,SBA_name,med_hous_inc,FL_loans,FL_loans_2_LI,inc_gap_ratio,mort_forc,pov_rate,asian,black,...,F/Astor_per_1kppl,F/Astor_per_sqm,Mstor_per_1kppl,Mstor_per_sqm,H/Gstor_per_1kppl,H/Gstor_per_sqm,D/Vstor_per_1kppl,D/Vstor_per_sqm,Ustor_per_1kppl,Ustor_per_sqm
0,101,Mott Haven/Hunts Point,"$26,090",30.0%,100.0%,5.9,70.0,44.2%,0.3%,28.4%,...,0.248834,8.029286,0.095705,3.088187,0.089325,2.882308,0.446625,14.411539,0.095705,3.088187
1,102,Morrisania/Belmont,"$32,330",53.4%,100.0%,6.2,115.0,35.8%,1.3%,32.5%,...,0.180398,7.092024,0.058193,2.287750,0.052374,2.058975,0.267688,10.523648,0.098928,3.889175
2,103,Highbridge/South Concourse,"$38,460",10.3%,100.0%,5.6,38.0,36.4%,1.0%,27.7%,...,0.162659,11.587372,0.063649,4.534189,0.056577,4.030390,0.339463,24.182340,0.063649,4.534189
3,104,University Heights/Fordham,"$37,550",54.8%,100.0%,5.8,53.0,36.4%,1.8%,24.4%,...,0.121728,11.257535,0.050123,4.635456,0.057284,5.297664,0.272097,25.163902,0.057284,5.297664
4,105,Kingsbridge Heights/Mosholu,"$44,000",9.6%,66.7%,5.7,25.0,32.9%,7.1%,11.3%,...,0.249758,21.002360,0.052979,4.455046,0.045411,3.818611,0.340579,28.639582,0.121095,10.182962

In [9]:
# merging in health
SBA = SBA.merge(HEALTH, on = 'SBA', how = 'outer')
SBA.head(5)

,SBA,SBA_name,med_hous_inc,FL_loans,FL_loans_2_LI,inc_gap_ratio,mort_forc,pov_rate,asian,black,...,H/Gstor_per_1kppl,H/Gstor_per_sqm,D/Vstor_per_1kppl,D/Vstor_per_sqm,Ustor_per_1kppl,Ustor_per_sqm,pyhs_per_1kppl,phys_per_sqm,pharm_per_1kppl,pharm_per_sqm
0,101,Mott Haven/Hunts Point,"$26,090",30.0%,100.0%,5.9,70.0,44.2%,0.3%,28.4%,...,0.089325,2.882308,0.446625,14.411539,0.095705,3.088187,0.478527,15.440935,0.561472,18.117365
1,102,Morrisania/Belmont,"$32,330",53.4%,100.0%,6.2,115.0,35.8%,1.3%,32.5%,...,0.052374,2.058975,0.267688,10.523648,0.098928,3.889175,0.389893,15.327923,0.354977,13.955273
2,103,Highbridge/South Concourse,"$38,460",10.3%,100.0%,5.6,38.0,36.4%,1.0%,27.7%,...,0.056577,4.030390,0.339463,24.182340,0.063649,4.534189,0.445545,31.739320,0.332390,23.678541
3,104,University Heights/Fordham,"$37,550",54.8%,100.0%,5.8,53.0,36.4%,1.8%,24.4%,...,0.057284,5.297664,0.272097,25.163902,0.057284,5.297664,0.486911,45.030140,0.400985,37.083645
4,105,Kingsbridge Heights/Mosholu,"$44,000",9.6%,66.7%,5.7,25.0,32.9%,7.1%,11.3%,...,0.045411,3.818611,0.340579,28.639582,0.121095,10.182962,1.082284,91.010220,0.333010,28.003147

In [10]:
# merging in post
SBA = SBA.merge(POST, on = 'SBA', how = 'outer')
SBA.head(5)

,SBA,SBA_name,med_hous_inc,FL_loans,FL_loans_2_LI,inc_gap_ratio,mort_forc,pov_rate,asian,black,...,Ustor_per_1kppl,Ustor_per_sqm,pyhs_per_1kppl,phys_per_sqm,pharm_per_1kppl,pharm_per_sqm,post_per_1kppl,post_per_sqm,banks_per_1kppl,banks_per_sqm
0,101,Mott Haven/Hunts Point,"$26,090",30.0%,100.0%,5.9,70.0,44.2%,0.3%,28.4%,...,0.095705,3.088187,0.478527,15.440935,0.561472,18.117365,0.019141,0.617637,0.114846,3.705824
1,102,Morrisania/Belmont,"$32,330",53.4%,100.0%,6.2,115.0,35.8%,1.3%,32.5%,...,0.098928,3.889175,0.389893,15.327923,0.354977,13.955273,0.040735,1.601425,0.046554,1.830200
2,103,Highbridge/South Concourse,"$38,460",10.3%,100.0%,5.6,38.0,36.4%,1.0%,27.7%,...,0.063649,4.534189,0.445545,31.739320,0.332390,23.678541,0.021216,1.511396,0.063649,4.534189
3,104,University Heights/Fordham,"$37,550",54.8%,100.0%,5.8,53.0,36.4%,1.8%,24.4%,...,0.057284,5.297664,0.486911,45.030140,0.400985,37.083645,0.007160,0.662208,0.050123,4.635456
4,105,Kingsbridge Heights/Mosholu,"$44,000",9.6%,66.7%,5.7,25.0,32.9%,7.1%,11.3%,...,0.121095,10.182962,1.082284,91.010220,0.333010,28.003147,0.030274,2.545741,0.143800,12.092268

In [11]:
# merging in rec
SBA = SBA.merge(REC, on = 'SBA', how = 'outer')
SBA.head(5)

,SBA,SBA_name,med_hous_inc,FL_loans,FL_loans_2_LI,inc_gap_ratio,mort_forc,pov_rate,asian,black,...,R/Pcent_per_sqm,G/Drang_per_1kppl,G/Drang_per_sqm,SK/SW/Tcourt_per_1kppl,SK/SW/Tcourt_per_sqm,Members_per_1kppl,Members_per_sqm,TotRec_per_1kppl,TotRec_per_sqm,Share_Priv_Rec
0,101,Mott Haven/Hunts Point,"$26,090",30.0%,100.0%,5.9,70.0,44.2%,0.3%,28.4%,...,3.088187,0.0,0.0,0.000000,0.000000,0.108466,3.499945,0.229693,7.411649,0.472222
1,102,Morrisania/Belmont,"$32,330",53.4%,100.0%,6.2,115.0,35.8%,1.3%,32.5%,...,1.601425,0.0,0.0,0.000000,0.000000,0.221133,8.693449,0.285146,11.209973,0.775510
2,103,Highbridge/South Concourse,"$38,460",10.3%,100.0%,5.6,38.0,36.4%,1.0%,27.7%,...,6.045585,0.0,0.0,0.000000,0.000000,0.226308,16.121561,0.339463,24.182340,0.666667
3,104,University Heights/Fordham,"$37,550",54.8%,100.0%,5.8,53.0,36.4%,1.8%,24.4%,...,3.973248,0.0,0.0,0.000000,0.000000,0.150369,13.906367,0.200493,18.541822,0.750000
4,105,Kingsbridge Heights/Mosholu,"$44,000",9.6%,66.7%,5.7,25.0,32.9%,7.1%,11.3%,...,3.818611,0.0,0.0,0.007568,0.636435,0.098389,8.273657,0.166505,14.001574,0.590909

In [12]:
# merging in arts
SBA = SBA.merge(ARTS, on = 'SBA', how = 'outer')
SBA.head(5)

,SBA,SBA_name,med_hous_inc,FL_loans,FL_loans_2_LI,inc_gap_ratio,mort_forc,pov_rate,asian,black,...,SK/SW/Tcourt_per_sqm,Members_per_1kppl,Members_per_sqm,TotRec_per_1kppl,TotRec_per_sqm,Share_Priv_Rec,Arts/E_per_1kppl,Arts/E_per_sqm,Hotels_per_1kppl,Hotels_per_sqm
0,101,Mott Haven/Hunts Point,"$26,090",30.0%,100.0%,5.9,70.0,44.2%,0.3%,28.4%,...,0.000000,0.108466,3.499945,0.229693,7.411649,0.472222,0.082945,2.676429,0.057423,1.852912
1,102,Morrisania/Belmont,"$32,330",53.4%,100.0%,6.2,115.0,35.8%,1.3%,32.5%,...,0.000000,0.221133,8.693449,0.285146,11.209973,0.775510,0.046554,1.830200,0.069832,2.745300
2,103,Highbridge/South Concourse,"$38,460",10.3%,100.0%,5.6,38.0,36.4%,1.0%,27.7%,...,0.000000,0.226308,16.121561,0.339463,24.182340,0.666667,0.120226,8.564579,0.049505,3.526591
3,104,University Heights/Fordham,"$37,550",54.8%,100.0%,5.8,53.0,36.4%,1.8%,24.4%,...,0.000000,0.150369,13.906367,0.200493,18.541822,0.750000,0.057284,5.297664,0.028642,2.648832
4,105,Kingsbridge Heights/Mosholu,"$44,000",9.6%,66.7%,5.7,25.0,32.9%,7.1%,11.3%,...,0.636435,0.098389,8.273657,0.166505,14.001574,0.590909,0.000000,0.000000,0.015137,1.272870

In [13]:
# merging in transit
SBA = SBA.merge(TRANSIT, on = 'SBA', how = 'outer')
SBA.head(5)

,SBA,SBA_name,med_hous_inc,FL_loans,FL_loans_2_LI,inc_gap_ratio,mort_forc,pov_rate,asian,black,...,Members_per_1kppl,Members_per_sqm,TotRec_per_1kppl,TotRec_per_sqm,Share_Priv_Rec,Arts/E_per_1kppl,Arts/E_per_sqm,Hotels_per_1kppl,Hotels_per_sqm,MTAStops_per_sqm
0,101,Mott Haven/Hunts Point,"$26,090",30.0%,100.0%,5.9,70.0,44.2%,0.3%,28.4%,...,0.108466,3.499945,0.229693,7.411649,0.472222,0.082945,2.676429,0.057423,1.852912,0.411777
1,102,Morrisania/Belmont,"$32,330",53.4%,100.0%,6.2,115.0,35.8%,1.3%,32.5%,...,0.221133,8.693449,0.285146,11.209973,0.775510,0.046554,1.830200,0.069832,2.745300,1.829826
2,103,Highbridge/South Concourse,"$38,460",10.3%,100.0%,5.6,38.0,36.4%,1.0%,27.7%,...,0.226308,16.121561,0.339463,24.182340,0.666667,0.120226,8.564579,0.049505,3.526591,4.534005
3,104,University Heights/Fordham,"$37,550",54.8%,100.0%,5.8,53.0,36.4%,1.8%,24.4%,...,0.150369,13.906367,0.200493,18.541822,0.750000,0.057284,5.297664,0.028642,2.648832,4.635762
4,105,Kingsbridge Heights/Mosholu,"$44,000",9.6%,66.7%,5.7,25.0,32.9%,7.1%,11.3%,...,0.098389,8.273657,0.166505,14.001574,0.590909,0.000000,0.000000,0.015137,1.272870,12.746973

In [14]:
# merging in broadband
SBA = SBA.merge(BROADBAND, on = 'SBA', how = 'outer')
SBA.head(5)

,SBA,SBA_name,med_hous_inc,FL_loans,FL_loans_2_LI,inc_gap_ratio,mort_forc,pov_rate,asian,black,...,TotRec_per_1kppl,TotRec_per_sqm,Share_Priv_Rec,Arts/E_per_1kppl,Arts/E_per_sqm,Hotels_per_1kppl,Hotels_per_sqm,MTAStops_per_sqm,Wavg_download_sp,Wavg_upload_sp
0,101,Mott Haven/Hunts Point,"$26,090",30.0%,100.0%,5.9,70.0,44.2%,0.3%,28.4%,...,0.229693,7.411649,0.472222,0.082945,2.676429,0.057423,1.852912,0.411777,389.856220,389.505595
1,102,Morrisania/Belmont,"$32,330",53.4%,100.0%,6.2,115.0,35.8%,1.3%,32.5%,...,0.285146,11.209973,0.775510,0.046554,1.830200,0.069832,2.745300,1.829826,323.879977,323.469560
2,103,Highbridge/South Concourse,"$38,460",10.3%,100.0%,5.6,38.0,36.4%,1.0%,27.7%,...,0.339463,24.182340,0.666667,0.120226,8.564579,0.049505,3.526591,4.534005,406.921202,406.575343
3,104,University Heights/Fordham,"$37,550",54.8%,100.0%,5.8,53.0,36.4%,1.8%,24.4%,...,0.200493,18.541822,0.750000,0.057284,5.297664,0.028642,2.648832,4.635762,376.964656,376.594313
4,105,Kingsbridge Heights/Mosholu,"$44,000",9.6%,66.7%,5.7,25.0,32.9%,7.1%,11.3%,...,0.166505,14.001574,0.590909,0.000000,0.000000,0.015137,1.272870,12.746973,373.401791,373.003514

In [15]:
# merging in surrounding years
SBA = SBA.merge(SURROUNDING, on = 'SBA', how = 'outer')
SBA.head(5)

,SBA,SBA_name,med_hous_inc,FL_loans,FL_loans_2_LI,inc_gap_ratio,mort_forc,pov_rate,asian,black,...,Wavg_download_sp,Wavg_upload_sp,aff_30_pre,aff_30_post,aff_80_pre,aff_80_post,aff_120_pre,aff_120_post,vac_rt_pre,vac_rt_post
0,101,Mott Haven/Hunts Point,"$26,090",30.0%,100.0%,5.9,70.0,44.2%,0.3%,28.4%,...,389.856220,389.505595,25.5,29.9,92.6,89.5,99.1,98.9,1.9,1.7
1,102,Morrisania/Belmont,"$32,330",53.4%,100.0%,6.2,115.0,35.8%,1.3%,32.5%,...,323.879977,323.469560,23.4,21.5,90.9,93.1,99.7,99.1,1.8,2.0
2,103,Highbridge/South Concourse,"$38,460",10.3%,100.0%,5.6,38.0,36.4%,1.0%,27.7%,...,406.921202,406.575343,5.4,5.4,54.6,54.6,94.8,94.8,2.2,1.4
3,104,University Heights/Fordham,"$37,550",54.8%,100.0%,5.8,53.0,36.4%,1.8%,24.4%,...,376.964656,376.594313,13.4,5.4,85.0,54.6,98.7,94.8,2.4,0.9
4,105,Kingsbridge Heights/Mosholu,"$44,000",9.6%,66.7%,5.7,25.0,32.9%,7.1%,11.3%,...,373.401791,373.003514,5.8,13.9,89.7,92.3,100.0,100.0,2.4,2.7

### Last minute format fixes

In [16]:
# med_hous_inc
SBA['med_hous_inc'] = SBA['med_hous_inc'].astype(str)
SBA['med_hous_inc'] = SBA['med_hous_inc'].str.replace('$', '').str.replace(',', '').str.replace('.00', '')
SBA['med_hous_inc'] = pd.to_numeric(SBA['med_hous_inc'])
# print(SBA['med_hous_inc'].head(12))

# FL_loans
SBA['FL_loans'] = SBA['FL_loans'].astype(str)
SBA['FL_loans'] = SBA['FL_loans'].str.replace('%', '')
SBA['FL_loans'] = pd.to_numeric(SBA['FL_loans'])
SBA['FL_loans'] = SBA['FL_loans'].astype(float) / 100 
# print(SBA['FL_loans'].head(10))

# FL_loans_2_LI
SBA['FL_loans_2_LI'] = SBA['FL_loans_2_LI'].astype(str)
SBA['FL_loans_2_LI'] = SBA['FL_loans_2_LI'].str.replace('%', '')
SBA['FL_loans_2_LI'] = pd.to_numeric(SBA['FL_loans_2_LI'])
SBA['FL_loans_2_LI'] = SBA['FL_loans_2_LI'].astype(float) / 100 
# print(SBA['FL_loans_2_LI'].head(10))

# asian
SBA['asian'] = SBA['asian'].astype(str)
SBA['asian'] = SBA['asian'].str.replace('%', '')
SBA['asian'] = pd.to_numeric(SBA['asian'])
SBA['asian'] = SBA['asian'].astype(float) / 100 # converting to proportion for regression analysis
# print(SBA['asian'].head(5))

# black
SBA['black'] = SBA['black'].astype(str)
SBA['black'] = SBA['black'].str.replace('%', '')
SBA['black'] = pd.to_numeric(SBA['black'])
SBA['black'] = SBA['black'].astype(float) / 100 # to proportion
# print(SBA['black'].head(5))

# hispan
SBA['hispan'] = SBA['hispan'].astype(str)
SBA['hispan'] = SBA['hispan'].str.replace('%', '')
SBA['hispan'] = pd.to_numeric(SBA['hispan']) 
SBA['hispan'] = SBA['hispan'].astype(float) / 100 # to proportion
# print(SBA['hispan'].head(5))

# white
SBA['white'] = SBA['white'].astype(str)
SBA['white'] = SBA['white'].str.replace('%', '')
SBA['white'] = pd.to_numeric(SBA['white'])
SBA['white'] = SBA['white'].astype(float) / 100 # to proportion
# print(SBA['white'].head(5))

# med_gro_rnt 
SBA['med_gro_rnt'] = SBA['med_gro_rnt'].astype(str)
SBA['med_gro_rnt'] = SBA['med_gro_rnt'].str.replace('$', '')
SBA['med_gro_rnt'] = SBA['med_gro_rnt'].str.replace(',', '')
SBA['med_gro_rnt'] = pd.to_numeric(SBA['med_gro_rnt'])
# print(SBA['med_gro_rnt'].head(5))

# priv_landL_amt
SBA['priv_landL_amt'] = SBA['priv_landL_amt'].astype(str)
SBA['priv_landL_amt'] = SBA['priv_landL_amt'].str.replace('$', '')
SBA['priv_landL_amt'] = SBA['priv_landL_amt'].str.replace(',', '')
SBA['priv_landL_amt'] = pd.to_numeric(SBA['priv_landL_amt'])
# print(SBA['priv_landL_amt'].head(5))

# pov_rate
SBA['pov_rate'] = SBA['pov_rate'].astype(str)
SBA['pov_rate'] = SBA['pov_rate'].str.replace('%', '')
SBA['pov_rate'] = pd.to_numeric(SBA['pov_rate'])
# changing poverty rate to a proportion for regressions
SBA['pov_rate'] = SBA['pov_rate'].astype(float) / 100
print(SBA['pov_rate'].head(5))
SBA['pov_rate']

0    0.442
1    0.358
2    0.364
3    0.364
4    0.329
Name: pov_rate, dtype: float64

0     0.442
1     0.358
2     0.364
3     0.364
4     0.329
5     0.185
6     0.247
7     0.102
8     0.164
9     0.146
10    0.233
11    0.149
12    0.244
13    0.271
14    0.247
15    0.078
16    0.221
17    0.200
18    0.191
19    0.152
20    0.173
21    0.308
22    0.248
23    0.168
24    0.140
25    0.399
26    0.137
27    0.089
28    0.088
29    0.273
30    0.138
31    0.080
32    0.099
33    0.061
34    0.227
35    0.235
36    0.315
37    0.187
38    0.130
39    0.093
40    0.135
41    0.156
42    0.084
43    0.081
44    0.162
45    0.123
46    0.122
47    0.104
48    0.098
49    0.113
50    0.089
51    0.198
52    0.179
53    0.102
54    0.066
Name: pov_rate, dtype: float64

### New variable creation

In [17]:
# creating one housing quality variable from multiple indicators
housing_vars = ['rats', 'r_aches', 'deter']

# standardizing bc they're on diff scales first
housing_standardized = (SBA[housing_vars] - SBA[housing_vars].mean()) / SBA[housing_vars].std()
SBA['housing_quality'] = housing_standardized.mean(axis=1)

# creating inverse rent column
SBA['inv_med_gro_rnt'] = 1 / SBA['med_gro_rnt']
SBA['inv_med_gro_rnt'] = SBA['inv_med_gro_rnt'].astype(float)
# scaling by 1000
SBA['inv_med_gro_rnt'] = SBA['inv_med_gro_rnt'] * 1000
SBA['inv_med_gro_rnt'].head(5)

# # creating grouped age - UNNECESSARY- ALL BETWEEN 18 & 65
# SBA['avg_age_grouped'] = ['C' if age < 18 else 'W' if age < 65 else 'E' for age in SBA['avg_age']]
# SBA['avg_age_grouped'].head(5)
# print(f"Min age: {SBA['avg_age'].min()}")
# print(f"Max age: {SBA['avg_age'].max()}") # there are no ages outside Working class age

0    0.833333
1    0.781250
2    0.714286
3    0.689655
4    0.641026
Name: inv_med_gro_rnt, dtype: float64

In [18]:
# Neighboring SBA med_hous_inc (avg)

# dictionary defining individual neighbors 
neighbors = {
    '101': ['103','102','107'],
    '102': ['101','103','104','105','107','109'],
    '103': ['101','102','104'],
    '104': ['103','102','105'],
    '105': ['106','110','102','104'],
    '106': ['110','105','310'], 
    '107': ['101','102','108','109'],
    '108': ['107','109','110'],
    '109': ['102','107','108','110'],
    '110': ['105','106','108','109'],
    '201': ['402','202','203','204'], # included border between greenpoint & LIC (sba = sunnyside/woodside)
    '202': ['201','203','208','206'],
    '203': ['201','202','204','208','216'],
    '204': ['201','203','216','405'], # included border between bushwick & ridgewood
    '205': ['218','216','405','409','410'],
    '206': ['202','208','209','207'],
    '207': ['206','212','210'],
    '208': ['202','203','216','209','206'],
    '209': ['206','208','217'],
    '210': ['207','212','211'],
    '211': ['210','212','215','213'],
    '212': ['207','210','211','214'],
    '213': ['215','211'],
    '214': ['212','217','218','215'],
    '215': ['213','211','212','214','218'],
    '216': ['217','208','203','204','205'],
    '217': ['214','209','216','218'],
    '218': ['215','214','217','205'],
    '301': ['302','303','304'],
    '302': ['301','303','304'],
    '303': ['301','304','305'],
    '304': ['302','303','306'],
    '305': ['303','306','309','307','308'],
    '306': ['303','304','305','309'],
    '307': ['305','308','310'],
    '308': ['305','307','309'],
    '309': ['305','306','308'],
    '310': ['307','104','106'], # included border between inwood, university heights, & kingsbridge
    '401': ['402','403'],
    '402': ['401','403','405','201'], 
    '403': ['401','402','404'],
    '404': ['403','406','407','408'],
    '405': ['204','402','406','205','409'], 
    '406': ['405','404','409'],
    '407': ['411','408','404'],
    '408': ['407','411','412','404','409'],
    '409': ['410','205','405','406','408','412'],
    '410': ['205','409','412'],
    '411': ['407','408','413'],
    '412': ['410','408','413'],
    '413': ['411','412','410'],
    '414': ['218','205','410','413'], # included border between rockaways & canarsie/flatlands
    '501': ['502'],
    '502': ['501','503'],
    '503': ['502']
}

# converting to integers so i can use it below
neighbors_int = {}

for key, value_list in neighbors.items():
    neighbors_int[int(key)] = [int(x) for x in value_list]

# dictionary for surrounding incomes
surrounding_incomes = {
    sba: SBA[SBA['SBA'].isin(neighbors_int[sba])]['med_hous_inc'].mean() # average med_hous_inc of surrounding sbas
    for sba in SBA['SBA']
}

# mapping directly
SBA['avg_surrounding_med_inc'] = SBA['SBA'].map(surrounding_incomes)
SBA['avg_surrounding_med_inc'].head(13)

0      40193.333333
1      42608.333333
2      31990.000000
3      38263.333333
4      52555.000000
5      62440.000000
6      48065.000000
7      60900.000000
8      57337.500000
9      61257.500000
10     81677.500000
11    100637.500000
12     74726.000000
Name: avg_surrounding_med_inc, dtype: float64

In [19]:
# race as a categorical variable so i dont have to use as many in the regressions
race_ethnicity_columns = ['black', 'white', 'hispan', 'asian']

# which racial/ethnicity is the highest in each SBA
SBA['raceth_group'] = SBA[race_ethnicity_columns].idxmax(axis=1) # max of each group

SBA['raceth_group'] = SBA['raceth_group'].map({
    'black': 'Black',
    'white': 'White', 
    'hispan': 'Hispanic',
    'asian': 'Asian'
})

# converting 2 categorical for regressions
SBA['raceth_group'] = pd.Categorical(SBA['raceth_group'])
SBA['raceth_group']

0     Hispanic
1     Hispanic
2     Hispanic
3     Hispanic
4     Hispanic
5     Hispanic
6     Hispanic
7     Hispanic
8     Hispanic
9        Black
10       White
11       White
12       Black
13    Hispanic
14       Black
15       White
16    Hispanic
17       Black
18       Black
19       White
20       White
21       White
22       White
23       White
24       White
25       Black
26       Black
27       Black
28       White
29       Asian
30       White
31       White
32       White
33       White
34    Hispanic
35       Black
36    Hispanic
37    Hispanic
38       White
39       Asian
40    Hispanic
41    Hispanic
42       White
43       White
44       Asian
45       Asian
46    Hispanic
47       Asian
48       Asian
49       Black
50       Black
51       Black
52       White
53       White
54       White
Name: raceth_group, dtype: category
Categories (4, object): ['Asian', 'Black', 'Hispanic', 'White']

### Creating indexes

In [20]:
# Community Resilience Index

sb = SBA.copy()

# creating necessary variables - inverted displacement (displacement resistance measure)
sb['displ_resist'] = 1 - sb['displaced']

vars = ['displ_resist','howner','med_length_res','immigrant','Dayc_per_1kppl','MDprog_per_1kppl','relig_per_1kppl']

# percentile ranks 
# normalizing (percentiles)
for var in vars:
    if var in sb.columns:
        sb[var + '_normalized'] = sb[var].rank(pct=True) * 100

# weights
weights = {
    'howner_normalized':0.20,
    'med_length_res_normalized':0.20,
    'immigrant_normalized':0.15,
    'displ_resist_normalized':0.15,
    'Dayc_per_1kppl_normalized':0.10,
    'MDprog_per_1kppl_normalized':0.10,
    'relig_per_1kppl_normalized':0.10
}

# calculating index
SBA['resilience_index'] = (
    sb['howner_normalized'] * weights['howner_normalized'] +
    sb['med_length_res_normalized'] * weights['med_length_res_normalized'] +
    sb['immigrant_normalized'] * weights['immigrant_normalized'] +
    sb['displ_resist_normalized'] * weights['displ_resist_normalized'] +
    sb['Dayc_per_1kppl_normalized'] * weights['Dayc_per_1kppl_normalized'] +
    sb['MDprog_per_1kppl_normalized'] * weights['MDprog_per_1kppl_normalized'] +
    sb['relig_per_1kppl_normalized'] * weights['relig_per_1kppl_normalized']
)

# scaling 0-100
SBA['resilience_index'] = SBA['resilience_index'].rank(pct=True) * 100
SBA['resilience_index'].describe()

count     55.000000
mean      50.909091
std       29.127712
min        1.818182
25%       26.363636
50%       50.909091
75%       75.454545
max      100.000000
Name: resilience_index, dtype: float64

In [21]:
# Family Index

family_data = SBA[['Dayc_per_1kppl', 'I/Fserv_per_1kppl', 'C/Yserv_per_1kppl']].copy()

# normalizing (percentiles)
family_percentiles = family_data.rank(pct = True) * 100

# averaging 
SBA['family_index'] = family_percentiles.mean(axis = 1)
print(SBA['family_index'].describe())

count    55.000000
mean     50.909091
std      23.504047
min       3.333333
25%      33.787879
50%      51.515152
75%      70.606061
max      92.121212
Name: family_index, dtype: float64

In [22]:
# Amenities
necessary = SBA[['dollars_per_1kppl', 'convenience_per_1kppl', 'laundry_per_1kppl', 'post_per_1kppl', 'Ustor_per_1kppl', 'H/Gstor_per_1kppl']].copy()
unnecessary = SBA[['Members_per_1kppl', 'Arts/E_per_1kppl', 'Hotels_per_1kppl', 'R/Pcent_per_1kppl']].copy()

# normalizing (percentiles)
# necessary
necessary_percentiles = necessary.rank(pct = True) * 100
# unnecessary
unnecessary_percentiles = unnecessary.rank(pct = True) * 100

# averaging 
SBA['necessary_amenities_index'] = necessary_percentiles.mean(axis = 1)
SBA['unnecessary_amenities_index'] = unnecessary_percentiles.mean(axis = 1)

# calculating ratio
SBA['amenity_ratio'] = (SBA['unnecessary_amenities_index'] / SBA['necessary_amenities_index'])

In [23]:
print(SBA['necessary_amenities_index'].describe())
print(SBA['unnecessary_amenities_index'].describe())
print(SBA['amenity_ratio'].describe())

count    55.000000
mean     50.909091
std      14.506354
min      20.909091
25%      39.848485
50%      49.696970
75%      61.060606
max      82.727273
Name: necessary_amenities_index, dtype: float64
count     55.000000
mean      50.909091
std       24.748815
min        5.000000
25%       35.227273
50%       44.090909
75%       67.500000
max      100.000000
Name: unnecessary_amenities_index, dtype: float64
count    55.000000
mean      1.066091
std       0.610026
min       0.095930
25%       0.702235
50%       0.972527
75%       1.295671
max       3.195652
Name: amenity_ratio, dtype: float64

In [24]:
# Rent gap index (also weighted)

sba = SBA.copy()

# creating necessary variables
sba['not_sound'] = 1 - sba['sound']
sba['condocoop'] = sba['condo'] + sba['coop']
sba['decay'] = sba['deter'] + sba['not_sound']
# adding to SBA
SBA['condocoop'] = sba['condocoop']
SBA['decay'] = sba['decay'] 
SBA['not_sound'] = 1 - sba['sound']

variables = ['avg_surrounding_med_inc', 'Share_Priv_Rec', 'MTAStops_per_sqm', 'Wavg_download_sp', 'condocoop', 'vac_rt', 'decay','med_gro_rnt']

# normalizing (percentiles)
for var in variables:
    if var in sba.columns:
        sba[var + '_normalized'] = sba[var].rank(pct=True) * 100

# POTENTIAL RENT proxy (high proxy = high potential)
potential_rent_proxy = (
    0.30 * sba['avg_surrounding_med_inc_normalized'] + 
    0.25 * sba['Share_Priv_Rec_normalized'] +
    0.20 * sba['MTAStops_per_sqm_normalized'] +
    0.15 * sba['Wavg_download_sp_normalized'] +
    0.10 * sba['condocoop_normalized']
)

# CURRENT GROUND RENT
current_ground_rent = sba['med_gro_rnt_normalized']

# DEVALUATION FACTORS (vars that further supress current ground rent)
devaluation = (
    0.50 * sba['decay_normalized'] +
    0.50 * sba['vac_rt_normalized'] 
)

# CURRENT GROUND RENT ADJUSTED FOR DEVALUATION
cgr_proxy_adjusted = current_ground_rent * (1 - devaluation / 100) # adding devaluation as a discount factor

# final rent gap index calculation
sba['rent_gap_index'] = potential_rent_proxy - cgr_proxy_adjusted

# in percentiles
SBA['rent_gap_index'] = sba['rent_gap_index'].rank(pct=True) * 100
print(SBA['rent_gap_index'].describe())

count     55.000000
mean      50.909091
std       29.128763
min        1.818182
25%       26.363636
50%       50.909091
75%       75.454545
max      100.000000
Name: rent_gap_index, dtype: float64

In [25]:
# Displacement pressure index

displacement_data = SBA[['rent_burd', 'pov_rate', 'decay', 'mort_forc']]

# normalizing (percentiles)
displacement_percentiles = displacement_data.rank(pct = True) * 100

# averaging 
SBA['displ_pressure_index'] = displacement_percentiles.mean(axis = 1)
print(SBA['displ_pressure_index'].describe())

count    55.000000
mean     50.909091
std      16.371117
min      12.272727
25%      42.045455
50%      52.272727
75%      60.681818
max      82.954545
Name: displ_pressure_index, dtype: float64

In [26]:
# Checking index ranges
print("Index ranges:")
for index in ['resilience_index', 'necessary_amenities_index', 'unnecessary_amenities_index', 
              'rent_gap_index', 'displ_pressure_index']:
    if index in SBA.columns:
        print(f"{index}: {SBA[index].min()} to {SBA[index].max()}")

Index ranges:
resilience_index: 1.8181818181818181 to 100.0
necessary_amenities_index: 20.909090909090907 to 82.72727272727273
unnecessary_amenities_index: 4.999999999999999 to 100.0
rent_gap_index: 1.8181818181818181 to 100.0
displ_pressure_index: 12.272727272727273 to 82.95454545454545

In [27]:
# # Flag for gentrified SBAs - done in r

# # considered gentrified area if it is in the 75th or higher percentiles
# rent_gap_cutoff = SBA['rent_gap_index'].quantile(0.75) # if has a rent gap high enough to be within the 75th or higher percentile 

# SBA['gentr_flag'] = (SBA['rent_gap_index'] >= rent_gap_cutoff).astype(int)
# SBA['gentr_flag'].unique()

# # running dummy for RD causal inference
# SBA['distance_to_cutoff'] = SBA['rent_gap_index'] - rent_gap_cutoff

In [28]:
# Exporting
SBA = SBA.to_csv('/Users/isabellagermani/Desktop/MS THSS/data/SBA.csv')