NYCHVS

In [1]:
import pandas as pd
import numpy as np
import urllib
import os

In [2]:
os.chdir('/Users/isabellagermani/Desktop/MS THSS/data')

In [3]:
# saving to thesis folder
path = '/Users/isabellagermani/Desktop/MS THSS/data'

# occupied units file
url_occ = 'https://www.nyc.gov/assets/hpd/downloads/misc/research/occupied_puf_17.txt'
# vacant units file
url_vac = 'https://www.nyc.gov/assets/hpd/downloads/misc/research/vacant_puf_17.txt'
# person file
url_person = 'https://www.nyc.gov/assets/hpd/downloads/misc/research/person_puf_17.txt'

filename_occ = 'nychvs17occupied.txt'
filename_vac = 'nychvs17vacant.txt'
filename_person = 'nychvs17person.txt'

urllib.request.urlretrieve(url_occ, filename_occ)
urllib.request.urlretrieve(url_vac, filename_vac)
urllib.request.urlretrieve(url_person, filename_person)

('nychvs17person.txt', <http.client.HTTPMessage at 0x11ef104d0>)

In [4]:
# working with occupied
col_locations = [
    (0,1), # record type (occupancy status)
    (1,2), # borough: 1=Bronx, 2=Brooklyn, 3=Manhattan, 4=Queens, 5=Staten Island
    (525,527), # Sub-borough Area !
    (25,26), # building condition: 1=Dilapidated, 2=Sound, 3=Deteriorating, 8=Not reported
    (33,35), # householder age
    (35,36), # hispanic: 1=No, 2=Puerto Rican, 3=Dominican, 4=Cuban, 5=South/Central American, 6=Mexican/Mexican-American/Chicano, 7=Other Spanish/Hispanic
    (36,38), # race: 1=White, 2=Black/African American, 3=American Indian/Alaska Native, 4=Chinese, 5=Filipino, 6=Korean, 7=Asian/Indian/Pakistani/Bangladeshi, 8=Other Asian, 9=Native Hawaiian/Pacific Islander, 10=2 or More Races/Other Race 
    (65,69), # Year Householder Moved Into Unit
    (70,72), # Reason for move: 1=Change in employment status, 2=Looking for work, 3=Commuting reasons, 4=To attend school, 5=Other financial/employment reason, 6=Needed larger house or apartment 7=Widowed, separated/divorced, or family decreased, 8=Newly married, 9=Moved to be with or closer to relatives, 10=Wanted to establish separate household, 11=Other family reason, 12=Wanted this neighborhood/better neighborhood services, 13=Other neighborhood reason, 14=Wanted to own residence, 15=Wanted to rent residence, 16=Wanted greater housing affordability, 17=Wanted better quality housing, 18=Evicted, displaced, or harassment by landlord (self report), 19=Other housing reason, 20=Any other reason, 98=Not reported, 99=Not applicable (moved in 2013 or earlier)
    (78,79), # Condo/Coop Status: 1=No, 2=condominium, 3=cooperative, 4=Don't know
    (79,80), # Tenure: 1=Owned or being bought, 9=N/A(renter occupied)
    (236,237), # presence of rats
    (237,238), # number of r*aches
    (270,271), # My Apartment (House) is Affordable to Me: 1=Strongly agree, 2=Agree, 3=Neither agree nor disagree, 4=Disagree, 5=Strongly disagree, 8=Not reported 
    (273,274), # Immigrant: 1=Yes, 2=No, 8=Not reported, 9=N/A (Born in US)
    (444,449), # Monthly Gross Rent: 00001=Dollar amount, 05995=$5,995 (topcode amount), 07292=Mean amount above topcode, 99999=Not applicable (occupied rent free or owner occupied)
    (458,465), # Total Household Income Recode: -000001 to -999999=Income loss (dollar amount), 9999996=$9,999,996, 9999997=$9,999,997 or more, 9999999=No income
    (527,531), # Monthly Gross Rent as a % of Household Income: 0000=Not computed (income loss; gross rent > 5995; any household total income includes topcoded values, or no income), 0005=0.5 percent, 0010=1 Percent, 1000=100 percent, 1010=101 percent or more, 9999=Not applicable (owner occupied or occupied rent free)
    (245,246), # Reciept of public assistance or wellfare payments
    (258,259), # general health
    (439,441), # number of persons in household
    (32,33) # householder gender
]

col_names = [
    'Occupancy',
    'Borough', 
    'Sub-Borough Area',
    'Building Condition',
    'Age',
    'Hispanic',
    'Race',
    'Year moved In',
    'Reason for Move',
    'Condo/Coop',
    'Tenure',
    'Rats',
    'R*aches',
    'Affordability',
    'Immigrant',
    'Monthly Gross Rent',
    'Total Household Income',
    'Rent % Income',
    'Welfare',
    'General Health',
    'Number of persons in household',
    'Gender'
]

occupied = pd.read_fwf('/Users/isabellagermani/Desktop/MS THSS/data/nychvs17occupied.txt', colspecs=col_locations, header=None, names=col_names)
occupied.head(5)

,Occupancy,Borough,Sub-Borough Area,Building Condition,Age,Hispanic,Race,Year moved In,Reason for Move,Condo/Coop,...,R*aches,Affordability,Immigrant,Monthly Gross Rent,Total Household Income,Rent % Income,Welfare,General Health,Number of persons in household,Gender
0,1,1,1,2,65,4,2,1995,99,2,...,1,2,9,99999,95000,9999,2,3,2,2
1,1,1,1,2,41,2,1,2015,14,1,...,1,3,9,1227,21372,0,1,5,4,2
2,1,1,1,2,48,5,2,2012,99,1,...,2,5,1,1675,33000,609,2,1,3,2
3,1,1,1,2,55,5,1,1995,99,3,...,1,2,1,1011,39655,0,1,5,2,2
4,1,1,1,2,63,5,1,1996,99,3,...,1,1,1,99999,45952,9999,2,4,2,2

In [5]:
# checking each created column for values
print(f'Occupancy',occupied['Occupancy'].unique())
print(f'Borough',occupied['Borough'].unique())
print(f'Sub-Borough Area',occupied['Sub-Borough Area'].unique())
print(f'Building Condition',occupied['Building Condition'].unique())
print(f'Age',occupied['Age'].unique())
print(f'Hispanic',occupied['Hispanic'].unique())
print(f'Race',occupied['Race'].unique())
print(f'Year Moved In',occupied['Year moved In'].unique())
print(f'Reason for Move',occupied['Reason for Move'].unique())
print(f'Condo/Coop',occupied['Condo/Coop'].unique())
print(f'Tenure',occupied['Tenure'].unique())
print(f'Rats',occupied['Rats'].unique())
print(f'R*aches',occupied['R*aches'].unique())
print(f'Affordability',occupied['Affordability'].unique())
print(f'Immigrant',occupied['Immigrant'].unique())
print(f'Monthly Gross Rent',occupied['Monthly Gross Rent'].unique())
print(f'Total Household Income',occupied['Total Household Income'].unique())
print(f'Rent % Income',occupied['Rent % Income'].unique())
print(f'Welfare',occupied['Welfare'].unique())

Occupancy [1]
Borough [1 2 3 4 5]
Sub-Borough Area [ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18]
Building Condition [2 1 3 8]
Age [65 41 48 55 63 51 76 29 75 53 72 42 54 37 32 40 85 22 73 67 36 46 56 31
 50 52 64 43 71 47 58 44 38 77 35 60 30 57 80 59 70 79 24 66 68 78 45 49
 81 62 28 69 74 82 83 34 33 26 20 27 25 19 84 39 23 61 18 21 17 16]
Hispanic [4 2 5 1 7 3 6]
Race [ 2  1  9  3 10  8  4  7  5  6]
Year Moved In [1995 2015 2012 1996 1974 2014 1993 2016 2010 2001 2017 2011 2007 2002
 2013 2005 1984 2009 2000 1988 1991 1992 1976 1994 1998 1975 2006 1999
 1997 2004 1969 1964 2008 1962 1989 1980 1965 1979 1990 1973 1970 2003
 1983 1987 1978 1982 1963 1977 1985 1968 1972 1986 1981 1967 1958 1966
 1960 1959 1956 1971 1957 1955 1961]
Reason for Move [99 14 98 17  6 11 19  7 10 13 16  2  8 20 18  9  5 12  1 15  4  3]
Condo/Coop [2 1 3 4]
Tenure [1 9]
Rats [2 1 8]
R*aches [1 2 4 3 8 5]
Affordability [2 3 5 1 4 8]
Immigrant [9 1 8 2]
Monthly Gross Rent [99999  1227  1675 ...   874  1693  1671]
Total Household Income [ 95000  21372  33000 ... 195400 179330  17126]
Rent % Income [9999    0  609  754  375  340  600 1010  384  391  366  392  437  198
  386  280  647  745  605  409  677  896  103  122   85  650  786  539
  289  227  160  477  240  287  460  232  323  378  326  120  492  390
  588  273  229  510  194  520  183  422  209  970  950  485  697  327
  799   82  332  425  445   60  486  141  319  439  163  254  368  258
  660  253  345  271  214  433  457  199  252  272  250  152  157  303
  714  800  147  188  179  706  918  533  205  162  324  696  551  998
  601  363  350  202  846  217  328  531  100  297  307  338  114  867
  534  168   44  556  362  128  213  810  440  325  335  638  515  231
  159  398  238  288  861  436  857  620  772   81   57  508  295  339
  740  251  573  248  242  245  321  219  145  156  415  927  667  370
  341  400  421  518  148  333  626  264  444  403  224  576  419  711
  480  795  329   80  186  410  432  318  991  784  598  146  731  631
   90  189  336  225  780  424 1004  898  523  931  281  269  164  482
  456  355  358  125  278  124  755  116  579  417  285  543  729  171
  364   94  293  827  717  429  330  484  915  805  196  149  237  236
   71  404  136  170  241  150  348  526  235  449  474   55  352  893
  493  294  453  490  133  381  712  897  488  263  524  735  137  299
  284  801  175  469  347  892  244  494  413  376  389  544  757   64
  561  808  661  185  405  360  401  379  684  676  322  904  210  875
  748  817  228  406  694  377  578 1007  113   61  274  914  174  372
  354  121  430  621  581  496  442  257  117  550  726  309  176  585
  369  471  127  191  207   33  727  234  478  158  262  636  184  255
  933  470  131  211  984  373  464   79  277  367  407  658  463  545
  306  344  802  308  317  380  880  349  247  357  266  292  734  396
  426  913  314  572  246  167  749  703  313  226  521  595   89  479
  144  571  528  438  138  385  239  296  814  590  577  975  905  565
  683  320  337  467  190  825  472  644  451  166  283  215  874  728
  222  115  768   78  249  118  744  221  434  641  165  871  678  742
  516  646   65  187  532  584  286  519  604  365  180  173  643  537
  290  129  441  142  739  208  268  798  416  899  781  982  450  634
  505  593  882  218  310  836  315  883  943  783  773  930  204  564
  818  151  203  996  504  134  371  462  592  838  723  813  220  302
  549  126  618 1001  443  261  645  876  259  282  427  909  200  665
  193  305  267  965  394  741  177  195  580   73 1008  629  435  414
  316  334  192  346  135  554  153  172  546  130  716  397  840  260
  223   11  671  105  540  980  111  448  298   48  615  420  343  535
  769   83  999  112  673  291  169  300  256  402  143  311  276  108
  465  753  517   96  233  640  690  870  243  873  206  230  542  458
  902  374  418  408  548  383  547  662  301  139   74  765  774  393
  863  500  382  155  720  586  811  351  461  705  161  102  946  606
  513  688  890  447  750  767  692  395 1000  764  487  353  664  275
  611  771  270  715  562  423  886  633  107  900  181  503  109  506
   93  342  104  624   76  552   98  954  201  530  466  212   88   30
   58   66  849  553  971  110  752  265  123  178  862  625   24  497
   28  459  119  507  536  985  197  304  657  952  514   47  619  182
   84  737  101   86   42   92  792   29  452  884  558   38  596  216
  779  885  942  538   59  820  687  582  732  511  743  411  428  962
   87  589  359  858  591  670  758   45  974   72   56  939  356  794
  922  140  569   46  566  960  724  399  762  916  682  132  446 1005
  639  557  279  361   91  509  938  541  833  672  860  710  498  468
   36   75  925   77  821  968   51  700  603  804  583  312  666  560
  617  491  959  990  701  388  843  522  956  587  679  331  563  704
  154  889  431   53  951  481  693  501 1006   99  675  623  852  822
  574  622   95  614  106  483  489  555  695   50   68  940  994  828
   63  685  632  854  713  907  989  525  387  686  869  978  763  612
  655  911  917  412  844  668  702  707   37  812  721  476  607  599
  567  602  635  680  610  689  568  559  475  847  855  785  656  594
  841  627  709  759  986  830   23  725  963  722  575  649  628  878
  983   67  454  961  967  529  824  997  663  782  924  613  891  708
  499  651  455  778  733  920  766  796  853  888  966  887  730  698
  926   39  842  845  512  797  921  527  866   70  945  608  948  976
   17  736  901   34  775  923  495  823  815   97   52  929 1002  597
   40   69  669  819  859  637  807  953  809  788  659  972  502  776
  790  988   54  654  864   49  903  957  699  987  674  879   16  906
  642   32  777  719   19   41  912  761  791  993  746  826  935  789
  941  691  850  630  973  964  877  969  947  803  718  616  837  681
  910  653  738  868  816   62  949  919  648  652    9  937  908]
Welfare [2 1]

In [6]:
# working with vacant
col_locations = [
    (0,1), # record type (occupancy status)
    (1,2), # borough: 1=Bronx, 2=Brooklyn, 3=Manhattan, 4=Queens, 5=Staten Island
    (80,82), # Sub-borough Area !
    (25,26), # building condition: 1=Dilapidated, 2=Sound, 3=Deteriorating, 8=Not reported
    (49,50), # Condo/Coop Status: 1=No, 2=condominium, 3=cooperative, 4=Don't know
    (54,56) # Reason Vacant: 01=Rented but not yet occupied OR Sold but not yet occupied, 02=Unit or building undergoing renovation, 03=Unit or building awaiting renovation, 04=Being converted to nonresidential purposes/ legal dispute/ or/ awaiting conversion to condominium/coop, 05=Held for occasional/ seasonal/ or recreational use, 06=owner cannot rent or sell at this time due to personal problems (e.g. age or illness)/ held pending sale of building/ or held for planned demolition, 07=Held for other reasons, 98=Not reported, 99=Not applicable (available for rent or available for sale only)
]

col_names = [
    'Occupancy',
    'Borough', 
    'Sub-Borough Area',
    'Building Condition',
    'Condo/Coop',
    'Reason Vacant'
]

vacant = pd.read_fwf('/Users/isabellagermani/Desktop/MS THSS/data/nychvs17vacant.txt', colspecs=col_locations, header=None, names=col_names)
vacant.head(5)

,Occupancy,Borough,Sub-Borough Area,Building Condition,Condo/Coop,Reason Vacant
0,3,1,1,3,1,6
1,3,1,1,2,1,2
2,3,1,1,2,1,3
3,3,1,1,2,1,3
4,3,1,1,2,1,3

In [7]:
# checking each created column for values
print(f'Occupancy',vacant['Occupancy'].unique())
print(f'Borough',vacant['Borough'].unique())
print(f'Sub-Borough Area',vacant['Sub-Borough Area'].unique())
print(f'Building Condition',vacant['Building Condition'].unique())
print(f'Condo/Coop',vacant['Condo/Coop'].unique())
print(f'Reason Vacant',vacant['Reason Vacant'].unique())

Occupancy [3]
Borough [1 2 3 4 5]
Sub-Borough Area [ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18]
Building Condition [3 2 8 1]
Condo/Coop [1 2 8 3 4]
Reason Vacant [ 6  2  3  4 99  5  1  7 98]

In [8]:
# working with person
col_locations = [
    (0,1), # record type (2 = PERSON)
    (1,2), # borough: 1=Bronx, 2=Brooklyn, 3=Manhattan, 4=Queens, 5=Staten Island
    (151,153), # Sub-borough Area !
    (2,4), # person number in household (1-14)
    (38,39), # "Person from Temporary Residence" (individuals who have moved into their current residence from a homeless situation within the past five years) 0=Yes, but no person indicated, 1=Yes, 2=No, 8=Temporary residence status not reported
    (47,48) # Major Industry Type (1=Manufacturing, 2=Wholesale trade, 3=Retail trade, 4=Other (service, construction, government, etc.), 9=Not applicable (code 4 or 5 in item 44 or under 15 years old))
]

col_names = [
    'Person',
    'Borough', 
    'Sub-Borough Area',
    'Person number in household',
    'Moving from homeless',
    'Major industry type'
]

person = pd.read_fwf('https://www.nyc.gov/assets/hpd/downloads/misc/research/person_puf_17.txt', colspecs=col_locations, header=None, names=col_names)
person.head(5)

,Person,Borough,Sub-Borough Area,Person number in household,Moving from homeless,Major industry type
0,2,1,1,1,2,9
1,2,1,1,2,2,4
2,2,1,1,1,2,9
3,2,1,1,2,2,9
4,2,1,1,3,2,9

In [9]:
# checking each created column for values
print(f'Person',person['Person'].unique())
print(f'Borough',person['Borough'].unique())
print(f'Sub-Borough Area',person['Sub-Borough Area'].unique())
print(f'Person number in household',person['Person number in household'].unique())
print(f'Moving from homeless',person['Moving from homeless'].unique())
print(f'Major industry type',person['Major industry type'].unique())

Person [2]
Borough [1 2 3 4 5]
Sub-Borough Area [ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18]
Person number in household [ 1  2  3  4  5  6  7  8  9 10 11 12 13 14]
Moving from homeless [2 1 0 8]
Major industry type [9 4 1 3 2]

In [10]:
# Creating SBA columns to match both datasets on 
# for occupied
occupied['SBA'] = occupied['Borough'].astype(str) + occupied['Sub-Borough Area'].astype(str)
# print('Occ SBA: ', occupied['SBA'].unique())
# for vacant
vacant['SBA'] = vacant['Borough'].astype(str) + vacant['Sub-Borough Area'].astype(str)
# print('Vac SBA: ', vacant['SBA'].unique())
# for person
person['SBA'] = person['Borough'].astype(str) + person['Sub-Borough Area'].astype(str)
#print('Person SBA: ', person['SBA'].unique())

# for obs with 2 values, add a 0 in between
# occupied
occupied['SBA'] = np.where(occupied['SBA'].str.len() == 2, 
                           occupied['SBA'].str[0] + '0' + occupied['SBA'].str[1],
                           occupied['SBA']
)
# print('Occ SBA: ', occupied['SBA'].unique())

# vacant
vacant['SBA'] = np.where(vacant['SBA'].str.len() == 2,
                        vacant['SBA'].str[0] + '0' + vacant['SBA'].str[1],
                        vacant['SBA']
)
# print('Vac SBA: ', vacant['SBA'].unique())

# person
person['SBA'] = np.where(person['SBA'].str.len() == 2,
                        person['SBA'].str[0] + '0' + person['SBA'].str[1],
                        person['SBA']
)
# print('Person SBA: ', person['SBA'].unique())
print(person['SBA'])

0        101
1        101
2        101
3        101
4        101
        ...
32050    503
32051    503
32052    503
32053    503
32054    503
Name: SBA, Length: 32055, dtype: object

In [11]:
# moving SBA to the front bc why not
# occupied
ocol = occupied.pop('SBA')
occupied.insert(0, 'SBA', ocol)
occupied

# vacant
vcol = vacant.pop('SBA')
vacant.insert(0, 'SBA', vcol)
vacant

# person
pcol = person.pop('SBA')
person.insert(0, 'SBA', pcol)
person

,SBA,Person,Borough,Sub-Borough Area,Person number in household,Moving from homeless,Major industry type
0,101,2,1,1,1,2,9
1,101,2,1,1,2,2,4
2,101,2,1,1,1,2,9
3,101,2,1,1,2,2,9
4,101,2,1,1,3,2,9
...,...,...,...,...,...,...,...
32050,503,2,5,3,1,2,9
32051,503,2,5,3,2,2,9
32052,503,2,5,3,3,2,4
32053,503,2,5,3,1,2,4
32054,503,2,5,3,1,2,9

In [12]:
# dropping unnecessary Borough / Sub-Borough Area cols bc now i have SBA
# Borough
occupied.drop(axis = 1, columns = 'Borough', inplace = True)
vacant.drop(axis = 1, columns = 'Borough', inplace = True)
person.drop(axis = 1, columns = 'Borough', inplace = True)
# Sub-Borough Area
occupied.drop(axis = 1, columns = 'Sub-Borough Area', inplace = True)
vacant.drop(axis = 1, columns = 'Sub-Borough Area', inplace = True)
person.drop(axis = 1, columns = 'Sub-Borough Area', inplace = True)

In [13]:
occupied

,SBA,Occupancy,Building Condition,Age,Hispanic,Race,Year moved In,Reason for Move,Condo/Coop,Tenure,...,R*aches,Affordability,Immigrant,Monthly Gross Rent,Total Household Income,Rent % Income,Welfare,General Health,Number of persons in household,Gender
0,101,1,2,65,4,2,1995,99,2,1,...,1,2,9,99999,95000,9999,2,3,2,2
1,101,1,2,41,2,1,2015,14,1,9,...,1,3,9,1227,21372,0,1,5,4,2
2,101,1,2,48,5,2,2012,99,1,9,...,2,5,1,1675,33000,609,2,1,3,2
3,101,1,2,55,5,1,1995,99,3,9,...,1,2,1,1011,39655,0,1,5,2,2
4,101,1,2,63,5,1,1996,99,3,1,...,1,1,1,99999,45952,9999,2,4,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13261,502,1,3,73,1,1,1960,99,1,9,...,1,2,9,495,24636,241,2,1,2,2
13262,503,1,2,47,1,1,1993,99,1,1,...,1,1,9,99999,17800,9999,2,3,1,1
13263,503,1,2,57,1,1,1987,99,1,1,...,5,8,9,99999,42000,9999,2,8,3,1
13264,503,1,3,72,1,1,1983,99,1,9,...,1,1,9,1028,34400,359,2,1,1,2
13265,503,1,2,82,1,1,1969,99,1,9,...,1,1,9,340,17126,238,1,4,1,2

In [14]:
vacant

      SBA  Occupancy  Building Condition  Condo/Coop  Reason Vacant
0     101          3                   3           1              6
1     101          3                   2           1              2
2     101          3                   2           1              3
3     101          3                   2           1              3
4     101          3                   2           1              3
...   ...        ...                 ...         ...            ...
1864  502          3                   1           1              6
1865  502          3                   2           1              7
1866  501          3                   2           1             99
1867  501          3                   2           1             99
1868  502          3                   2           1              3

[1869 rows x 5 columns]

In [15]:
person

,SBA,Person,Person number in household,Moving from homeless,Major industry type
0,101,2,1,2,9
1,101,2,2,2,4
2,101,2,1,2,9
3,101,2,2,2,9
4,101,2,3,2,9
...,...,...,...,...,...
32050,503,2,1,2,9
32051,503,2,2,2,9
32052,503,2,3,2,4
32053,503,2,1,2,4
32054,503,2,1,2,9

In [16]:
# merging occupied & vacant together to get full NYCHVS dataset
NYCHVS2017 = pd.concat([occupied,vacant], axis = 0, join = 'outer', ignore_index=True)
NYCHVS2017

# sorting by SBA
NYCHVS2017.sort_values(by = ['SBA'], inplace = True)
NYCHVS2017

,SBA,Occupancy,Building Condition,Age,Hispanic,Race,Year moved In,Reason for Move,Condo/Coop,Tenure,...,Affordability,Immigrant,Monthly Gross Rent,Total Household Income,Rent % Income,Welfare,General Health,Number of persons in household,Gender,Reason Vacant
0,101,1,2,65.0,4.0,2.0,1995.0,99.0,2,1.0,...,2.0,9.0,99999.0,95000.0,9999.0,2.0,3.0,2.0,2.0,NaN
154,101,1,8,49.0,7.0,1.0,2013.0,99.0,1,9.0,...,4.0,9.0,400.0,6000.0,800.0,1.0,3.0,1.0,2.0,NaN
155,101,1,2,65.0,3.0,1.0,2008.0,99.0,1,9.0,...,2.0,1.0,356.0,5052.0,846.0,2.0,3.0,2.0,2.0,NaN
156,101,1,2,53.0,1.0,2.0,1992.0,99.0,1,9.0,...,4.0,9.0,1375.0,76000.0,217.0,2.0,3.0,2.0,2.0,NaN
157,101,1,2,46.0,3.0,1.0,2005.0,99.0,1,9.0,...,2.0,1.0,546.0,20000.0,328.0,1.0,2.0,3.0,2.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13086,503,1,2,56.0,1.0,1.0,1989.0,99.0,1,1.0,...,4.0,9.0,99999.0,190000.0,9999.0,2.0,1.0,5.0,2.0,NaN
13085,503,1,2,55.0,1.0,1.0,1997.0,99.0,1,1.0,...,3.0,9.0,99999.0,140600.0,9999.0,2.0,3.0,4.0,2.0,NaN
13084,503,1,2,50.0,1.0,1.0,2000.0,99.0,1,1.0,...,2.0,9.0,99999.0,105000.0,9999.0,2.0,1.0,4.0,2.0,NaN
13090,503,1,2,64.0,1.0,1.0,1994.0,99.0,1,1.0,...,2.0,9.0,99999.0,26400.0,9999.0,2.0,2.0,1.0,2.0,NaN
13264,503,1,3,72.0,1.0,1.0,1983.0,99.0,1,9.0,...,1.0,9.0,1028.0,34400.0,359.0,2.0,1.0,1.0,2.0,NaN

In [17]:
# exporting to create individual dataframe for subanalysis
occupied.to_csv('/Users/isabellagermani/Desktop/MS THSS/data/rawindividualsOCC.csv')

In [18]:
# SEPERATE THING - PCT_GENTR REVISION (Identifying a household as gentrifiers if they make over 1.5x the median household income)
# And ACTIVE_GENTR (a smaller group of gentrifiers defined by income (making 1.5x median income) AND motivation (moved for specfic reasons - see data dictionary))

# loading in SBA to get the med hous inc
SBA = pd.read_csv('/Users/isabellagermani/Desktop/MS THSS/data/SBA.csv')
SBA['SBA'].dtype
SBA['med_hous_inc'].dtype

# mapping med_hous_incomes to SBA so i can match them to the household level SUBSET
sba_income_dict = SBA.set_index('SBA')['med_hous_inc'].to_dict()

# Creating subset to use for calculation of pct_gentr2.0 
SUBSET = NYCHVS2017[['SBA','Year moved In','Total Household Income','Reason for Move']].copy()
SUBSET 

# adding in med_household_income that i calculated in SBA
SUBSET['med_hous_inc'] = SUBSET['SBA'].astype(float).map(sba_income_dict).copy()
SUBSET

,SBA,Year moved In,Total Household Income,Reason for Move,med_hous_inc
0,101,1995.0,95000.0,99.0,26090
154,101,2013.0,6000.0,99.0,26090
155,101,2008.0,5052.0,99.0,26090
156,101,1992.0,76000.0,99.0,26090
157,101,2005.0,20000.0,99.0,26090
...,...,...,...,...,...
13086,503,1989.0,190000.0,99.0,120480
13085,503,1997.0,140600.0,99.0,120480
13084,503,2000.0,105000.0,99.0,120480
13090,503,1994.0,26400.0,99.0,120480
13264,503,1983.0,34400.0,99.0,120480

In [19]:
# now calculating gentr 2.0 & active gentr

# gentrifier
SUBSET['income_ratio'] = SUBSET['Total Household Income'] / SUBSET['med_hous_inc']
SUBSET['gentrifier'] = (SUBSET['income_ratio'] > 1.5).astype(float) # making more than 1.5x more than the median household income

# reason gentrifier (listed one of the reasons for move)
SUBSET['reason_gentrifier'] = (SUBSET['Reason for Move'].isin([3.0, 6.0, 10.0, 12.0, 13.0, 17.0, 19.0]).astype(float))

# ACTIVE gentrifier 
SUBSET['active_gentrifier'] = ((SUBSET['gentrifier'] + SUBSET['reason_gentrifier'] == 2)).astype(float)

# now adding back to the original df to aggregate in the next step
NYCHVS2017['Gentrifier'] = SUBSET['gentrifier']
NYCHVS2017['Active_Gentrifier'] = SUBSET['active_gentrifier']
NYCHVS2017

# & checking if that worked right
print('Total households: ', len(NYCHVS2017))
print('Total Gentrifiers: ', NYCHVS2017['Gentrifier'].sum())
print(f"Percentage: {(NYCHVS2017['Active_Gentrifier'].sum() / len(NYCHVS2017) * 100):.2f}%") 
print('Total Active Gentrifiers: ', NYCHVS2017['Active_Gentrifier'].sum())
print(f"Active Percentage: {(NYCHVS2017['Gentrifier'].sum() / len(NYCHVS2017) * 100):.2f}%")

Total households:  15135
Total Gentrifiers:  3383.0
Percentage: 3.18%
Total Active Gentrifiers:  481.0
Active Percentage: 22.35%

In [20]:
# adding gentrifiers who've moved in in the last 1 & 5 years

# FOR GENTRIFIERS
# recent gentrifier (5 yrs)
SUBSET['recent_gentrifier'] = ((SUBSET['gentrifier'] == 1) & (SUBSET['Year moved In'] >= 2013) & (SUBSET['Year moved In'] <= 2017))
SUBSET['recent_gentrifier'] = SUBSET['recent_gentrifier'].astype(float)
# new gentrifier (1 yr)
SUBSET['new_gentrifier'] = ((SUBSET['gentrifier'] == 1) & (SUBSET['Year moved In'] >= 2016) & (SUBSET['Year moved In'] <= 2017))
SUBSET['new_gentrifier'] = SUBSET['new_gentrifier'].astype(float)

# FOR ACTIVE GENTRIFIERS
# recent active gentrifier (5 yrs)
SUBSET['recent_active_gentrifier'] = ((SUBSET['active_gentrifier'] == 1) & (SUBSET['Year moved In'] >= 2013) & (SUBSET['Year moved In'] <= 2017))
SUBSET['recent_active_gentrifier'] = SUBSET['recent_active_gentrifier'].astype(float)
# new active gentrifier (1 yr)
SUBSET['new_active_gentrifier'] = ((SUBSET['active_gentrifier'] == 1) & (SUBSET['Year moved In'] >= 2016) & (SUBSET['Year moved In'] <= 2017))
SUBSET['new_active_gentrifier'] = SUBSET['new_active_gentrifier'].astype(float)

# adding them to NYCHVS2017
NYCHVS2017['Recent_Gentrifier'] = SUBSET['recent_gentrifier']
NYCHVS2017['New_Gentrifier'] = SUBSET['new_gentrifier']
NYCHVS2017['Recent_Active_Gentrifier'] = SUBSET['recent_active_gentrifier']
NYCHVS2017['New_Active_Gentrifier'] = SUBSET['new_active_gentrifier']
NYCHVS2017

# checks
print('Total gentrifiers: ', NYCHVS2017['Gentrifier'].sum())
print('Recent gentrifiers: ', NYCHVS2017['Recent_Gentrifier'].sum())
print('New gentrifiers: ', NYCHVS2017['New_Gentrifier'].sum())
print('Active gentrifiers: ', NYCHVS2017['Active_Gentrifier'].sum())
print('Recent active gentrifiers: ', NYCHVS2017['Recent_Active_Gentrifier'].sum())
print('New active gentrifiers: ', NYCHVS2017['New_Active_Gentrifier'].sum())
# noted that reason for move codes are only 2014 on, so there are no active gentrifiers before then

Total gentrifiers:  3383.0
Recent gentrifiers:  1292.0
New gentrifiers:  495.0
Active gentrifiers:  481.0
Recent active gentrifiers:  481.0
New active gentrifiers:  226.0

In [21]:
# RESTRUCTURING so each obs = 1 sba in 2017 (currently each obs is 1 household)
# making neighborhood-level df & storing new aggregated variables in it

NYCHVS_NEIGHBORHOOD_2017 = NYCHVS2017.groupby('SBA').agg(

    # HOUSING SUPPLY 
    vac_rt = ('Occupancy', lambda x: (x == 3).mean()), # Vacancy Rate: proportion of True values (vacant units) in each neighborhood
    condo = ('Condo/Coop', lambda x: (x == 2).mean()), # Percent condos
    coop = ('Condo/Coop', lambda x: (x == 3).mean()), # Percent coops

    # HOUSING QUALITY
    sound = ('Building Condition', lambda x: (x == 2).mean()), # Percent of buildings in "sound" condition (not dilapidated or deteriorating)
    deter = ('Building Condition', lambda x: (x == 3).mean()), # Percent of deteriorating buildings
    rats = ('Rats', lambda x: (x == 1.0).mean()), # Percent of units with rats present
    r_aches = ('R*aches', lambda x: x.isin([2.0,3.0,4.0]).mean()), # Percent of units with r*aches present

    # ECONOMIC VARIABLES
    
    afford = ('Affordability', lambda x: x.isin([1.0,2.0]).mean()), # Percent of residents who find their unit affordable
    unafford = ('Affordability', lambda x: x.isin([4.0,5.0]).mean()), # Percent of residents who find their unit unaffordable
    rent_burd = ('Rent % Income', lambda x: x[x.between(1.0,1000.0)].median() / 1000), # Median rent-to-income ratio (only accounting for values between 1 & 100%)

    # RESIDENTS
    avg_age = ('Age','mean'), # Avg Age
    howner = ('Tenure', lambda x: (x == 1.0).mean()), # Neighborhood homeownership rate
    immigrant = ('Immigrant', lambda x: (x == 1.0).mean()), # Proportion of immigrant residents
    med_year_moved_in = ('Year moved In', 'median'), # using median because it is probably highly affected by outliers
    med_length_res = ('Year moved In', lambda x: (2017 - x).median().astype(int)), # median length of residence
    recent_moves = ('Year moved In', lambda x: (x >= 2007.0).mean()), # Proportion of residents who moved-in within the last 10 years
    fresh_moves = ('Year moved In', lambda x: (x >= 2012.0).mean()), # Proportion of residents who moved-in within the last 5 years
    displaced = ('Reason for Move', lambda x: x.isin([16.0,18.0]).mean()), # Percent of people who may have been displaced to neighborhood (greater housing affordability/ evicted, displaced, or harassed)
    # NOT USED pct_gentr = ('Reason for Move', lambda x: x.isin([3.0, 6.0, 10.0, 12.0, 13.0, 17.0, 19.0]).mean()), #Percent of people who may have a higher probability of contributing to gentrification of neighborhood (wanted to establish seperate household, better neighborhood services, wanted to own, wanted better quality housing)

    # VACANT UNITS
    rennov = ('Reason Vacant', lambda x: x.isin([2.0,3.0]).mean()), # Percent of vacant units waiting to undergo or are currently undergoing rennovation

    # GENTR 2.O
    total_households = ('Gentrifier', 'count'),
    total_gentrifiers = ('Gentrifier', 'sum'),
    Recent_Gentrifier = ('Recent_Gentrifier', 'sum'),
    New_Gentrifier = ('New_Gentrifier', 'sum'),
    Active_Gentrifier = ('Active_Gentrifier', 'sum'),
    Recent_Active_Gentrifier = ('Recent_Active_Gentrifier', 'sum'),
    New_Active_Gentrifier = ('New_Active_Gentrifier', 'sum')

).reset_index()

# percent of households that are gentrifiers (as aggregated columns)
NYCHVS_NEIGHBORHOOD_2017['PCT_GENTR'] = (NYCHVS_NEIGHBORHOOD_2017['total_gentrifiers'] / NYCHVS_NEIGHBORHOOD_2017['total_households']) * 100
NYCHVS_NEIGHBORHOOD_2017['GENTR'] = (NYCHVS_NEIGHBORHOOD_2017['total_gentrifiers'] / NYCHVS_NEIGHBORHOOD_2017['total_households']) # proportion
# recent
NYCHVS_NEIGHBORHOOD_2017['recent_gentr'] = (NYCHVS_NEIGHBORHOOD_2017['Recent_Gentrifier'] / NYCHVS_NEIGHBORHOOD_2017['total_households']) # proportion
# new
NYCHVS_NEIGHBORHOOD_2017['new_gentr'] = (NYCHVS_NEIGHBORHOOD_2017['New_Gentrifier'] / NYCHVS_NEIGHBORHOOD_2017['total_households']) # proportion
# for actives...
NYCHVS_NEIGHBORHOOD_2017['PCT_ACTIVE_GENTR'] = (NYCHVS_NEIGHBORHOOD_2017['Active_Gentrifier'] / NYCHVS_NEIGHBORHOOD_2017['total_households']) * 100
NYCHVS_NEIGHBORHOOD_2017['ACTIVE_GENTR'] = (NYCHVS_NEIGHBORHOOD_2017['Active_Gentrifier'] / NYCHVS_NEIGHBORHOOD_2017['total_households']) # proportion
# recent
NYCHVS_NEIGHBORHOOD_2017['recent_active_gentr'] = (NYCHVS_NEIGHBORHOOD_2017['Recent_Active_Gentrifier'] / NYCHVS_NEIGHBORHOOD_2017['total_households']) 
# new
NYCHVS_NEIGHBORHOOD_2017['new_active_gentr'] = (NYCHVS_NEIGHBORHOOD_2017['New_Active_Gentrifier'] / NYCHVS_NEIGHBORHOOD_2017['total_households'])

In [22]:
# now deleting columns only used for calculation
NYCHVS_NEIGHBORHOOD_2017.drop(columns = ['total_households','total_gentrifiers','Recent_Gentrifier','New_Gentrifier','Active_Gentrifier','Recent_Active_Gentrifier','New_Active_Gentrifier'], inplace = True)

In [23]:
NYCHVS_NEIGHBORHOOD_2017

,SBA,vac_rt,condo,coop,sound,deter,rats,r_aches,afford,unafford,...,displaced,rennov,PCT_GENTR,GENTR,recent_gentr,new_gentr,PCT_ACTIVE_GENTR,ACTIVE_GENTR,recent_active_gentr,new_active_gentr
0,101,0.123967,0.016529,0.041322,0.962810,0.016529,0.334711,0.367769,0.615702,0.165289,...,0.020661,0.078512,23.140496,0.231405,0.074380,0.024793,3.719008,0.037190,0.037190,0.020661
1,102,0.137324,0.017606,0.028169,0.876761,0.049296,0.323944,0.313380,0.510563,0.147887,...,0.028169,0.077465,25.704225,0.257042,0.095070,0.042254,1.056338,0.010563,0.010563,0.003521
2,103,0.126531,0.012245,0.085714,0.971429,0.004082,0.338776,0.318367,0.436735,0.171429,...,0.024490,0.065306,24.489796,0.244898,0.077551,0.016327,3.265306,0.032653,0.032653,0.008163
3,104,0.084158,0.000000,0.014851,0.896040,0.024752,0.396040,0.455446,0.435644,0.262376,...,0.024752,0.059406,20.792079,0.207921,0.064356,0.024752,2.475248,0.024752,0.024752,0.009901
4,105,0.030303,0.010101,0.060606,0.944444,0.010101,0.303030,0.449495,0.535354,0.247475,...,0.010101,0.000000,25.757576,0.257576,0.106061,0.025253,4.040404,0.040404,0.040404,0.015152
5,106,0.076923,0.047337,0.248521,0.946746,0.029586,0.218935,0.301775,0.502959,0.142012,...,0.005917,0.005917,25.443787,0.254438,0.118343,0.041420,2.958580,0.029586,0.029586,0.011834
6,107,0.048872,0.165414,0.048872,0.883459,0.063910,0.236842,0.417293,0.545113,0.161654,...,0.011278,0.011278,24.436090,0.244361,0.063910,0.018797,2.255639,0.022556,0.022556,0.007519
7,108,0.076142,0.000000,0.467005,0.949239,0.005076,0.086294,0.131980,0.558376,0.076142,...,0.015228,0.005076,15.228426,0.152284,0.055838,0.015228,2.030457,0.020305,0.020305,0.015228
8,109,0.114943,0.000000,0.068966,0.959770,0.000000,0.189655,0.258621,0.522989,0.235632,...,0.011494,0.034483,20.689655,0.206897,0.040230,0.005747,1.724138,0.017241,0.017241,0.000000
9,110,0.115183,0.000000,0.047120,0.884817,0.052356,0.329843,0.298429,0.534031,0.183246,...,0.010471,0.026178,9.424084,0.094241,0.031414,0.015707,1.570681,0.015707,0.015707,0.010471
10,201,0.085616,0.109589,0.044521,0.897260,0.030822,0.130137,0.164384,0.595890,0.089041,...,0.023973,0.030822,28.767123,0.287671,0.191781,0.078767,10.616438,0.106164,0.106164,0.061644
11,202,0.116197,0.183099,0.161972,0.919014,0.042254,0.116197,0.165493,0.619718,0.066901,...,0.007042,0.038732,23.943662,0.239437,0.112676,0.056338,4.225352,0.042254,0.042254,0.031690
12,203,0.122951,0.040984,0.012295,0.893443,0.016393,0.315574,0.270492,0.590164,0.143443,...,0.028689,0.045082,28.688525,0.286885,0.172131,0.073770,5.327869,0.053279,0.053279,0.016393
13,204,0.111111,0.000000,0.000000,0.954545,0.015152,0.252525,0.267677,0.515152,0.156566,...,0.015152,0.050505,25.757576,0.257576,0.131313,0.050505,6.060606,0.060606,0.060606,0.020202
14,205,0.068966,0.015326,0.003831,0.888889,0.019157,0.199234,0.275862,0.616858,0.141762,...,0.022989,0.026820,29.118774,0.291188,0.034483,0.015326,0.766284,0.007663,0.007663,0.007663
15,206,0.116883,0.073593,0.194805,0.948052,0.030303,0.138528,0.181818,0.623377,0.077922,...,0.021645,0.021645,18.614719,0.186147,0.103896,0.030303,3.463203,0.034632,0.034632,0.021645
16,207,0.151042,0.020833,0.041667,0.921875,0.015625,0.104167,0.239583,0.479167,0.130208,...,0.015625,0.052083,23.958333,0.239583,0.078125,0.020833,3.125000,0.031250,0.031250,0.010417
17,208,0.173913,0.047826,0.021739,0.886957,0.026087,0.221739,0.256522,0.521739,0.121739,...,0.026087,0.082609,25.652174,0.256522,0.113043,0.043478,6.086957,0.060870,0.060870,0.034783
18,209,0.095960,0.020202,0.015152,0.858586,0.106061,0.297980,0.308081,0.520202,0.131313,...,0.010101,0.035354,22.727273,0.227273,0.070707,0.030303,2.020202,0.020202,0.020202,0.010101
19,210,0.045833,0.012500,0.079167,0.916667,0.050000,0.083333,0.183333,0.562500,0.125000,...,0.016667,0.020833,20.833333,0.208333,0.066667,0.016667,0.833333,0.008333,0.008333,0.008333
20,211,0.074534,0.024845,0.012422,0.913043,0.046584,0.065217,0.145963,0.649068,0.096273,...,0.009317,0.012422,25.155280,0.251553,0.090062,0.024845,3.726708,0.037267,0.037267,0.012422
21,212,0.081818,0.063636,0.050000,0.963636,0.018182,0.140909,0.213636,0.518182,0.118182,...,0.000000,0.022727,30.909091,0.309091,0.054545,0.013636,1.363636,0.013636,0.013636,0.004545
22,213,0.083700,0.074890,0.198238,0.947137,0.004405,0.083700,0.154185,0.568282,0.127753,...,0.008811,0.004405,34.361233,0.343612,0.092511,0.035242,2.202643,0.022026,0.022026,0.004405
23,214,0.080702,0.038596,0.115789,0.961404,0.003509,0.147368,0.210526,0.515789,0.150877,...,0.007018,0.024561,21.754386,0.217544,0.087719,0.031579,2.807018,0.028070,0.028070,0.010526
24,215,0.057348,0.028674,0.111111,0.964158,0.007168,0.064516,0.172043,0.594982,0.125448,...,0.010753,0.014337,27.956989,0.279570,0.089606,0.021505,4.659498,0.046595,0.046595,0.014337
25,216,0.084656,0.005291,0.005291,0.968254,0.000000,0.354497,0.423280,0.550265,0.201058,...,0.031746,0.037037,43.386243,0.433862,0.137566,0.063492,2.645503,0.026455,0.026455,0.005291
26,217,0.100000,0.020833,0.008333,0.945833,0.020833,0.283333,0.312500,0.475000,0.170833,...,0.020833,0.025000,18.333333,0.183333,0.045833,0.016667,1.250000,0.012500,0.012500,0.004167
27,218,0.107034,0.021407,0.033639,0.951070,0.033639,0.201835,0.217125,0.532110,0.110092,...,0.012232,0.030581,17.431193,0.174312,0.030581,0.009174,0.000000,0.000000,0.000000,0.000000
28,301,0.153439,0.148148,0.206349,0.925926,0.015873,0.087302,0.079365,0.582011,0.095238,...,0.018519,0.034392,22.751323,0.227513,0.121693,0.052910,6.084656,0.060847,0.060847,0.031746
29,302,0.146214,0.031332,0.093995,0.851175,0.104439,0.219321,0.292428,0.537859,0.093995,...,0.010444,0.060052,37.336815,0.373368,0.201044,0.083551,7.832898,0.078329,0.078329,0.036554
30,303,0.297778,0.168889,0.182222,0.948889,0.011111,0.080000,0.084444,0.444444,0.064444,...,0.015556,0.060000,18.222222,0.182222,0.106667,0.042222,4.666667,0.046667,0.046667,0.026667
31,304,0.237647,0.148235,0.242353,0.957647,0.007059,0.051765,0.072941,0.531765,0.037647,...,0.014118,0.023529,23.529412,0.235294,0.112941,0.037647,4.000000,0.040000,0.040000,0.011765
32,305,0.172211,0.138943,0.281800,0.978474,0.007828,0.111546,0.125245,0.569472,0.072407,...,0.011742,0.035225,22.309198,0.223092,0.123288,0.041096,4.696673,0.046967,0.046967,0.023483
33,306,0.259965,0.128250,0.357019,0.956672,0.003466,0.046794,0.071057,0.506066,0.046794,...,0.006932,0.034662,17.331023,0.173310,0.072790,0.029463,2.426343,0.024263,0.024263,0.010399
34,307,0.216292,0.036517,0.075843,0.921348,0.022472,0.235955,0.235955,0.522472,0.081461,...,0.008427,0.182584,20.224719,0.202247,0.095506,0.047753,3.370787,0.033708,0.033708,0.022472
35,308,0.249389,0.044010,0.051345,0.880196,0.075795,0.154034,0.190709,0.496333,0.102689,...,0.007335,0.215159,18.826406,0.188264,0.066015,0.036675,2.200489,0.022005,0.022005,0.014670
36,309,0.111554,0.007968,0.127490,0.916335,0.051793,0.167331,0.254980,0.577689,0.135458,...,0.007968,0.059761,22.310757,0.223108,0.099602,0.043825,4.780876,0.047809,0.047809,0.019920
37,310,0.104294,0.018405,0.073620,0.903885,0.059305,0.274029,0.308793,0.490798,0.147239,...,0.022495,0.053170,19.836401,0.198364,0.087935,0.030675,3.476483,0.034765,0.034765,0.014315
38,401,0.097701,0.040230,0.025862,0.948276,0.028736,0.074713,0.112069,0.678161,0.097701,...,0.022989,0.017241,23.563218,0.235632,0.132184,0.068966,4.022989,0.040230,0.040230,0.020115
39,402,0.056522,0.047826,0.091304,0.865217,0.026087,0.165217,0.239130,0.665217,0.108696,...,0.013043,0.004348,19.565217,0.195652,0.082609,0.039130,3.478261,0.034783,0.034783,0.021739
40,403,0.114504,0.019084,0.171756,0.958015,0.011450,0.213740,0.316794,0.591603,0.160305,...,0.022901,0.015267,14.885496,0.148855,0.041985,0.019084,1.145038,0.011450,0.011450,0.011450
41,404,0.046154,0.035897,0.097436,0.989744,0.005128,0.261538,0.430769,0.523077,0.241026,...,0.025641,0.015385,18.461538,0.184615,0.066667,0.020513,3.076923,0.030769,0.030769,0.010256
42,405,0.097179,0.012539,0.012539,0.993730,0.003135,0.100313,0.075235,0.504702,0.134796,...,0.000000,0.015674,20.376176,0.203762,0.047022,0.021944,2.507837,0.025078,0.025078,0.015674
43,406,0.110599,0.101382,0.368664,0.967742,0.004608,0.064516,0.096774,0.516129,0.101382,...,0.004608,0.013825,14.285714,0.142857,0.032258,0.023041,1.382488,0.013825,0.013825,0.004608
44,407,0.104712,0.107330,0.157068,0.945026,0.010471,0.070681,0.167539,0.502618,0.102094,...,0.018325,0.020942,28.795812,0.287958,0.089005,0.023560,1.832461,0.018325,0.018325,0.007853
45,408,0.076923,0.068376,0.170940,0.888889,0.008547,0.098291,0.175214,0.529915,0.102564,...,0.012821,0.008547,25.213675,0.252137,0.076923,0.029915,2.991453,0.029915,0.029915,0.012821
46,409,0.103774,0.018868,0.127358,0.948113,0.004717,0.103774,0.108491,0.542453,0.089623,...,0.014151,0.018868,15.566038,0.155660,0.066038,0.014151,2.830189,0.028302,0.028302,0.014151
47,410,0.089888,0.000000,0.078652,0.949438,0.011236,0.078652,0.095506,0.662921,0.084270,...,0.005618,0.022472,16.853933,0.168539,0.022472,0.011236,0.561798,0.005618,0.005618,0.005618
48,411,0.054945,0.043956,0.252747,0.906593,0.038462,0.032967,0.060440,0.664835,0.043956,...,0.016484,0.016484,20.879121,0.208791,0.038462,0.010989,1.098901,0.010989,0.010989,0.000000
49,412,0.051903,0.006920,0.107266,0.937716,0.017301,0.207612,0.166090,0.581315,0.173010,...,0.017301,0.006920,16.262976,0.162630,0.024221,0.003460,1.384083,0.013841,0.013841,0.000000
50,413,0.080000,0.016000,0.136000,0.920000,0.020000,0.120000,0.064000,0.592000,0.072000,...,0.008000,0.012000,15.600000,0.156000,0.028000,0.004000,1.200000,0.012000,0.012000,0.004000
51,414,0.104712,0.052356,0.125654,0.910995,0.031414,0.141361,0.193717,0.596859,0.094241,...,0.015707,0.041885,21.989529,0.219895,0.094241,0.057592,4.188482,0.041885,0.041885,0.026178
52,501,0.133562,0.030822,0.010274,0.856164,0.082192,0.113014,0.095890,0.650685,0.078767,...,0.010274,0.030822,19.178082,0.191781,0.065068,0.023973,2.054795,0.020548,0.020548,0.006849
53,502,0.109170,0.078603,0.000000,0.925764,0.030568,0.021834,0.021834,0.663755,0.074236,...,0.008734,0.034934,17.467249,0.174672,0.061135,0.021834,3.056769,0.030568,0.030568,0.013100
54,503,0.085502,0.063197,0.029740,0.907063,0.044610,0.022305,0.003717,0.643123,0.074349,...,0.003717,0.033457,17.843866,0.178439,0.029740,0.014870,0.743494,0.007435,0.007435,0.007435

In [24]:
# Exporting
NYCHVS_NEIGHBORHOOD_2017.to_csv('/Users/isabellagermani/Desktop/MS THSS/data/NYCHVS_NEIGHBORHOOD_2017.csv')