Subanalysis Dataset

In [1]:
import pandas as pd

In [2]:
OCCindividuals = pd.read_csv('/Users/isabellagermani/Desktop/MS THSS/data/rawindividualsOCC.csv', index_col = 0)

OCCindividuals = OCCindividuals[['SBA','Age','Hispanic','Race','Year moved In','Reason for Move','Tenure','Immigrant','Monthly Gross Rent','Total Household Income','Rent % Income','Welfare','General Health','Number of persons in household','Gender']].copy()
OCCindividuals

,SBA,Age,Hispanic,Race,Year moved In,Reason for Move,Tenure,Immigrant,Monthly Gross Rent,Total Household Income,Rent % Income,Welfare,General Health,Number of persons in household,Gender
0,101,65,4,2,1995,99,1,9,99999,95000,9999,2,3,2,2
1,101,41,2,1,2015,14,9,9,1227,21372,0,1,5,4,2
2,101,48,5,2,2012,99,9,1,1675,33000,609,2,1,3,2
3,101,55,5,1,1995,99,9,1,1011,39655,0,1,5,2,2
4,101,63,5,1,1996,99,1,1,99999,45952,9999,2,4,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13261,502,73,1,1,1960,99,9,9,495,24636,241,2,1,2,2
13262,503,47,1,1,1993,99,1,9,99999,17800,9999,2,3,1,1
13263,503,57,1,1,1987,99,1,9,99999,42000,9999,2,8,3,1
13264,503,72,1,1,1983,99,9,9,1028,34400,359,2,1,1,2
13265,503,82,1,1,1969,99,9,9,340,17126,238,1,4,1,2

In [3]:
SBA = pd.read_csv('/Users/isabellagermani/Desktop/MS THSS/data/SBA.csv', index_col = 0)
SBA.head(5)

,SBA,SBA_name,med_hous_inc,FL_loans,FL_loans_2_LI,inc_gap_ratio,mort_forc,pov_rate,asian,black,...,resilience_index,family_index,necessary_amenities_index,unnecessary_amenities_index,amenity_ratio,condocoop,decay,not_sound,rent_gap_index,displ_pressure_index
0,101,Mott Haven/Hunts Point,26090,0.300,1.000,5.9,70.0,0.442,0.003,0.284,...,34.545455,73.333333,66.060606,24.545455,0.371560,0.057851,0.053719,0.037190,63.636364,62.727273
1,102,Morrisania/Belmont,32330,0.534,1.000,6.2,115.0,0.358,0.013,0.325,...,5.454545,66.666667,60.909091,30.454545,0.500000,0.045775,0.172535,0.123239,78.181818,82.272727
2,103,Highbridge/South Concourse,38460,0.103,1.000,5.6,38.0,0.364,0.010,0.277,...,12.727273,36.363636,49.090909,43.636364,0.888889,0.097959,0.032653,0.028571,70.909091,55.454545
3,104,University Heights/Fordham,37550,0.548,1.000,5.8,53.0,0.364,0.018,0.244,...,21.818182,57.575758,37.575758,17.727273,0.471774,0.014851,0.128713,0.103960,65.454545,72.954545
4,105,Kingsbridge Heights/Mosholu,44000,0.096,0.667,5.7,25.0,0.329,0.071,0.113,...,23.636364,64.848485,52.121212,5.000000,0.095930,0.070707,0.065657,0.055556,50.909091,57.272727

In [4]:
# checking to make sure right type
print(SBA['SBA'].dtype)
print(OCCindividuals['SBA'].dtype)

int64
int64

In [5]:
# checking length
print(len(SBA))
print(len(OCCindividuals))

55
13266

In [6]:
# merging OCCindividuals & SBA on SBA

# LEFT merge 
subanalysis_merged = pd.merge(
    left = OCCindividuals,          
    right = SBA,                
    on = 'SBA',                  
    how = 'left'              
)
subanalysis_merged

,SBA,Age,Hispanic,Race,Year moved In,Reason for Move,Tenure,Immigrant,Monthly Gross Rent,Total Household Income,...,resilience_index,family_index,necessary_amenities_index,unnecessary_amenities_index,amenity_ratio,condocoop,decay,not_sound,rent_gap_index,displ_pressure_index
0,101,65,4,2,1995,99,1,9,99999,95000,...,34.545455,73.333333,66.060606,24.545455,0.371560,0.057851,0.053719,0.037190,63.636364,62.727273
1,101,41,2,1,2015,14,9,9,1227,21372,...,34.545455,73.333333,66.060606,24.545455,0.371560,0.057851,0.053719,0.037190,63.636364,62.727273
2,101,48,5,2,2012,99,9,1,1675,33000,...,34.545455,73.333333,66.060606,24.545455,0.371560,0.057851,0.053719,0.037190,63.636364,62.727273
3,101,55,5,1,1995,99,9,1,1011,39655,...,34.545455,73.333333,66.060606,24.545455,0.371560,0.057851,0.053719,0.037190,63.636364,62.727273
4,101,63,5,1,1996,99,1,1,99999,45952,...,34.545455,73.333333,66.060606,24.545455,0.371560,0.057851,0.053719,0.037190,63.636364,62.727273
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13261,502,73,1,1,1960,99,9,9,495,24636,...,60.000000,14.242424,28.484848,48.181818,1.691489,0.078603,0.104803,0.074236,32.727273,42.272727
13262,503,47,1,1,1993,99,1,9,99999,17800,...,79.090909,3.333333,27.878788,28.636364,1.027174,0.092937,0.137546,0.092937,41.818182,45.000000
13263,503,57,1,1,1987,99,1,9,99999,42000,...,79.090909,3.333333,27.878788,28.636364,1.027174,0.092937,0.137546,0.092937,41.818182,45.000000
13264,503,72,1,1,1983,99,9,9,1028,34400,...,79.090909,3.333333,27.878788,28.636364,1.027174,0.092937,0.137546,0.092937,41.818182,45.000000
13265,503,82,1,1,1969,99,9,9,340,17126,...,79.090909,3.333333,27.878788,28.636364,1.027174,0.092937,0.137546,0.092937,41.818182,45.000000

In [7]:
# double checking length post-merge
len(subanalysis_merged)

13266

In [8]:
# constructing displaced binary column
displacement_codes = [16, 18]

subanalysis_merged['Displaced'] = subanalysis_merged['Reason for Move'].isin(displacement_codes).astype(int)

# verification
print('Number Displaced: ', subanalysis_merged['Displaced'].sum())
print('Not displaced: ', len(subanalysis_merged) - subanalysis_merged['Displaced'].sum())
print('Missing Reason for Move: ', subanalysis_merged['Reason for Move'].isna().sum())

Number Displaced:  216
Not displaced:  13050
Missing Reason for Move:  0

In [9]:
# constructing gentrified & active gentrified binary columns
gentrification_codes = [3, 6, 10, 12, 13, 14, 17, 19]

# conditions
reason_condition = subanalysis_merged['Reason for Move'].isin(gentrification_codes)
income_condition = subanalysis_merged['Total Household Income'] >= (1.5 * subanalysis_merged['med_hous_inc'])

subanalysis_merged['Gentrified'] = (income_condition).astype(int)
subanalysis_merged['Active Gentrified'] = (reason_condition & income_condition).astype(int)

# verification
print('Number Gentrified (income only): ', subanalysis_merged['Gentrified'].sum())
print('Not Gentrified: ', len(subanalysis_merged) - subanalysis_merged['Gentrified'].sum())
print('Number Active Gentrified (both conditions): ', subanalysis_merged['Active Gentrified'].sum())
print('Not Active Gentrified: ', len(subanalysis_merged) - subanalysis_merged['Active Gentrified'].sum())

Number Gentrified (income only):  3383
Not Gentrified:  9883
Number Active Gentrified (both conditions):  558
Not Active Gentrified:  12708

In [10]:
# constructing hispanic
Hispanic_codes = [2,3,4,5,6,7]

subanalysis_merged['is_hispanic'] = subanalysis_merged['Hispanic'].isin(Hispanic_codes).astype(int)

# verification
print('Number Hispanic: ', subanalysis_merged['is_hispanic'].sum())
print('Not Hispanic: ', len(subanalysis_merged) - subanalysis_merged['is_hispanic'].sum())

Number Hispanic:  3230
Not Hispanic:  10036

In [11]:
# constructing races
black_code = [2]
white_code = [1]
asian_codes = [4,5,6,7,8]

subanalysis_merged['is_black'] = subanalysis_merged['Race'].isin(black_code).astype(int)
subanalysis_merged['is_white'] = subanalysis_merged['Race'].isin(white_code).astype(int)
subanalysis_merged['is_asian'] = subanalysis_merged['Race'].isin(asian_codes).astype(int)

# verification
print('Number Black: ', subanalysis_merged['is_black'].sum())
print('Not Black: ', len(subanalysis_merged) - subanalysis_merged['is_black'].sum())
print('Number White: ', subanalysis_merged['is_white'].sum())
print('Not White: ', len(subanalysis_merged) - subanalysis_merged['is_white'].sum())
print('Number Asian: ', subanalysis_merged['is_asian'].sum())
print('Not Asian: ', len(subanalysis_merged) - subanalysis_merged['is_asian'].sum())

Number Black:  3502
Not Black:  9764
Number White:  7681
Not White:  5585
Number Asian:  1687
Not Asian:  11579

In [12]:
# constructing immigrant
immigrant_code = [1]

subanalysis_merged['is_immigrant'] = subanalysis_merged['Immigrant'].isin(immigrant_code).astype(int)

# verification
print('Number Immigrants: ', subanalysis_merged['is_immigrant'].sum())

Number Immigrants:  4447

In [13]:
# handling strange values
subanalysis_merged = subanalysis_merged[(subanalysis_merged['Total Household Income'] >= 1) & (subanalysis_merged['Total Household Income'] <= 9999997)] # topcode amt
subanalysis_merged = subanalysis_merged[(subanalysis_merged['Monthly Gross Rent'] >= 1) & (subanalysis_merged['Monthly Gross Rent'] <= 5995)] # topcode amt
subanalysis_merged = subanalysis_merged[(subanalysis_merged['Rent % Income'] >= 1) & (subanalysis_merged['Rent % Income'] <= 1010)]
subanalysis_merged = subanalysis_merged[(subanalysis_merged['General Health'] >= 1) & (subanalysis_merged['General Health'] <= 5)]
subanalysis_merged['Tenure'] = subanalysis_merged['Tenure'].replace(9, 0)
subanalysis_merged['Gender'] = subanalysis_merged['Gender'].replace(1, 0) # M
subanalysis_merged['Gender'] = subanalysis_merged['Gender'].replace(2, 1) # F
subanalysis_merged['Welfare'] = subanalysis_merged['Welfare'].replace(2, 0)

# converting rent % income to percentages
temporary = subanalysis_merged['Rent % Income'].astype(str).str.zfill(4)
subanalysis_merged['Rent % Income'] = temporary.str[:3].astype(int) + (temporary.str[3].astype(int) / 10) # to get percent

In [14]:
subanalysis_merged = subanalysis_merged[['SBA','Displaced','Gentrified','Active Gentrified','Age','is_hispanic','is_black','is_white','is_asian','is_immigrant','Year moved In','Tenure','Monthly Gross Rent','Total Household Income','Rent % Income','Welfare','General Health','Number of persons in household','Gender']]

In [15]:
subanalysis_merged

,SBA,Displaced,Gentrified,Active Gentrified,Age,is_hispanic,is_black,is_white,is_asian,is_immigrant,Year moved In,Tenure,Monthly Gross Rent,Total Household Income,Rent % Income,Welfare,General Health,Number of persons in household,Gender
2,101,0,0,0,48,1,1,0,0,1,2012,0,1675,33000,60.9,0,1,3,1
5,101,0,0,0,51,1,0,1,0,0,1996,0,1020,16239,75.4,1,2,2,1
6,101,0,0,0,76,1,0,1,0,0,1974,0,750,24000,37.5,0,2,2,1
7,101,0,1,0,29,1,0,1,0,0,2014,0,1700,60000,34.0,0,2,2,0
8,101,0,0,0,75,1,0,1,0,1,1993,0,600,12000,60.0,1,4,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13259,501,0,0,0,38,0,0,1,0,0,2017,0,1671,80000,25.1,0,2,1,0
13260,501,0,0,0,52,0,1,0,0,1,2017,0,1380,40000,41.4,0,3,2,1
13261,502,0,0,0,73,0,0,1,0,0,1960,0,495,24636,24.1,0,1,2,1
13264,503,0,0,0,72,0,0,1,0,0,1983,0,1028,34400,35.9,0,1,1,1
13265,503,0,0,0,82,0,0,1,0,0,1969,0,340,17126,23.8,1,4,1,1

In [16]:
# Exporting
subanalysis_merged.to_csv('/Users/isabellagermani/Desktop/MS THSS/data/subanalysis.csv')